<div class="row text-center">
	<div class="col-lg-offset-1 col-lg-2 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
		<%=image_tag 'index/team_1.png', class: 'img-circle team_about_avatar' %>
	 	<div class="team_about_ch_name"><span>楊 岳勳</span></div>
	 	<div class="team_about_en_name">Yueh-shun Yang</div>
	 	<div class="team_about_title">發起人</div>
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>台灣大學法律學研究所</li>
				<li>經歷：達勝創投</li>	
			</ul>
	 	</div>
	
	</div>
	<div class="col-lg-2 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
		<%=image_tag 'index/team_2.png', class: 'img-circle team_about_avatar'%>
		<div class="team_about_ch_name"><span>林 起</span></div>
		<div class="team_about_en_name">Benny Lin</div>
		<div class="team_about_title">程式技術</div>	 
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>交通大學電控研究所</li>	 
				<li>經歷：从人設計坊</li>		
			</ul>
	 	</div>	
	</div>
	<div class="col-lg-2 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
	 	<%=image_tag 'index/team_3.png', class: 'img-circle team_about_avatar'%>
	 	<div class="team_about_ch_name"><span>張 鈞堯</span></div>
		<div class="team_about_en_name">Chun-Yao Chang</div>	 
	 	<div class="team_about_title">業務規劃</div>	 	 
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>中央大學企業管理研究所</li>	 
				<li>經歷：外交部國際青年大使</li>			
			</ul>
	 	</div>	
	</div>
	<div class="col-lg-offset-0 col-lg-2 col-sm-offset-2 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
		<%=image_tag 'index/team_4.png', class: 'img-circle team_about_avatar'%>
		<div class="team_about_ch_name"><span>魏 昱愷</span></div>
		<div class="team_about_en_name">Yu-kai Wei</div>
		<div class="team_about_title">行銷規劃</div>	 	 
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>中興大學行銷研究所</li>	 
				<li>經歷：ChaMining茶農文創</li>			
			</ul>
	 	</div>	
	</div>
	<div class="col-lg-2 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
	 	<%=image_tag 'index/team_5.png', class: 'img-circle team_about_avatar'%>
	 	<div class="team_about_ch_name"><span>陳 奕銘</span></div>
	 	<div class="team_about_en_name">Yi-Ming Chen</div>
	 	<div class="team_about_title">營運規劃</div>	 	 	 
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>台灣大學經濟學系</li>
				<li>經歷：台灣大學學生會</li>	
			</ul>
	 	</div>	
	</div>
</div>