<% products.each_slice(4) do |p|%> 
	<div class="row">
		<% p.each_with_index do |pp, index|%>
			<div class="col-sm-6 col-lg-3 product_index_container text-center">					
			<%= link_to pp do%>
				<div class="product_index_image_container" style="background-image: url('<%=pp.cover.url%>')">		
					<div class="product_index_delicious_container">
						<!--
						<span class="product_index_delicious_sum" data-count="<%= pp.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_DELICIOUS']).count + pp.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_TASTY']).count %>">0</span>人說好吃
						-->
						<span class="product_index_delicious_sum" data-count="<%= Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ?', pp.product_boxings.first.id, true ).sum(:quantity) %>">0</span> 箱已賣出						
					</div>					
				</div>
				<div class="product_index_name"><%if pp.released_at > Time.zone.now %>[預購]<%end%><%= pp.name%><%= "%g" % pp.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(pp.unit).first %></div>				
				<div class="product_index_company_name"><%= pp.company.name%></div>				
				<div class="product_index_fruits_icons">
					<%if pp.GAP_c%><%=image_tag 'gap.png', class: '', style: 'height: 45px; width: 45px;'  %><%end%>		      
					<%if pp.TAP_c%><%=image_tag 'tap.png', class: '', style: 'height: 40px; width: 40px;'  %><%end%>		      		      
					<%if pp.OTAP_c%><%=image_tag 'otap.png', class: '', style: 'height: 40px; width: 40px;'  %><%end%>		      		      
					<%if pp.UTAP_c%><%=image_tag 'utap.png', class: '', style: 'height: 40px; width: 40px;'  %><%end%>				    	
					<%if pp.pesticide_qualified_c%><%=image_tag 'pesticide_qualified.png', class: '', style: 'height: 45px; width: 45px;'  %><%end%>	
					<%if pp.pesticide_zero_c%><%=image_tag 'pesticide_zero.png', class: '', style: 'height: 45px; width: 45px;'  %><%end%>						
					<%unless pp.sweet_degree.blank?%><%=image_tag 'sweet_degree/'+pp.sweet_degree.to_s+'.png', class: '', style: 'height: 35px; width: 55px;' %><%end%>				    
			    </div>					 			
			<%end%>		 				
			</div>	
		<%end%>	
	</div>			
<%end%>	

<script>
var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter"}});
new ScrollMagic.Scene({triggerElement: ".product_index_delicious_sum"})
		.addTo(controller)
		.on('start', function(e){
			$('.product_index_delicious_sum').each(function () {
			  var $this = $(this);
			  jQuery({ Counter: 0 }).animate({ Counter: $this.attr("data-count") }, {
			    duration: 1000,
			    easing: 'swing',
			    step: function () {
			      $this.text(Math.floor(this.Counter));
			    },
			  	complete: function() {
			  		$this.html($this.attr("data-count"));
			  	}		    
			  });
			});					
		});	
</script>