<% products.where(available_c: true, deleted_c: false).order(priority: :desc, id: :desc).each_slice(4) do |p|%> 
	<div class="row" style="padding-bottom: 80px;">
		<% p.each_with_index do |pp, index|%>
				<div class="col-sm-3 farm_fruits">					
				<%= link_to pp do%>
					<div class="farm_fruits_container">
					<%= image_tag pp.cover.url(:medium), class: 'img-circle farm_fruits_img', size: '150x150' %>			
					<div class="farm_fruits_name">
					<%if pp.released_at > Time.now %>【預購】<%end%><%= pp.name%><%= "%g" % pp.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(pp.unit).first %>					
					</div>	  
					<div class="farm_fruits_farm_name">
					<%= pp.company.name%>
					</div>						
					<div class="farm_fruits_price">
					<%= pp.product_boxings.first.product_pricings.first.price.to_i + shippingRates(cold_chain: pp.cold_chain, size: pp.product_boxings.first.size) %>元(含運)
				    </div>
				    <div class="farm_fruits_reviews">
						<span class="farm_fruits_excellent" data-count="<%= pp.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_DELICIOUS']).count + pp.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_TASTY']).count %>"></span> <span class="farm_fruits_excellent_text">人說好吃</span>
				    </div>	
				    <div class="farm_fruits_icons">
						<%if pp.GAP_c%><%=image_tag 'gap.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>		      
						<%if pp.TAP_c%><%=image_tag 'tap.png', class: '', style: 'height: 45px; width: 45px;'  %><%end%>		      		      
						<%if pp.OTAP_c%><%=image_tag 'otap.png', class: '', style: 'height: 45px; width: 45px;'  %><%end%>		      		      
						<%if pp.UTAP_c%><%=image_tag 'utap.png', class: '', style: 'height: 45px; width: 45px;'  %><%end%>				    	
						<%if pp.pesticide_qualified_c%><%=image_tag 'pesticide_qualified.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>	
						<%if pp.pesticide_zero_c%><%=image_tag 'pesticide_zero.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>						
						<%unless pp.sweet_degree.blank?%><%=image_tag 'sweet_degree/'+pp.sweet_degree.to_s+'.png', class: '', style: 'height: 38px; width: 50px;' %><%end%>				    
				    </div>	
				    </div>				    
				<%end%>		 				
				</div>	
		<%end%>	
	</div>		
<%end%>	