<% inventory = product.inventory - Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ? and invoices.allpay_expired_at > ? ', product.product_boxings.first.id, false, Time.zone.now ).sum(:quantity) %>		
<%case slice%>
<%when 4%>
<div class="col-sm-6 col-lg-3 product_index_container text-center">	
<%when 3%>	
<div class="col-sm-offset-1 col-sm-3 product_index_container text-center">					
<%end%>				
<%= link_to product do%>
	<div class="product_index_image_container" style="background-image: url('<%=product.cover.url(:medium)%>')">		
		<%if inventory==0%>
		<div class="product_index_sold_out_container">
			<span class="product_index_sold_out">已搶購完</span>
		</div>
		<%end%>
		<!--
		<div class="product_index_delicious_container">
			<span class="product_index_delicious_sum" data-count="<%= product.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_DELICIOUS']).count + product.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_TASTY']).count %>">0</span>人說好吃
			<span class="product_index_delicious_sum" data-count="<%= Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ?', product.product_boxings.first.id, true ).sum(:quantity) %>">0</span> <span class="product_index_delicious_word">箱已賣出</span>						
		</div>
		-->					
	</div>
	<div class="product_index_name"><%= product.name%><%= "%g" % product.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(product.unit).first %></div>				
	<div class="product_index_company_name"><%= product.company.name%> |				
		<% pricing = product.product_boxings.first.product_pricings.first %>
		<%if product.discount!=1%>
			<s><small><%= ((pricing.price.to_i + shippingRates(cold_chain: pricing.product_boxing.product.cold_chain, box_size: pricing.product_boxing.size, quantity: pricing.quantity ))/product.product_boxings.first.quantity).round(1) %></small></s> <span class="product_index_price"><%=number_with_delimiter( (priceWithShippingRates( product_boxing: pricing.product_boxing, quantity: pricing.quantity )/product.product_boxings.first.quantity).round(1), delimiter: ',')%> <span style="font-size: 80%">元/<%= Hash[unitOptions].rassoc(product.unit).first %></span></span>					
		<%else%>
			<span class="product_index_price"><%=number_with_delimiter( (priceWithShippingRates( product_boxing: product.product_boxings.first, quantity: pricing.quantity)/product.product_boxings.first.quantity).round(1), delimiter: ',')%> <span style="font-size: 80%">元/<%= Hash[unitOptions].rassoc(product.unit).first %></span></span>
		<%end%>				
	</div>
	<!--
	<div class="product_index_fruits_icons">
		<%if product.GAP_c%><%=image_tag 'gap.png', class: '', style: 'height: 42px; width: 42px;'  %><%end%>		      
		<%if product.TAP_c%><%=image_tag 'tap.png', class: '', style: 'height: 38px; width: 38px;'  %><%end%>		      		      
		<%if product.OTAP_c%><%=image_tag 'otap.png', class: '', style: 'height: 38px; width: 38px;'  %><%end%>		      		      
		<%if product.UTAP_c%><%=image_tag 'utap.png', class: '', style: 'height: 38px; width: 38px;'  %><%end%>				    	
		<%if product.pesticide_qualified_c%><%=image_tag 'pesticide_qualified.png', class: '', style: 'height: 40px; width: 40px;'  %><%end%>	
		<%if product.pesticide_zero_c%><%=image_tag 'pesticide_zero.png', class: '', style: 'height: 40px; width: 40px;'  %><%end%>						
		<%unless product.sweet_degree.blank?%><%=image_tag 'sweet_degree/'+product.sweet_degree.to_s+'.png', class: '', style: 'height: 30px; width: 50px;' %><%end%>				    
	</div>	-->				 			
<%end%>		 				
</div>	