<div class="container main_frontend">	
<div class="row text-center">
	<div class="col-md-offset-2 col-md-8">
		<h2 class="index_title">關於小農1號</h2>
		<div class="text-left index_content">
			小農1號的使命是「讓人人都能享受新鮮健康的農產品，讓認真努力的農民發光發熱」 在小農1號，消費者可以輕易的找到認真耕耘的小農，並用實惠的價格獲得優質的農產品。<br><br>
			小農1號致力於打造一個讓消費者與小農能夠安心對話的環境，用科技真正的連結消費者與生產者，同時拉近人與食物的距離。
		</div>
	</div>
</div>		
<div class="row text-center">
	<div class="col-md-offset-2 col-md-8">
		<%=image_tag 'index/giant_logo.png', class: "index_about_logo" %>
	</div>
</div>	
<div class="row text-center" style="border-bottom: 1px solid #e7e7e7; padding-bottom: 40px;">
	<div class="col-md-offset-2 col-md-8">
		<div class="text-left index_content">
			小農1號的logo是一個內含三個圓圈的蓮霧。<br><br>
			蓮霧其實不是台灣的原生種水果，它是荷蘭人在十七世紀初從印尼引進。<br><br>
			我們想藉由蓮霧來象徵這塊土地最美好的價值，也是小農1號的核心價值━平等。她接納了來自各地的水果、還有人們，不管來自何方，大家都在這裡落地生根，並且發光發熱。<br><br>		
			三個圈圈則則代表了我們的三大堅持：<br><br>	
			<span style="color: #433E3C;">公開透明：</span>真實揭露生產者、生產地、產品分級、檢驗標章等資訊，讓您安心。<br><br>
			<span style="color: #433E3C;">回饋互助：</span>小農用心種植，小農之友安心支持，形成良好的循環，讓台灣農業更好。<br><br>
			<span style="color: #433E3C;">公正評價：</span>沒有過多的銷售術語─產品品質到底好不好？身為美食家的您來評定！
		</div>
	</div>
</div>	
<div class="row text-center">
	<div class="col-md-offset-2 col-md-8">
		<h2 class="index_title">關於小農1號團隊</h2>
		<div class="text-left index_content">
		我們是一群都市小孩與鄉下小孩組成的團隊。在離家的這幾年間，隨著年紀越來越大，回家的時間也越來越少。一直希望能為家鄉做點什麼事，但卻沒有什麼頭緒。在因緣際會下，我們五個人湊在一起，在2015年年初組成了小農1號。我們來自不同的領域，法律、電機、行銷、企管、經濟，但我們都關心這塊土地，想一起用科技改變農業。			
		</div>
	</div>
</div>	
<div class="row">		
	<div class="hidden-xs col-md-12 col-lg-offset-1 col-lg-10 team_about_container_left">	
		<%=image_tag 'index/team_1.png', class: 'img-circle team_about_avatar_left' %>	
		<div class="team_about_text_container_left">	
			<div class="team_about_text_title">楊岳勳  / 創辦人</div>
			<div class="team_about_text_content">
			雲林人，畢業於台灣大學法律系，就讀台灣大學法律研究所。雖然念的是法律，卻在因緣際會下開始了小農1號。法學教育最強調的價值就是平等，想做的事情就是把這個美好的價值帶到台灣農業裡。			
			</div>			
		</div>
	</div>				
	<div class="visible-xs-block col-xs-12 team_about_container_center text-center">		
		<%=image_tag 'index/team_1.png', class: 'img-circle team_about_avatar_center' %>	
		<div class="col-xs-12 team_about_text_container_center">	
			<div class="team_about_text_title">楊岳勳  / 創辦人</div>
			<div class="team_about_text_content">
				雲林人，畢業於台灣大學法律系，就讀台灣大學法律研究所。雖然念的是法律，卻在因緣際會下開始了小農1號。法學教育最強調的價值就是平等，想做的事情就是把這個美好的價值帶到台灣農業裡。			
			</div>					
		</div>
	</div>	
</div>
<div class="row">		
	<div class="hidden-xs col-md-12 col-lg-offset-1 col-lg-10 team_about_container_right">	
		<%=image_tag 'index/team_2.png', class: 'img-circle team_about_avatar_right' %>	
		<div class="team_about_text_container_right">	
			<div class="team_about_text_title">林   起 /  創辦人</div>
			<div class="team_about_text_content">
			台北人，畢業於交通大學電機系，就讀交通大學電控研究所。雖然是理工人，但內心充滿社會學的批判思維與鄉土意識。念的是電控，但主攻資訊工程。想做的不多，就只是運用所學，多幫助一些人，讓台灣變得更好。			
			</div>			
		</div>
	</div>				
	<div class="visible-xs-block col-xs-12 team_about_container_center text-center">		
		<%=image_tag 'index/team_2.png', class: 'img-circle team_about_avatar_center' %>	
		<div class="col-xs-12 team_about_text_container_center">	
			<div class="team_about_text_title">林   起 /  創辦人</div>
			<div class="team_about_text_content">
			台北人，畢業於交通大學電機系，就讀交通大學電控研究所。雖然是理工人，但內心充滿社會學的批判思維與鄉土意識。念的是電控，但主攻資訊工程。想做的不多，就只是運用所學，多幫助一些人，讓台灣變得更好。			
			</div>					
		</div>
	</div>	
</div>
<div class="row">		
	<div class="hidden-xs col-md-12 col-lg-offset-1 col-lg-10 team_about_container_left">	
		<%=image_tag 'index/team_3.png', class: 'img-circle team_about_avatar_left' %>	
		<div class="team_about_text_container_left">	
			<div class="team_about_text_title">張鈞堯 / 創辦人</div>
			<div class="team_about_text_content">
			台北人，畢業於政治大學公共行政系與中央大學企業管理研究所，不想從政而跑去念企管，卻無法忘記社會，因緣際會中投入了農業，在上山下海的過程中，發現原來走出沒有捷運的地方，自己也能悠遊自在。			
			</div>			
		</div>
	</div>				
	<div class="visible-xs-block col-xs-12 team_about_container_center text-center">		
		<%=image_tag 'index/team_3.png', class: 'img-circle team_about_avatar_center' %>	
		<div class="col-xs-12 team_about_text_container_center">	
			<div class="team_about_text_title">張鈞堯 / 創辦人</div>
			<div class="team_about_text_content">
			台北人，畢業於政治大學公共行政系與中央大學企業管理研究所，不想從政而跑去念企管，卻無法忘記社會，因緣際會中投入了農業，在上山下海的過程中，發現原來走出沒有捷運的地方，自己也能悠遊自在。			
			</div>					
		</div>
	</div>	
</div>
<div class="row">		
	<div class="hidden-xs col-md-12 col-lg-offset-1 col-lg-10 team_about_container_right">	
		<%=image_tag 'index/team_4.png', class: 'img-circle team_about_avatar_right' %>	
		<div class="team_about_text_container_right">	
			<div class="team_about_text_title">魏昱愷 / 創辦人</div>
			<div class="team_about_text_content">
			雲林人，畢業於中興大學行銷學研究所，是茶行第二代，笑起來很親民。致力於運用所知所學讓農業年輕化，希望能用自己的一點專業與知識，為農業加入新血，帶來更多活力。
			</div>			
		</div>
	</div>				
	<div class="visible-xs-block col-xs-12 team_about_container_center text-center">		
		<%=image_tag 'index/team_4.png', class: 'img-circle team_about_avatar_center' %>	
		<div class="col-xs-12 team_about_text_container_center">	
			<div class="team_about_text_title">魏昱愷 / 創辦人</div>
			<div class="team_about_text_content">
			雲林人，畢業於中興大學行銷學研究所，是茶行第二代，笑起來很親民。致力於運用所知所學讓農業年輕化，希望能用自己的一點專業與知識，為農業加入新血，帶來更多活力。
			</div>					
		</div>
	</div>	
</div>
<div class="row">		
	<div class="hidden-xs col-md-12 col-lg-offset-1 col-lg-10 team_about_container_left">	
		<%=image_tag 'index/team_5.png', class: 'img-circle team_about_avatar_left' %>	
		<div class="team_about_text_container_left">	
			<div class="team_about_text_title">陳奕銘 / 創辦人</div>
			<div class="team_about_text_content">
			雲林人，就讀台灣大學經濟系，熱衷於用所學的經濟學模型去解釋社會現象。成立小農1號是希望用科技改變農業，找到農產供需的平衡點。
			</div>			
		</div>
	</div>				
	<div class="visible-xs-block col-xs-12 team_about_container_center text-center">		
		<%=image_tag 'index/team_5.png', class: 'img-circle team_about_avatar_center' %>	
		<div class="col-xs-12 team_about_text_container_center">	
			<div class="team_about_text_title">陳奕銘 / 創辦人</div>
			<div class="team_about_text_content">
			雲林人，就讀台灣大學經濟系，熱衷於用所學的經濟學模型去解釋社會現象。成立小農1號是希望用科技改變農業，找到農產供需的平衡點。
			</div>					
		</div>
	</div>	
</div>
</div>
