<div class="container-fluid main_frontend">	
<div class="row text-center">
	<div class="col-lg-offset-1 col-lg-10">
		<div>關於小農1號</div>
		<div>
			小農1號的使命是「讓人人都能夠享受到新鮮健康的農產品」。在小農1號，消費者可以輕易的找到認真耕耘的小農，並用實惠的價格獲得優質的農產品。<br>
			小農1號致力於打造一個讓消費者與小農能夠安心對話的環境，用科技真正的連結消費者與生產者，同時拉近人與食物的距離。
		</div>
	</div>
</div>		
<div class="row text-center">
	<div class="col-lg-offset-1 col-lg-10">
		<%=image_tag 'index/giant_logo.png' %>
	</div>
</div>	
<div class="row text-center">
	<div class="col-lg-offset-1 col-lg-10">
		<div>
			小農1號的logo是一個內含三個圓圈的蓮霧。

			蓮霧其實不是台灣的原生種水果，它是荷蘭人在十七世紀初從印尼引進。
			　
			我們想藉由蓮霧來象徵這塊土地最美好的價值，也是小農1號的核心價值━平等。她接納了來自各地的水果、還有人們，不管來自何方，大家都在這裡落地生根，並且發光發熱。
			
			三個圈圈則則代表了我們的三大堅持：
			
			公開透明：真實揭露生產者、生產地、產品分級、檢驗標章等資訊，讓您安心
			
			回饋互助：小農用心種植，小農之友安心支持，形成良好的循環，讓台灣農業更好
			
			公正評價：沒有過多的銷售術語─好不好吃？ 交給身為美食家的您來決定！
		</div>
	</div>
</div>	
<div class="row text-center">
	<div class="col-lg-offset-1 col-lg-10">
		<div>關於小農1號團隊</div>
		<div>
		我們是一群都市小孩與鄉下小孩組成的團隊。在離家的這幾年間，隨著年紀越來越大，回家的時間也越來越少。一直希望能為家鄉做點什麼事，但卻沒有什麼頭緒。在因緣際會下，我們五個人湊在一起，在2015年年初組成了小農1號。我們來自不同的領域，法律、電機、行銷、企管、經濟，但我們都關心這塊土地，想一起用科技改變農業。			
		</div>
	</div>
</div>	

<div class="row text-center">
	<div class="col-lg-offset-1 col-lg-2 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
		<%=image_tag 'index/team_1.png', class: 'img-circle team_about_avatar' %>
	 	<div class="team_about_ch_name"><span>楊 岳勳</span></div>
	 	<div class="team_about_en_name">Yueh-shun Yang</div>
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>台灣大學法律學研究所</li>
				<li>經歷：達勝創投</li>	
			</ul>
	 	</div>
	
	</div>
	<div class="col-lg-2 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
		<%=image_tag 'index/team_2.png', class: 'img-circle team_about_avatar'%>
		<div class="team_about_ch_name"><span>林 起</span></div>
		<div class="team_about_en_name">Benny Lin</div>
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>交通大學電控研究所</li>	 
				<li>經歷：从人設計坊</li>		
			</ul>
	 	</div>	
	</div>
	<div class="col-lg-2 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
	 	<%=image_tag 'index/team_3.png', class: 'img-circle team_about_avatar'%>
	 	<div class="team_about_ch_name"><span>張 鈞堯</span></div>
		<div class="team_about_en_name">Chun-Yao Chang</div>	 
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>中央大學企業管理研究所</li>	 
				<li>經歷：台灣好水</li>			
			</ul>
	 	</div>	
	</div>
	<div class="col-lg-offset-0 col-lg-2 col-sm-offset-2 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
		<%=image_tag 'index/team_4.png', class: 'img-circle team_about_avatar'%>
		<div class="team_about_ch_name"><span>魏 昱愷</span></div>
		<div class="team_about_en_name">Yu-kai Wei</div>
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>中興大學行銷研究所</li>	 
				<li>經歷：ChaMining茶農文創</li>			
			</ul>
	 	</div>	
	</div>
	<div class="col-lg-2 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 team_about">
	 	<%=image_tag 'index/team_5.png', class: 'img-circle team_about_avatar'%>
	 	<div class="team_about_ch_name"><span>陳 奕銘</span></div>
	 	<div class="team_about_en_name">Yi-Ming Chen</div>
	 	<div class="team_about_description">
			<ul class="list-unstyled">
				<li>台灣大學經濟學系</li>
				<li>經歷：台灣大學學生會</li>	
			</ul>
	 	</div>	
	</div>
</div>
</div>
