<nav class="navbar navbar-default navbar-fixed-top service_intro_nav navbar-second">
  <div class="container">
	<ul class="nav navbar-nav ">
        <li><a href="#section_benefit">上架好處</a></li>
        <li><a href="#section_what_can_be_sold">能賣什麼</a></li>
        <li><a href="#section_cash_flow">金流和物流</a></li>
        <li><a href="#section_service">提供服務</a></li>
        <li><a href="/companies/apply" style="padding: 0px 0px;"><p class="navbar-btn farm_apply_button btn orange_btn">立刻申請上架</p></a></li>
     </ul>
  </div>
</nav>
<div id="section_benefit"></div>
<div class="container main_frontend" style="padding-top: 100px;"><br>
	<p class="text-center service_intro_title">全台唯一農產品免費上架平台</p>
	<div class="row hidden-xs  hidden-sm" style="margin-top: 100px;">	
		<div class="col-sm-offset-1 col-sm-4 text-center">
			<%=image_tag 'index/smallfarmer_land.png', class: "service_intro_land_img" %>		
			<div>小農們</div>
		</div>		
		<div class="col-sm-2 text-center">
			<%=image_tag 'index/smallfarmer_plus.png', class: "service_intro_plus_img" %>		
		</div>
		<div class="col-sm-4 text-center">
			<%=image_tag 'index/smallfarmer_cart.png', class: "service_intro_cart_img" %>		
			<div>小農1號</div>		
		</div>		
	</div>		
	<div class="row text-center hidden-md  hidden-lg" style="margin-top: 80px;">	
		<div class="col-sm-offset-4 col-sm-4">
			<a href="/companies/apply" class="farm_apply_lg_button btn orange_btn center-block">
				立刻申請上架
			</a>
		</div>
	</div>		
	<div class="row service_intro_divider"></div>
	<div class="row text-center" style="margin-top: 60px;">	
		<div class="col-sm-12">
		<span class="service_intro_sub_title">在小農１號上架好處</span>
		</div>
	</div>
	<div class="row" style="margin-top: 30px;">	
		<div class="col-sm-6 text-center">
			<div class="service_intro_benefit_title">1</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">不收取交易手續費</div>
				<div class="service_intro_benefit_thin">不再給別人抽，自己種的自己賺！</div>
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="service_intro_benefit_title">2</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">客群定位明確</div>
				<div class="service_intro_benefit_thin">小農1號是農產品為主的市集，充滿了熱愛土地，關心農業的優質消費者。</div>
			</div>			
		</div>		
	</div>
	<div class="row">	
		<div class="col-sm-6 text-center">
			<div class="service_intro_benefit_title">3</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">與FB、LINE結合</div>
				<div class="service_intro_benefit_thin">不管是po文還是私訊，直接分享購物連結，立即接單。</div>
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="service_intro_benefit_title">4</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">免動腦後台，行動app</div>
				<div class="service_intro_benefit_thin">專為小農設計的簡易上架管理後台，用手機就可以輕鬆管理。</div>
			</div>			
		</div>		
	</div>	
	<div class="row">	
		<div class="col-sm-6 text-center">
			<div class="service_intro_benefit_title">5</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">整合金流與物流</div>
				<div class="service_intro_benefit_thin">我們整合金流系統，給您的消費者更多付款選擇；隨按即叫的物流通知。</div>
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="service_intro_benefit_title">6</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">匯集流量</div>
				<div class="service_intro_benefit_thin">結合小農們的力量，讓自己的農產品有機會被更多人看見！</div>
			</div>			
		</div>		
	</div>
	<div class="row">	
		<div class="col-sm-6 text-center">
			<div class="service_intro_benefit_title">7</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">訂單、帳款一目了然</div>
				<div class="service_intro_benefit_thin">我們體諒小農農忙時的辛勞，讓您不再為了整理訂單跟記帳煩惱。</div>
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="service_intro_benefit_title">8</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">消費者客服</div>
				<div class="service_intro_benefit_thin">想將消費者的服務做好，卻沒時間嗎？小農1號幫您！</div>
			</div>			
		</div>		
	</div>	
	<div id="section_what_can_be_sold"></div>		
	<div class="row service_intro_divider"></div>	
	<div class="row text-center" style="margin-top: 60px;" id="section_what_can_be_sold">	
		<div class="col-sm-12">
		<span class="service_intro_sub_title">我能在小農1號賣什麼</span>
		</div>
	</div>	
	<div class="row">	
		<div class="col-sm-4 text-center">
			<div class="what_can_be_sold_title">各類農產品</div>
			<%=image_tag 'index/what_can_be_sold_1.png', class: "what_can_be_sold_img" %>
			<div class="what_can_be_sold_content">水果、五穀雜糧、根莖類、瓜類、菇類、茶(暫不開放葉菜類)</div>
		
		</div>		
		<div class="col-sm-4 text-center">
			<div class="what_can_be_sold_title">農產加工品</div>
			<%=image_tag 'index/what_can_be_sold_2.png', class: "what_can_be_sold_img" %>
			<div class="what_can_be_sold_content">果乾、果醬、醃漬品、油、沾醬、果汁、水果冰品</div>
			
		</div>
		<div class="col-sm-4 text-center">
			<div class="what_can_be_sold_title">符合小農1號產品販售政策的農產品</div>
			<%=image_tag 'index/what_can_be_sold_3.png', class: "what_can_be_sold_img" %>
			<div class="what_can_be_sold_content">按這邊看完整小農1號產品販售政策</div>						
		</div>				
	</div>		
	<div id="section_cash_flow"></div>			
	<div class="row service_intro_divider"></div>	
	<div class="row text-center" style="margin-top: 60px;" id="section_cash_flow">	
		<div class="col-sm-12">
		<span class="service_intro_sub_title">小農1號處理金流和物流</span>
		</div>
	</div>
	<div class="row" style="margin-top: 60px;">	
		<div class="col-sm-6 col-md-offset-1 col-md-5 service_intro_cash_flow_container" style="color: #ffffff; background: #ff5600; ">
			<div class="service_intro_cash_flow_title text-center">金流處理費說明：</div>
			<div class="text-center">
			<div class="service_intro_benefit_title service_intro_cash_flow_sub_title">1</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold service_intro_cash_flow_sub_bold">信用卡、ATM轉帳付款</div>
				<div class="service_intro_benefit_thin service_intro_cash_flow_sub_thin">以商品售價收取5%金流處理費。</div>
			</div>
			</div>
			<div class="text-center">
			<div class="service_intro_benefit_title service_intro_cash_flow_sub_title">2</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold service_intro_cash_flow_sub_bold">超商代碼付款</div>
				<div class="service_intro_benefit_thin service_intro_cash_flow_sub_thin">超商代碼手續費30元由買家負擔。</div>
			</div>
			</div>
			<div class="text-center">
			<div class="service_intro_benefit_title service_intro_cash_flow_sub_title">3</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold service_intro_cash_flow_sub_bold">貨到付款</div>
				<div class="service_intro_benefit_thin service_intro_cash_flow_sub_thin">代理收付費用依黑貓宅急便規定(由黑貓宅急便向買家收取)。</div>
			</div>
			</div>	
		</div>	
		<div class="col-sm-6 col-md-5 service_intro_cash_flow_container">
			<div class="service_intro_cash_flow_title text-center" style="color: #ff5600;">物流處理費說明：</div>
			<div class="text-center">
			<div class="service_intro_benefit_title">1</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">材積60公分以下</div>
				<div class="service_intro_benefit_thin">一件110元，兩件以上每件90元。</div>
			</div>
			</div>
			<div class="text-center">
			<div class="service_intro_benefit_title">2</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">材積61公分～90公分</div>
				<div class="service_intro_benefit_thin">ㄧ件130元，兩件以上每件100元。</div>
			</div>
			</div>
			<div class="text-center">
			<div class="service_intro_benefit_title">3</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">材積91公分～120公分</div>
				<div class="service_intro_benefit_thin">ㄧ件140元。</div>
			</div>
			</div>			
			<div class="text-center">
			<div class="service_intro_benefit_title">4</div>
			<div class="service_intro_benefit_content text-left">
				<div class="service_intro_benefit_bold">低溫配送</div>
				<div class="service_intro_benefit_thin">每件加80收元。</div>
			</div>
			</div>
		</div>			
	</div>				
	<div id="section_service"></div>									
	<div class="row service_intro_divider"></div>	
	<div class="row text-center" style="margin-top: 60px;" id="section_service">	
		<div class="col-sm-12">
		<span class="service_intro_sub_title">小農１號所提供的服務</span>
		</div>
	</div>	
	<div class="row" style="margin-top: 30px;">	
		<div class="col-sm-4 text-center">
			<div class="service_intro_item_title text-left"><span class="service_intro_item_title_caption">消</span>費者客服</div>
			<div class="service_intro_item_content text-left">
				<div class="service_intro_item_thin">即時的線上客服，讓您能專注於生產優質的農產品。</div>
			</div>
		</div>
		<div class="col-sm-4 text-center">
			<div class="service_intro_item_title text-left"><span class="service_intro_item_title_caption">金</span>流</div>
			<div class="service_intro_item_content text-left">
				<div class="service_intro_item_thin">第三方支付系統提供您的消費者多樣化的付款方式。</div>
			</div>
		</div>
		<div class="col-sm-4 text-center">
			<div class="service_intro_item_title text-left"><span class="service_intro_item_title_caption">物</span>流</div>
			<div class="service_intro_item_content text-left">
				<div class="service_intro_item_thin">最安心的物流，達到全自動化，隨叫即通知，一鍵出貨。</div>
			</div>
		</div>					
	</div>		
	<div class="row">	
		<div class="col-sm-4 text-center">
			<div class="service_intro_item_title text-left"><span class="service_intro_item_title_caption">退</span>換貨</div>
			<div class="service_intro_item_content text-left">
				<div class="service_intro_item_thin">依小農1號退換貨規則，協助農民與消費者解決問題。</div>
			</div>
		</div>
		<div class="col-sm-4 text-center">
			<div class="service_intro_item_title text-left"><span class="service_intro_item_title_caption">手</span>機APP管理</div>
			<div class="service_intro_item_content text-left">
				<div class="service_intro_item_thin">簡單好用的app，即時的物流及帳單管理。</div>
			</div>
		</div>
		<div class="col-sm-4 text-center">
			<div class="service_intro_item_title text-left"><span class="service_intro_item_title_caption">認</span>證把關</div>
			<div class="service_intro_item_content text-left">
				<div class="service_intro_item_thin">公正的審核制度，不會讓不合格的農產品混入優質農產品。</div>
			</div>
		</div>					
	</div>	
	<div class="row service_intro_divider"></div>	
	<div class="row text-center" style="margin-top: 60px;">	
		<div class="col-sm-12">
		<span class="service_intro_sub_title">申請上架123</span>
		</div>
	</div>	
	<div class="row text-center" style="margin-top: 60px;">	
		<div class="col-sm-12">
		<div class="service_intro_step">
		    <span class="service_intro_step_container">
		    	<span class="service_intro_step_title">1.註冊帳號</span> 
		    	<div class="service_intro_step_content text-left">
		    		先在小農1號註冊帳號，然後填寫申請上架表格。
		    	</div> 
		    </span>
		    <span class="service_intro_step_container">
		    	<span class="service_intro_step_title">2.審核</span> 
		    	<div class="service_intro_step_content text-left">
		    	我們在確認您符合上架條件，以及是否已了解相關規範後，立即做開通。
		    	</div>     	
		    </span>
		    <span class="service_intro_step_container">
		    	<span class="service_intro_step_title">3.農場開幕</span>     	
		    	<div class="service_intro_step_content text-left">
		    	用手機app或是電腦版輕鬆的開啟自己的農場！
		    	</div>    		
		    </span>
		</div>
		</div>
	</div>	
	<div class="row service_intro_divider"></div>	
	<div class="row text-center" style="margin-top: 60px;">	
		<div class="col-sm-12">
		<span class="service_intro_sub_title">事不宜遲，馬上申請免費上架</span>
		</div>
	</div>		
	<div class="row text-center" style="margin-top: 60px;">	
		<div class="col-sm-offset-4 col-sm-4">
			<a href="/companies/apply" class="farm_apply_lg_button btn orange_btn center-block">
				立刻申請上架
			</a>
		</div>
	</div>		
</div>			
<style>
  body {
      position: relative; 
  }
</style>
