<header class="farmer_video_container">
	<!--<div class="pattern"></div>-->
	<div class="container">
		<div class="row intro-text">
	        <div class="col-md-12">
	            <div class="intro-heading">
	            	讓我們一起，從源頭找回安心           
	            </div>
   				<a class="player" data-property="{videoURL:'https://youtu.be/M8R2Y13jadA',containment:'.farmer_video_container',autoPlay:true, mute:true, startAt:0, opacity:1, showControls:false}"></a>	    		
	    	</div>
    	</div>
    	<div class="row intro-nav text-center">
    		<!--
        	<div class="col-md-offset-2 col-md-4 col-sm-6">
            	<%=link_to '/main/fruits', class: 'intro-nav-button_2' do%>
 		  			找安心農產
 		  		<%end%>
            </div>-->    	
        	<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            	<%=link_to '/main/serviceIntro' do%>
            	<div class="intro-nav-button_1">
            		申請上架
            	  <span class="l1"></span>
				  <span class="l2"></span>
				  <span class="l3"></span>
				  <span class="l4"></span>
				</div> 	 
            	<%end%>    
            </div>    	
    	</div>	
    </div>
</header>
<!-- Services Section -->    
    <section class="second_section" style="background: #ffffff">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-offset-2 col-lg-8 text-center">
                    <h2 class="section-heading">走，一起去產地</h2>
					<h3 class="section-subheading text-muted" style="margin-bottom: 0px;">我們走遍全國大小鄉鎮，找到台灣最安心和美好的滋味</h3>			
                </div>
            </div>
        </div>
    </section>     
<!-- Services Section -->    
    <section class="fruit_section">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-4 fruit_section_container_1">
                    <div class="fruit_section_image" style="background-image: url(<%=asset_path 'index/2015_10_3_2.jpg'%>);">
                    <%= link_to 'https://www.smallfarmer01.com/main/search?query=%E7%81%AB%E9%BE%8D%E6%9E%9C' do%>
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">台南大社</div>
						<div class="index_fruits_category_l">火龍果</div>
					</div>
					<%end%>
					</div>                    		
                </div>
                <div class="col-sm-4 fruit_section_container_2">
                    <div class="fruit_section_image" style="background-image: url(<%=asset_path 'index/2015_10_3_3.jpg'%>); ">                    
                    <%= link_to 'https://www.smallfarmer01.com/main/search?query=%E8%8A%92%E6%9E%9C%E4%B9%BE' do%>
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">台南大內</div>
						<div class="index_fruits_category_l">凱特芒果乾</div>
					</div>
					<%end%>    
					</div>					                		
                </div>    
                <div class="col-sm-4 fruit_section_container_3">
                	<div class="fruit_section_image" style="background-image: url(<%=asset_path 'index/2015_10_3_1.jpg'%>); ">                    
                    <%= link_to 'https://www.smallfarmer01.com/main/search?query=%E7%8F%8D%E7%8F%A0%E8%8A%AD%E6%A8%82' do%>
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">台南大內</div>
						<div class="index_fruits_category_l">珍珠芭樂</div>
					</div>
					<%end%>  
					</div>                  		
                </div>                            
            </div>
            
            
			<div class="row text-center" style="margin-top: 20px;">
                <div class="col-sm-6 fruit_section_container_1">
                    <div class="fruit_section_image" style="background-image: url(<%=asset_path 'index/2015_11_3_4.jpg'%>);">
                    <%= link_to 'https://www.smallfarmer01.com/products/64' do%>
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">雲林斗六</div>
						<div class="index_fruits_category_l">帝王柑</div>
					</div>
					<%end%>
					</div>                    		
                </div>
                <div class="col-sm-6 fruit_section_container_3">
                    <div class="fruit_section_image" style="background-image: url(<%=asset_path 'index/2015_11_3_5.jpg'%>); ">                    
                    <%= link_to 'https://www.smallfarmer01.com/products/61' do%>
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">嘉義太保</div>
						<div class="index_fruits_category_l">有機木瓜</div>
					</div>
					<%end%>    
					</div>					                		
                </div>                              
            </div>            
            
            
        </div>
    </section>     
    
    
    
    
    
      
    <!--Services Section -->
    <section id="services" class="first_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">小農1號特別在哪裡？</h2>
                    <h3 class="section-subheading text-muted">我們堅持三大價值，帶給農夫和消費者平等互惠的水果交易平台</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2 col-lg-offset-2 col-lg-1">
                    <%=image_tag 'index/green_circle.png', class: 'yellow_circle value_circle'%>
                    <h4 class="yellow_value_title value_title">公開透明</h4>
                    <p class="value_explanation text-muted yellow_value_description">真實揭露生產者、生產地、檢驗標章資訊。</p>
                </div>
                <div class="col-md-1 hidden-sm hidden-xs">
                    <%=image_tag 'index/plus.png', class: "value_op value_op_1"%>
                </div>                
                <div class="col-md-2 col-lg-1">
                    <%=image_tag 'index/yellow_circle.png', class: 'green_circle value_circle'%>
                    <h4 class="green_value_title value_title">回饋互助</h4>
                    <p class="value_explanation text-muted green_value_description">小農用心種植，小農之友支持，形成良好循環。</p>
                </div>    
                <div class="col-md-1 hidden-sm hidden-xs">
                    <%=image_tag 'index/plus.png', class: "value_op value_op_2"%>
                </div>                  
                <div class="col-md-2 col-lg-1">
                    <%=image_tag 'index/red_circle.png', class: 'red_circle value_circle'%>
                    <h4 class="red_value_title value_title">公正評價</h4>
                    <p class="value_explanation text-muted red_value_description">產品品質到底好不好？ 您來評定！</p>
                </div>  
                <div class="col-md-2 hidden-sm hidden-xs">
                    <%=image_tag 'index/equal.png', class: "value_op_eq value_op_3"%>
                </div>                                                                            	
                <div class="col-md-2 col-lg-1">
                    <%=image_tag 'index/grey.png', class: 'grey_circle value_circle', style:'visibility: hidden;'%>
                    <h4 class="grey_value_title value_title" style="visibility: hidden;">平等互惠</h4>
                </div>
            </div>
        </div>
    </section>     
<!-- about_apply Section -->    
	<%= render partial: "about_apply" %>

    
    
    
    
    
    
    
    
    
<script>
var controller;
$(document).ready(function($) {
	
	var windowHeight;
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: 0.5}});    
    //border
    
	var tween = new TimelineLite();
	tween.fromTo(".l1", 1, {height:0, ease: Linear.easeNone}, {height:50, ease: Linear.easeNone})
		 .fromTo(".l2", 4, {width:0, ease: Linear.easeNone}, {width:185, ease: Linear.easeNone})
	  	 .fromTo(".l3", 1, {height:0, ease: Linear.easeNone}, {height:50, ease: Linear.easeNone})
	  	 .fromTo(".l4", 1, {width:0, ease: Linear.easeNone}, {width:185, ease: Linear.easeNone})
	
	tween.timeScale(5) //play faster     
	new ScrollMagic.Scene({triggerElement: ".farmer_video_container"})
						  .setTween(tween)
						  .addTo(controller) 
    //circle
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".yellow_circle", 0.6, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".yellow_value_title", 0.6, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".yellow_value_description", 0.6, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 						  						  
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".green_circle", 0.4, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".green_value_title", 0.4, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".green_value_description", 0.4, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 						  
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".red_circle", 0.8, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".red_value_title", 0.8, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".red_value_description", 0.8, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 						  
						  
	new ScrollMagic.Scene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".value_op_1", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 0.8}))
								.addTo(controller)		
	new ScrollMagic.Scene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".value_op_2", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1}))
								.addTo(controller)													 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".value_op_3", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1.2}))
								.addTo(controller)	
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.to(".grey_circle", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1.4}))
						  .addTo(controller) 									
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.to(".grey_value_title", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1.4}))
						  .addTo(controller) 	
						  
	new ScrollMagic.Scene({triggerElement: ".fruit_section"})
						  .setTween(TweenMax.to(".index_fruits_category", 0.6, {autoAlpha: 1, ease: Linear.easeNone}))
						  .addTo(controller)
									  						  
						  													  
//video
        if (!device.tablet() && !device.mobile()) {
            $(".player").mb_YTPlayer();
        } else {
            //jQuery will add the default background to the preferred class 
            $('.farmer_video_container').addClass(
               'farmer_video_container_default_image');
            $('.pattern').remove();
       }


					  						  						     
});    
</script>

<!--
<script>     
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          playerVars: { 'autoplay': 1, 'controls': 1,'autohide':1,'wmode':'opaque', 'showinfo': 0, 'modestbranding': 1, 'loop': 1 },
          videoId: 'GWdLIkoTGOQ',
          events: {
            'onReady': onPlayerReady}
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.mute();
      }
</script>
-->