<header class="parallax-window farmer_video_container">
	<div class="pattern"></div> 
	<div class="container">
		<div class="row intro-text">
	        <div class="col-md-12">
	        	<div class="intro-lead-in">歡迎光臨！</div>
	            <div class="intro-heading">一起享用甜美多汁的產地直送鮮果</div>
	            <!--<a href="#services" class="page-scroll intro-about hidden-xs hidden-sm">關於小農1號</a>
	    		<div class="hidden-md hidden-lg" style="background: rgba(235, 225, 226, 0.8); border-radius: 10px; width: 230px; margin: 20px auto; color: #000000; padding: 15px;">
	    			<%=image_tag 'index/IBM.png', style: 'width: 90px'%>
	    			<div class="ibm_text">*全館9折優惠</div>
	    			<div class="ibm_text">(優惠期間:9/4-9/21)</div>
	    		</div>
	    		-->
   				<a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/U9BU3881Ezo',containment:'.farmer_video_container',autoPlay:true, mute:true, startAt:0, opacity:1, showControls:false}"></a>	    		
	    	</div>
    	</div>
    	<div class="row intro-nav text-center">
        	<div class="col-md-offset-2 col-md-4 col-sm-6">
            	<%=link_to '/main/fruits', class: 'intro-nav-button_1' do%>
 		  			找鮮果
 		  		<%end%>
            </div>    	
        	<div class="col-md-4 col-sm-6">
            	<%=link_to '/main/farms', class: 'intro-nav-button_2' do%>
            		找小農
            	<%end%>        		
            </div>    	
    	</div>	
    </div>
</header>
<!-- Services Section -->    
    <section class="second_section" style="background: #ffffff">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-offset-2 col-lg-8 text-center">
                    <h2 class="section-heading">小農1號熱情推薦</h2>
					<h3 class="section-subheading text-muted" style="margin-bottom: 0px;">我們走遍全國大小鄉鎮，找到台灣最美好的滋味</h3>			
                </div>
            </div>
        </div>
    </section>     
<!-- Services Section -->    
    <section class="fruit_section" style="background: #f8f8f8">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-sm-4 fruit_section_container_1">
                    <div class="fruit_section_image" style="background-image: url(<%=asset_path 'index/2015_10_3_2.jpg'%>);">
                    <%= link_to 'https://www.smallfarmer01.com/main/search?query=%E7%81%AB%E9%BE%8D%E6%9E%9C' do%>
					<div class="index_fruits_category index_fruits_category_1">
						<div class="index_fruits_category_s">台南大社</div>
						<div class="index_fruits_category_l">火龍果</div>
					</div>
					<%end%>
					</div>                    		
                </div>
                <div class="col-sm-4 fruit_section_container_2">
                    <div class="fruit_section_image" style="background-image: url(<%=asset_path 'index/2015_10_3_3.jpg'%>); ">                    
                    <%= link_to 'https://www.smallfarmer01.com/main/search?query=%E8%8A%92%E6%9E%9C%E4%B9%BE' do%>
					<div class="index_fruits_category index_fruits_category_2 index_fruits_category_2">
						<div class="index_fruits_category_s">台南大內</div>
						<div class="index_fruits_category_l">凱特芒果乾</div>
					</div>
					<%end%>    
					</div>					                		
                </div>    
                <div class="col-sm-4 fruit_section_container_3">
                	<div class="fruit_section_image" style="background-image: url(<%=asset_path 'index/2015_10_3_1.jpg'%>); ">                    
                    <%= link_to 'https://www.smallfarmer01.com/main/search?query=%E7%8F%8D%E7%8F%A0%E8%8A%AD%E6%A8%82' do%>
					<div class="index_fruits_category index_fruits_category_2 index_fruits_category_2">
						<div class="index_fruits_category_s">台南大內</div>
						<div class="index_fruits_category_l">珍珠芭樂</div>
					</div>
					<%end%>  
					</div>                  		
                </div>                            
            </div>
        </div>
    </section>       
    <!--Services Section -->
    <section id="services" class="first_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">小農1號特別在哪裡？</h2>
                    <h3 class="section-subheading text-muted">我們堅持三大價值，帶給農夫和消費者平等公正的水果交易平台</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2 col-lg-offset-2 col-lg-1">
                    <%=image_tag 'index/green_circle.png', class: 'yellow_circle value_circle'%>
                    <h4 class="yellow_value_title value_title">公開透明</h4>
                    <p class="value_explanation text-muted yellow_value_description">公開每筆交易的金額流向，您將不再多花冤枉錢。</p>
                </div>
                <div class="col-md-1 hidden-sm hidden-xs">
                    <%=image_tag 'index/plus.png', class: "value_op value_op_1"%>
                </div>                
                <div class="col-md-2 col-lg-1">
                    <%=image_tag 'index/yellow_circle.png', class: 'green_circle value_circle'%>
                    <h4 class="green_value_title value_title">回饋互助</h4>
                    <p class="value_explanation text-muted green_value_description">每筆交易農夫會將消費金額的3%，回饋給您。</p>
                </div>    
                <div class="col-md-1 hidden-sm hidden-xs">
                    <%=image_tag 'index/plus.png', class: "value_op value_op_2"%>
                </div>                  
                <div class="col-md-2 col-lg-1">
                    <%=image_tag 'index/red_circle.png', class: 'red_circle value_circle'%>
                    <h4 class="red_value_title value_title">公正評價</h4>
                    <p class="value_explanation text-muted red_value_description">好吃？只有您說的算！</p>
                </div>  
                <div class="col-md-2 hidden-sm hidden-xs">
                    <%=image_tag 'index/equal.png', class: "value_op_eq value_op_3"%>
                </div>                                                                            	
                <div class="col-md-2 col-lg-1">
                    <%=image_tag 'index/grey.png', class: 'grey_circle value_circle', style:'visibility: hidden;'%>
                    <h4 class="grey_value_title value_title" style="visibility: hidden;">平等互惠</h4>
                </div>
            </div>
        </div>
    </section>     
<!-- Services Section -->    
    <section style="background: #F1F1F1" class="team_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-offset-2 col-lg-8 text-center">
                    <h2 class="section-heading">關於小農1號團隊</h2>
                    <h3 class="section-subheading text-muted">我們是一群結合法律、資訊和行銷背景的青年</h3>
                </div>
            </div>
            <%= render partial: "about" %>	
        </div>
    </section>    
<script>
var controller;
$(document).ready(function($) {
	
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500);
        event.preventDefault();
    });	
	
	var windowHeight;
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: 0.5}});    
    
    
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".yellow_circle", 0.6, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".yellow_value_title", 0.6, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".yellow_value_description", 0.6, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 						  						  
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".green_circle", 0.4, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".green_value_title", 0.4, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".green_value_description", 0.4, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 						  
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".red_circle", 0.8, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".red_value_title", 0.8, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".red_value_description", 0.8, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 						  
						  
	new ScrollMagic.Scene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".value_op_1", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 0.8}))
								.addTo(controller)		
	new ScrollMagic.Scene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".value_op_2", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1}))
								.addTo(controller)													 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".value_op_3", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1.2}))
								.addTo(controller)	
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.to(".grey_circle", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1.4}))
						  .addTo(controller) 									
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.to(".grey_value_title", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1.4}))
						  .addTo(controller) 	
						  
	new ScrollMagic.Scene({triggerElement: ".fruit_section"})
						  .setTween(TweenMax.to(".index_fruits_category", 0.6, {autoAlpha: 1, ease: Linear.easeNone}))
						  .addTo(controller)
						  
	new ScrollMagic.Scene({triggerElement: ".fruit_section"})
						  .setTween(TweenMax.to(".index_fruits_category", 0.6, {autoAlpha: 1, ease: Linear.easeNone}))
						  .addTo(controller)						  						  
						  													  

//cbp
	var cbpAnimatedHeader = (function() {
	var docElem = document.documentElement,
		header = document.querySelector( '.menu' ),
		didScroll = false,
		changeHeaderOn = 300;
	function init() {
		window.addEventListener( 'scroll', function( event ) {
			if( !didScroll ) {
				didScroll = true;
				setTimeout( scrollPage, 250 );
			}
		}, false );
	}
	function scrollPage() {
		var sy = scrollY();
		if ( sy >= changeHeaderOn ) {
			classie.remove( header, 'navbar-shrink' );
		}
		else {
			classie.add( header, 'navbar-shrink' );
		}
		didScroll = false;
	}
	function scrollY() {
		return window.pageYOffset || docElem.scrollTop;
	}
	init();
//classie
	( function( window ) {	
	'use strict';	
	// class helper functions from bonzo https://github.com/ded/bonzo	
	function classReg( className ) {
	  return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
	}
	// classList support for class management
	// altho to be fair, the api sucks because it won't accept multiple classes at once
	var hasClass, addClass, removeClass;	
	if ( 'classList' in document.documentElement ) {
	  hasClass = function( elem, c ) {
	    return elem.classList.contains( c );
	  };
	  addClass = function( elem, c ) {
	    elem.classList.add( c );
	  };
	  removeClass = function( elem, c ) {
	    elem.classList.remove( c );
	  };
	}
	else {
	  hasClass = function( elem, c ) {
	    return classReg( c ).test( elem.className );
	  };
	  addClass = function( elem, c ) {
	    if ( !hasClass( elem, c ) ) {
	      elem.className = elem.className + ' ' + c;
	    }
	  };
	  removeClass = function( elem, c ) {
	    elem.className = elem.className.replace( classReg( c ), ' ' );
	  };
	}	
	function toggleClass( elem, c ) {
	  var fn = hasClass( elem, c ) ? removeClass : addClass;
	  fn( elem, c );
	}	
	var classie = {
	  // full names
	  hasClass: hasClass,
	  addClass: addClass,
	  removeClass: removeClass,
	  toggleClass: toggleClass,
	  // short names
	  has: hasClass,
	  add: addClass,
	  remove: removeClass,
	  toggle: toggleClass
	};	
	// transport
	if ( typeof define === 'function' && define.amd ) {
	  // AMD
	  define( classie );
	} else {
	  // browser global
	  window.classie = classie;
	}
})( window );
})();

//video
        if (!device.tablet() && !device.mobile()) {
            $(".player").mb_YTPlayer();
        } else {
            //jQuery will add the default background to the preferred class 
            $('.farmer_video_section').hide();
            $('.farmer_video_before_section').hide();
       }


					  						  						     
});    
</script>

<!--
<script>     
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          playerVars: { 'autoplay': 1, 'controls': 1,'autohide':1,'wmode':'opaque', 'showinfo': 0, 'modestbranding': 1, 'loop': 1 },
          videoId: 'GWdLIkoTGOQ',
          events: {
            'onReady': onPlayerReady}
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.mute();
      }
</script>
-->
<!-- Facebook Conversion Code for 首頁瀏覽 -->
<script>(function() {
 var _fbq = window._fbq || (window._fbq = []);
 if (!_fbq.loaded) {
   var fbds = document.createElement('script');
   fbds.async = true;
   fbds.src = '//connect.facebook.net/en_US/fbds.js';
   var s = document.getElementsByTagName('script')[0];
   s.parentNode.insertBefore(fbds, s);
   _fbq.loaded = true;
 }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6031043762203', {'value':'1.00','currency':'TWD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6031043762203&amp;cd[value]=1.00&amp;cd[currency]=TWD&amp;noscript=1" /></noscript>
