<header>
	<div class="container">
        <div class="intro-text">
        	<div class="intro-lead-in">歡迎光臨</div>
            <div class="intro-heading">註冊並驗證手機號碼獲得回饋金</div>
            <a href="#services" class="page-scroll btn btn-xl">關於小農1號</a>
    	</div>
    </div>
</header>


<!-- Services Section -->
    <section id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">小農1號特別在哪裡？</h2>
                    <h3 class="section-subheading text-muted">我們堅持三大價值，帶給農夫和消費者平等公正的水果交易平台</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-offset-2 col-md-1">
                    <%=image_tag 'index/yellow_circle.png'%>
                    <h4 class="service-heading">公開透明</h4>
                    <p class="value_explanation text-muted">公開每筆交易的金額流向，您將不再多花冤枉錢</p>
                </div>
                <div class="col-md-1">
                    <%=image_tag 'index/plus.png'%>
                </div>                
                <div class="col-md-1">
                    <%=image_tag 'index/green_circle.png'%>
                    <h4 class="service-heading">回饋互助</h4>
                    <p class="value_explanation text-muted">每筆交易果農都會將消費金額的4%，回饋給您</p>
                </div>    
                <div class="col-md-1">
                    <%=image_tag 'index/plus.png'%>
                </div>                  
                <div class="col-md-1">
                    <%=image_tag 'index/red_circle.png'%>
                    <h4 class="service-heading">公正評價</h4>
                    <p class="value_explanation text-muted">好吃？只有您說的算！</p>
                </div>  
                <div class="col-md-1">
                    <%=image_tag 'index/equal.png'%>
                </div>                                                                            	
                <div class="col-md-2">
                    <%=image_tag 'index/grey.png'%>
                    <h4 class="service-heading">平等互惠</h4>
                </div>
            </div>
        </div>
    </section>
    
<script>
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500);
        event.preventDefault();
    });
</script>
