<header>
	<div class="container">
        <div class="intro-text">
        	<div class="intro-lead-in">歡迎光臨！</div>
            <div class="intro-heading">一起享用甜美多汁的產地直送鮮果</div>
            <a href="#services" class="page-scroll intro-about hidden-xs hidden-sm">關於小農1號</a>
    		<div class="hidden-md hidden-lg" style="background: rgba(235, 225, 226, 0.8); border-radius: 10px; width: 230px; margin: 20px auto; color: #000000; padding: 15px;">
    			<%=image_tag 'index/IBM.png', style: 'width: 90px'%>
    			<div>*IBM信箱註冊購買享9折優惠</div>
    		</div>
    	</div>
    	<div class="ibm_container hidden-xs hidden-sm">
    		<%=image_tag 'index/IBM.png'%>
    		<div class="ibm_text">慶中秋賀佳節</div>
    		<div class="ibm_text">*IBM信箱註冊購買享9折優惠</div>
    		<div class="ibm_text">(優惠期間:9/4-9/15)</div>
    	</div>	
    </div>
</header>
<!-- Services Section -->
    <section id="services" class="first_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">小農1號特別在哪裡？</h2>
                    <h3 class="section-subheading text-muted">我們堅持三大價值，帶給農夫和消費者平等公正的水果交易平台</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2 col-lg-offset-2 col-lg-1">
                    <%=image_tag 'index/yellow_circle.png', class: 'yellow_circle value_circle'%>
                    <h4 class="yellow_value_title value_title">公開透明</h4>
                    <p class="value_explanation text-muted yellow_value_description">公開每筆交易的金額流向，您將不再多花冤枉錢。</p>
                </div>
                <div class="col-md-1 hidden-sm hidden-xs">
                    <%=image_tag 'index/plus.png', class: "value_op value_op_1"%>
                </div>                
                <div class="col-md-2 col-lg-1">
                    <%=image_tag 'index/green_circle.png', class: 'green_circle value_circle'%>
                    <h4 class="green_value_title value_title">回饋互助</h4>
                    <p class="value_explanation text-muted green_value_description">每筆交易農夫會將消費金額的4%，回饋給您。</p>
                </div>    
                <div class="col-md-1 hidden-sm hidden-xs">
                    <%=image_tag 'index/plus.png', class: "value_op value_op_2"%>
                </div>                  
                <div class="col-md-2 col-lg-1">
                    <%=image_tag 'index/red_circle.png', class: 'red_circle value_circle'%>
                    <h4 class="red_value_title value_title">公正評價</h4>
                    <p class="value_explanation text-muted red_value_description">好吃？只有您說的算！</p>
                </div>  
                <div class="col-md-2 hidden-sm hidden-xs">
                    <%=image_tag 'index/equal.png', class: "value_op_eq value_op_3"%>
                </div>                                                                            	
                <div class="col-md-2 col-lg-1">
                    <%=image_tag 'index/grey.png', class: 'grey_circle value_circle', style:'visibility: hidden;'%>
                    <h4 class="grey_value_title value_title" style="visibility: hidden;">平等互惠</h4>
                </div>
            </div>
        </div>
    </section>
<!-- Services Section -->    
    <section style="background: #edebe8">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-offset-2 col-lg-8 text-center">
                    <h2 class="section-heading">我們的帥氣農夫</h2>
                    <h3 class="section-subheading text-muted">沒錯！很帥，重點是他種的東西超好吃</h3>
					<div class="videoWrapper">
					<iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/GWdLIkoTGOQ" frameborder="0" allowfullscreen></iframe>
                	</div>
                </div>
            </div>
        </div>
    </section>                
<script>
var controller;
$(document).ready(function($) {
	
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500);
        event.preventDefault();
    });	
	
	var windowHeight;
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: 0.5}});    
    
    
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".yellow_circle", 0.6, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".yellow_value_title", 0.6, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".yellow_value_description", 0.6, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 						  						  
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".green_circle", 0.4, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".green_value_title", 0.4, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".green_value_description", 0.4, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 						  
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".red_circle", 0.8, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".red_value_title", 0.8, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.from(".red_value_description", 0.8, {top: "100", ease: Linear.easeNone}))
						  .addTo(controller) 						  
						  
	new ScrollMagic.Scene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".value_op_1", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 0.8}))
								.addTo(controller)		
	new ScrollMagic.Scene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".value_op_2", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1}))
								.addTo(controller)													 
	new ScrollMagic.Scene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".value_op_3", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1.2}))
								.addTo(controller)	
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.to(".grey_circle", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1.4}))
						  .addTo(controller) 									
	new ScrollMagic.Scene({triggerElement: ".first_section"})
						  .setTween(TweenMax.to(".grey_value_title", 0.5, {autoAlpha: 1, ease: Linear.easeNone, delay: 1.4}))
						  .addTo(controller) 														  

//cbp
	var cbpAnimatedHeader = (function() {
	var docElem = document.documentElement,
		header = document.querySelector( '.menu' ),
		didScroll = false,
		changeHeaderOn = 300;
	function init() {
		window.addEventListener( 'scroll', function( event ) {
			if( !didScroll ) {
				didScroll = true;
				setTimeout( scrollPage, 250 );
			}
		}, false );
	}
	function scrollPage() {
		var sy = scrollY();
		if ( sy >= changeHeaderOn ) {
			classie.remove( header, 'navbar-shrink' );
		}
		else {
			classie.add( header, 'navbar-shrink' );
		}
		didScroll = false;
	}
	function scrollY() {
		return window.pageYOffset || docElem.scrollTop;
	}
	init();
//classie
	( function( window ) {	
	'use strict';	
	// class helper functions from bonzo https://github.com/ded/bonzo	
	function classReg( className ) {
	  return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
	}
	// classList support for class management
	// altho to be fair, the api sucks because it won't accept multiple classes at once
	var hasClass, addClass, removeClass;	
	if ( 'classList' in document.documentElement ) {
	  hasClass = function( elem, c ) {
	    return elem.classList.contains( c );
	  };
	  addClass = function( elem, c ) {
	    elem.classList.add( c );
	  };
	  removeClass = function( elem, c ) {
	    elem.classList.remove( c );
	  };
	}
	else {
	  hasClass = function( elem, c ) {
	    return classReg( c ).test( elem.className );
	  };
	  addClass = function( elem, c ) {
	    if ( !hasClass( elem, c ) ) {
	      elem.className = elem.className + ' ' + c;
	    }
	  };
	  removeClass = function( elem, c ) {
	    elem.className = elem.className.replace( classReg( c ), ' ' );
	  };
	}	
	function toggleClass( elem, c ) {
	  var fn = hasClass( elem, c ) ? removeClass : addClass;
	  fn( elem, c );
	}	
	var classie = {
	  // full names
	  hasClass: hasClass,
	  addClass: addClass,
	  removeClass: removeClass,
	  toggleClass: toggleClass,
	  // short names
	  has: hasClass,
	  add: addClass,
	  remove: removeClass,
	  toggle: toggleClass
	};	
	// transport
	if ( typeof define === 'function' && define.amd ) {
	  // AMD
	  define( classie );
	} else {
	  // browser global
	  window.classie = classie;
	}
})( window );
})();

					  						  						     
});    
</script>
<style>
.ibm_container{
	position: absolute; color: black; 
    right: 40px; top: 65%;
    background: rgba(235, 225, 226, 0.8); height: 200px; 
    width: 200px; border-radius: 100px;   
}  
.ibm_container img{
	height: 47px;
    margin-top: 35px;	
	margin-bottom: 10px;    
}
.ibm_text{
	font-size: 14px;	
	line-height: 24px;	
}
@media (max-width:1450px){
	.ibm_container{
		position: absolute; color: black; 
	    right: 40px; top: 70%;
	    background: rgba(235, 225, 226, 0.8); height: 180px; 
	    width: 180px; border-radius: 100px;   
	}  
	.ibm_container img{
		height: 30px;
	    margin-top: 35px;	
		margin-bottom: 10px;    
	}
	.ibm_text{
		font-size: 13px;	
		line-height: 20px;	
	}
}
</style>
