


<div class="container">
	<div class="row">
	  <div class="col-sm-1"><%= image_tag current_user.avatar.url, class: 'img-circle', size: '50x50' %></div>
	  <div class="col-sm-6"><textarea class="form-control" rows="2" placeholder='想對農夫說什麼...' id="post_content"></textarea></div>
	  <div class="col-sm-2"><button class="btn btn-default" id="post_button" onclick="postComment()" data-loading-text="傳送中...">留言</button></div>
	</div>	
</div>	
<div class="container" id="all_comments">	
	
	
</div>	
		
	
<div class="container">	
	<div class="row">
	  <div class="col-sm-1"><%= image_tag current_user.avatar.url, class: 'img-circle', size: '50x50' %></div>
	  <div class="col-sm-5">Lin 2014/5/1 14:00pm <br> 請問可以擺放多久</div>
      <div class="col-sm-1">
		<span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>      	
      	<span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
	  </div> 
	</div>
	<div class="row">
	  <div class="col-sm-7"><span class="pull-right">回應</span></div>	  
	</div>	
	<div class="row">
	  <div class="col-sm-1 col-sm-offset-1"><%= image_tag current_user.avatar.url, class: 'img-circle', size: '50x50' %></div>		
	  <div class="col-sm-4">7天</div>	
      <div class="col-sm-1">
		<span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>      	
      	<span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
	  </div> 	    
	</div>		
	<div class="row">
	  <div class="col-sm-1 col-sm-offset-1"><%= image_tag current_user.avatar.url, class: 'img-circle', size: '50x50' %></div>		
	  <div class="col-sm-4">靠腰這麼短？</div>	
      <div class="col-sm-1">
		<span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>      	
      	<span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
	  </div> 	    
	</div>	
	<div class="row">
	  <div class="col-sm-1 col-sm-offset-1"><%= image_tag current_user.avatar.url, class: 'img-circle', size: '50x50' %></div>		
	  <div class="col-sm-4">對啊就這麼短, 不然勒</div>	
      <div class="col-sm-1">
		<span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>      	
      	<span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
	  </div> 	    
	</div>
	<div class="row">
	  <div class="col-sm-1 col-sm-offset-1"><%= image_tag current_user.avatar.url, class: 'img-circle', size: '50x50' %></div>		
	  <div class="col-sm-4">幹你娘</div>	
      <div class="col-sm-1">
		<span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>      	
      	<span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
	  </div> 	    
	</div>					
	<div class="row">
	  <div class="col-sm-1 col-sm-offset-1"><%= image_tag current_user.avatar.url, class: 'img-circle', size: '50x50' %></div>				
	  <div class="col-sm-5" ><textarea class="form-control" rows="2" placeholder='想對農夫說什麼...'></textarea></div>		
	  <div class="col-sm-1"><button class="btn btn-default" type="submit">回應</button></div>	  
	</div>
		
	<div class="row">
	  <div class="col-sm-1"><%= image_tag current_user.avatar.url, class: 'img-circle', size: '50x50' %></div>
	  <div class="col-sm-6">也未免太好吃了吧</div>	  
	</div>	
	<div class="row">
	  <div class="col-sm-7"><span class="pull-right">回應</span></div>	  
	</div>		
</div>
<%=product %>




<script>
$(function () {
	showComment();
})


function postComment()
{
	if($( "#post_content" ).val()!= '')
	{
		var $btn = $('#post_button').button('傳送中...')
		var request = $.ajax({
		url: "/comments/post",
		type: "POST",
		data: { id: <%=product.id %>, content: $( "#post_content" ).val() },
		dataType: "json"
		});
		request.done(function( message ) {
		   	$btn.button('reset')		
			$( "#post_content" ).val('')	   		
			addAlert('success', message.message)
			showComment();			
		});
		request.fail(function( jqXHR, textStatus ) {
			$btn.button('reset')	
		});	
	}
}
function showComment()
{
	var request = $.ajax({
	url: "/comments/show",
	type: "GET",
	data: { id: <%=product.id %>},
	dataType: "json"
	});
	request.done(function( message ) {
		$("#all_comments").empty();
		$.each(  message , function( i, l ){
		  addComment(l.comment, l.sub_comments)
		});		
	});
	request.fail(function( jqXHR, textStatus ) {
		addAlert('error', '讀取失敗')
	});		
	
}
function addComment(comment, sub_comments)
{
	var $container =$("<div>", {id: 'comment_'+comment.id.toString()}); 
	var $row_1 =$("<div>", {class: "row"}); 
	$row_1.append('<div class="col-sm-1">'+
		     	  '<img src="'+comment.user_avatar_url+'" alt="missing" width="50" height="50" class="img-circle">'+
		     	  '</div>'+
				  '<div class="col-sm-5">'+comment.user_last_name+' '+moment(comment.created_at, "YYYY-MM-DD HH:mm:ss" ).fromNow()+'<br>'+comment.content+
				  '</div>');		
	if(comment.user_id == <%=current_user.id %>)			  
	{			  		  
		var $op_container =$("<div>", {class: 'col-sm-1'}); 	
		var $delete_but = $("<span>", { onclick: 'delComment('+comment.id.toString()+');', class: "glyphicon glyphicon-remove pull-right", style: "cursor: pointer", title: "刪除"}); 	  
		//var $edit_but = $("<span>", { onclick: 'editComment('+comment.id.toString()+');', class: "glyphicon glyphicon-edit pull-right", style: "cursor: pointer", title: "編輯"}); 	  
		$delete_but.tooltip({placement: 'top'});//$edit_but.tooltip({placement: 'top'});	
		$op_container.append($delete_but); //$op_container.append($edit_but) 	
		$row_1.append($op_container);	
	}				
	//sub comment post
	var $row_reply_but = $("<div>", {class: "row"}); 
	$row_reply_but.append('<div class="col-sm-7"><span onclick="$(\'#post_sub_comment_'+comment.id.toString()+'\').show();" style="cursor: pointer" class="pull-right">回應</span></div>')	  
	var $row_post_sub_comment =$("<div>", {class: "row", id: "post_sub_comment_"+comment.id.toString() }); 
	$row_post_sub_comment.append('<div class="col-sm-1 col-sm-offset-1">'+
								 '<img src="'+comment.user_avatar_url+'" alt="missing" width="50" height="50" class="img-circle">'+
								 '</div>'+				
	  							 '<div class="col-sm-5" ><textarea class="form-control" rows="1" placeholder="回應..." id="post_sub_content_'+comment.id.toString()+'"></textarea></div>'+		
	  							 '<div class="col-sm-1"><button class="btn btn-default" id="post_sub_button_'+comment.id.toString()+'" onclick="postSubComment('+comment.id.toString()+')">回應</button></div>');	  	
	$row_post_sub_comment.hide();
	
	  
	$container.append($row_1);
	$container.append($row_reply_but);	
	$container.append($row_post_sub_comment);
	$("#all_comments").append($container);			  
}

function delComment(id)
{
	var request = $.ajax({
	url: "/comments/delete",
	type: "POST",
	data: { id: id },
	dataType: "json"
	});
	request.done(function( message ) {
		if(message.success)
			//addAlert('success', message.message);
			showComment();			
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
}
function editComment(id)
{}

function postSubComment(id)
{
	if($( "#post_sub_content_"+id.toString() ).val()!= '')
	{
		var $btn = $("#post_sub_button_"+id.toString()).button('傳送中...')
		
		
		var request = $.ajax({
		url: "/comments/post_sub",
		type: "POST",
		data: { id: id , content: $( "#post_sub_content_"+id.toString() ).val() },
		dataType: "json"
		});
		request.done(function( message ) {
		   	$btn.button('reset')		
			$( "#post_sub_content_"+id.toString() ).val('')	   		
			addAlert('success', message.message)
			showComment();			
		});
		request.fail(function( jqXHR, textStatus ) {
			$btn.button('reset')	
		});	
	}	
}


</script>
	
	
	
	
	
	
	
	
	
	
function addComment(content, user_id, user_last_name, user_avatar_url, created_at)
{
	
	
	<div class="row">
	  <div class="col-sm-1"><%= image_tag current_user.avatar.url, class: 'img-circle', size: '50x50' %></div>
	  <div class="col-sm-5">Lin 2014/5/1 14:00pm <br> 請問可以擺放多久</div>
      <div class="col-sm-1">      	
		<span style="cursor: pointer" data-toggle="tooltip" data-placement="top" title="刪除" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>      	
      	<span style="cursor: pointer" data-toggle="tooltip" data-placement="top" title="編輯" class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
	  </div> 
	</div>
	<div class="row">
	  <div class="col-sm-7"><span class="pull-right">回應</span></div>	  
	</div>	
		
	var $question_eg_question_outter =$("<div>", {class: "row question_eg_question_outter"}); 
			$question_eg_question_outter.append('<div class="col-sm-1"></div>');			

}