<%if user_signed_in?%> 
<div class="row comment_post">
	<div class="col-sm-offset-1 col-xs-1"><%= image_tag current_user.avatar.url, class: 'img-circle' %></div>
	<div class="col-xs-10 col-sm-9 ">
	  	<div class="talkbubble"><textarea class="form-control comment_textarea" rows="2" placeholder='想說什麼...' id="post_content"></textarea></div>
	  	<button class="btn btn-default pull-right comment_button" id="post_button" onclick="postComment()" data-loading-text="傳送中...">送出</button>
	</div>
</div>	
<%else%>
<div class="row comment_post">
	<%= form_tag  '/comments/post', method: 'get' do %>
		<%= hidden_field_tag  :id,  product.id  %>	
	  	<div class="col-sm-offset-1 col-xs-1"><%= image_tag 'default_avatar.png', class: 'img-circle' %></div>		    
	  	<div class="col-xs-10 col-sm-9 ">
	  		<div class="talkbubble">
	  			<textarea name="content" class="form-control comment_textarea" rows="2" placeholder='想說什麼...' id="post_content"></textarea>
	  		</div>
	  		<%= submit_tag '送出',  class: "btn btn-default pull-right comment_button"  %>
	  	</div>
	<% end %>
</div>		
<%end%>
<%if product.comments.count <= 3 %>
	<div id="all_comments" style="overflow-y: scroll; overflow-x: hidden; height: 250px;"></div>	
<%else%>
	<div id="all_comments" style="overflow-y: scroll; overflow-x: hidden; height: 500px;"></div>	
<%end%>
<script>
$(function () {
	showComment();
})
//init
<%if user_signed_in?%>  
var	current_user = {id: <%=current_user.id %>, avatar_url: '<%=current_user.avatar.url %>' };
<%else%>
var	current_user = {id: -1 };
<%end%>
var default_avatar = '<%=asset_path 'default_avatar.png' %>'
var product_id = <%=product.id %>

function postComment()
{
	if($( "#post_content" ).val()!= '')
	{
		var $btn = $('#post_button').button('傳送中...')
		var request = $.ajax({
		url: "/comments/post",
		type: "POST",
		data: { id: product_id, content: $( "#post_content" ).val() },
		dataType: "json"
		});
		request.done(function( message ) {
		   	$btn.button('reset')		
			$( "#post_content" ).val('')	   		
			//addAlert('success', message.message)
			showComment();			
		});
		request.fail(function( jqXHR, textStatus ) {
			addAlert('error', '請先登入, 謝謝!')			
			$btn.button('reset')	
		});	
	}
}
function showComment()
{
	var request = $.ajax({
	url: "/comments/show",
	type: "GET",
	data: { id: product_id},
	dataType: "json"
	});
	request.done(function( message ) {
		$("#all_comments").empty();
		$.each(  message , function( i, l ){
		  addComment(l.comment, l.sub_comments)
		});		
	});
	request.fail(function( jqXHR, textStatus ) {
		toastr["error"]('留言讀取失敗')			
	});		
	
}
function addComment(comment, sub_comments)
{
	var $container =$("<div>", {id: 'comment_'+comment.id.toString()}); 
	var $row_1 =$("<div>", {class: "row comment_row"}); 
	$row_1.append('<div class="col-sm-offset-1 col-xs-1">'+
		     	  '<img src="'+comment.user_avatar_url+'" onerror="this.src=\''+default_avatar+'\'" alt="missing" width="50" height="50" class="img-circle">'+
		     	  '</div>');//+
				  //'<div class="col-sm-9 ">'+comment.user_last_name+' '+moment(comment.created_at, "YYYY-MM-DD HH:mm:ss" ).fromNow()+'<div class="comment_msg">'+comment.content+'</div>'+
				  //'</div>');		
	var $op_container =$("<div>", {class: 'col-xs-10 col-sm-9  col-sm-9  comment_op'}); 	
	$op_container.append(comment.email+' '+moment(comment.created_at, "YYYY-MM-DD HH:mm:ss" ).fromNow());		  
	if(comment.user_id == current_user.id)			  
	{			  		  
		var $delete_but = $("<span>", { onclick: 'delComment('+comment.id.toString()+');', class: "pull-right", style: "cursor: pointer", title: "刪除"}); 	  
		//var $edit_but = $("<span>", { onclick: 'editComment('+comment.id.toString()+');', class: "glyphicon glyphicon-edit pull-right", style: "cursor: pointer", title: "編輯"}); 	  
		$delete_but.append('x');
		$delete_but.tooltip({placement: 'top'});//$edit_but.tooltip({placement: 'top'});	
		//$op_container.append($delete_but); //$op_container.append($edit_but) 	
		$op_container.append($delete_but);
	}		
	$op_container.append('<div class="comment_msg">'+comment.content+'</div></div>');
	$row_1.append($op_container);	
	$container.append($row_1);		
	//sub comment post	
	if(current_user.id!=-1)
	{
		var $row_post_sub_comment =$("<div>", {class: "row comment_post", id: "post_sub_comment_"+comment.id.toString() }); 
			$row_post_sub_comment.append('<div class="col-xs-1 col-xs-offset-1 col-sm-offset-2 col-sm-offset-2">'+
										 '<img src="'+current_user.avatar_url+'" onerror="this.src=\''+default_avatar+'\'" alt="missing" width="50" height="50" class="img-circle">'+
										 '</div>'+				
	  									 '<div class="col-xs-9 col-sm-8" ><div class="talkbubble"><textarea class="form-control comment_textarea" rows="1" placeholder="回應..." id="post_sub_content_'+comment.id.toString()+'"></textarea></div>'+		
	  							 		 '<button class="btn btn-default pull-right comment_button" id="post_sub_button_'+comment.id.toString()+'" onclick="postSubComment('+comment.id.toString()+')">送出</button></div>');	  	
	}
	if(sub_comments.length==0 && current_user.id!=-1)
	{
		var $row_reply_but = $("<div>", {class: "row"}); 
		$row_reply_but.append('<div class="col-xs-11"><span onclick="$(\'#post_sub_comment_'+comment.id.toString()+'\').show();" style="cursor: pointer" class="pull-right comment_reply">回應</span></div>')	  
		$container.append($row_reply_but);			
		$row_post_sub_comment.hide();	
	}
	else
		$.each( sub_comments, function( i, l ){
			var $row_sub =$("<div>", {class: "row comment_sub_row", id: 'sub_comment_'+l.id.toString()}); 			
			$row_sub.append('<div class="col-xs-1 col-xs-offset-1 col-sm-offset-2">'+
				     	  '<img src="'+l.user_avatar_url+'" onerror="this.src=\''+default_avatar+'\'" alt="missing" width="50" height="50" class="img-circle">'+
				     	  '</div>');
						  //'<div class="col-sm-7">'+l.user_last_name+' '+moment(l.created_at, "YYYY-MM-DD HH:mm:ss" ).fromNow()+'<div class="comment_msg">'+l.content+'</div>'+
						  //'</div>');
			var $sub_op_container =$("<div>", {class: 'col-xs-9 col-sm-8 comment_op'}); 
			$sub_op_container.append(l.email+' '+moment(l.created_at, "YYYY-MM-DD HH:mm:ss" ).fromNow());		  									  		
			if(l.user_id == current_user.id)			  
			{			  		  
				var $delete_sub_but = $("<span>", { onclick: 'delSubComment('+l.id.toString()+');', class: "pull-right", style: "cursor: pointer", title: "刪除"}); 	  
				$delete_sub_but.append('x');				
				$delete_sub_but.tooltip({placement: 'top'});	
				$sub_op_container.append($delete_sub_but);	
			} 
			$sub_op_container.append('<div class="comment_msg">'+l.content+'</div></div>');			
			$row_sub.append($sub_op_container);				
			$container.append($row_sub);			  	
		});	

	$container.append($row_post_sub_comment);
	$("#all_comments").append($container);			  
}
function delComment(id)
{
	var request = $.ajax({
	url: "/comments/delete",
	type: "POST",
	data: { id: id },
	dataType: "json"
	});
	request.done(function( message ) {
		if(message.success)
			//addAlert('success', message.message);
			showComment();			
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
}
function editComment(id)
{}

function postSubComment(id)
{
	if($( "#post_sub_content_"+id.toString() ).val()!= '')
	{
		var $btn = $("#post_sub_button_"+id.toString()).button('傳送中...')
		
		var request = $.ajax({
		url: "/comments/postSub",
		type: "POST",
		data: { id: id , content: $( "#post_sub_content_"+id.toString() ).val() },
		dataType: "json"
		});
		request.done(function( message ) {
		   	$btn.button('reset')		
			$( "#post_sub_content_"+id.toString() ).val('')	   		
			//addAlert('success', message.message)
			showComment();			
		});
		request.fail(function( jqXHR, textStatus ) {
			$btn.button('reset')	
		});	
	}	
}
function delSubComment(id)
{
	var request = $.ajax({
	url: "/comments/deleteSub",
	type: "POST",
	data: { id: id },
	dataType: "json"
	});
	request.done(function( message ) {
		if(message.success)
			$('#sub_comment_'+id.toString()).remove();				
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
}
</script>

<style>
div {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
</style>	
