<div class="container main_frontend">
<%= form_for @user, url: { controller: 'invoices', action: "confirmCheckout"}, method: :post , html: {class: "form-horizontal", role: "form", id: "first-form"} do |u| %>		 
	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<div class="col-sm-12">
			<div class="section_title">購買項目</div>
			<div class="section_underline"></div>
		</div>					
	</div>	
	<%@user.carts.each_with_index do |c, index| %>
		<% product = c.product_boxing.product%>	
		<div class="row check_out_product_list cart_<%=c.id%> text-center" style="margin-top: 30px; margin-bottom: 30px;">	
			<div class="col-sm-1 col-xs-12 vmiddle">
				<%= image_tag product.cover.url(:medium), class: 'img-circle farm_fruits_img'%>						
			</div>	
			<div class="col-sm-2 col-xs-12 check_out_product_list_title vmiddle">
				<%= link_to product_path(product) do%>
					<%if product.released_at%>
						<%if product.released_at > Time.zone.now %>
						[預購]
						<%end%>
					<%end%>
					<%= product.name%>
				<% end %>			
			</div>	
			<div class="col-sm-2 col-xs-12 check_out_product_list_text vmiddle">
				<% c.product_boxing.product_pricings.each do |pp| %>
					<%if pp.quantity == 1%>	
						每箱<%= "%g" % c.product_boxing.quantity %><%= Hash[unitOptions].rassoc(product.unit).first %> <%= priceWithShippingRates(product_boxing: c.product_boxing, quantity: pp.quantity) %>元
					<%elsif pp.quantity%>
						<br>
						<%= pp.quantity %>箱以上，每箱<%= priceWithShippingRates(product_boxing: c.product_boxing, quantity: pp.quantity)/pp.quantity %>元		
					<%end%>				
				<%end%>  					
			</div>			
			<div class="col-sm-2 col-xs-12 form-inline check_out_product_list_text vmiddle">
				<%= select_tag  'quantity_'+c.id.to_s, options_for_select( (1..50).step(1).to_a, c.quantity.to_s), class: "form-control quantity", 'data-id'=>c.id.to_s %>箱				
			</div>
			<!--
			<div class="col-sm-2 col-xs-12 vmiddle">
				<%if c.product_boxing.gift_wrapping_available_c%>
				<%= select_tag  'gift_wrapping_'+c.id.to_s, options_for_select([ ["禮盒裝 +"+GLOBAL_VAR['GIFT_WRAPPING_FEE'].to_s+"元/箱", true], ["非禮盒裝", false] ], c.gift_wrapping_c), class: "form-control gift_wrapping", 'data-id'=>c.id.to_s %>							
				<%else%>
				未提供禮盒裝
				<%= hidden_field_tag  'gift_wrapping_'+c.id.to_s, c.gift_wrapping_c, 'data-id'=>c.id.to_s %>											
				<%end%>
			</div>
			-->			
			<div class="col-sm-1 col-xs-12 check_out_product_list_text vmiddle">
				<span id="item_total_price_<%=c.id%>" data-value='0' ></span>元		
			</div>
			<div class="col-sm-1 col-xs-12 vmiddle">
	       		<span class="glyphicon glyphicon-remove hidden-xs destroy" aria-hidden="true" data-id='<%=c.id %>' style="cursor: pointer"></span>        							
	       		<span class="btn dark_gray_btn hidden-sm hidden-md hidden-lg destroy" aria-hidden="true" data-id='<%=c.id %>' style="cursor: pointer; font-size: 11px; margin-top: 5px;">刪除</span>        							       			
			</div>											
		</div>		
	<%end%>
	<div class="row" style="margin-top: 20px; margin-bottom: 30px;">
		<div class="col-sm-12">
			<div class="section_title">付款方式</div>
			<div class="section_underline"></div>			
		</div>					
	</div>		
	<div class="row">
		<div class="col-sm-2 col-xs-offset-1 col-xs-5 check_out_pay_method">	
			<div class="radio">
			<label>
				 <%= radio_button_tag 'payment_method', GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT'], @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT'].to_s %>
				 <div class="check_out_pay_method_text">
				 	線上刷卡
		  			<%=image_tag 'allPay.png', class: 'img-responsive'%>					 	
				 </div>
			</label>	 
			</div>
		</div>
		<div class="col-sm-2 col-xs-6 check_out_pay_method">	
			<div class="radio">
			<label>
				 <%= radio_button_tag 'payment_method', GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM'], @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM'].to_s %>
				 <div class="check_out_pay_method_text"> 
				 ATM轉帳
		  		 <%=image_tag 'allPay.png', class: 'img-responsive'%>					 	
				 </div>	
			</label>				 			 
			</div>
		</div>
		<div class="col-sm-offset-0 col-sm-2 col-xs-offset-1 col-xs-7 check_out_pay_method">	
			<div class="radio">
			<label>
				 <%= radio_button_tag 'payment_method', GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS'], @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS'].to_s %>
				 <div class="check_out_pay_method_text"> 
				 超商繳款<span style="color: #b24d4b; font-size: 80%;"> +<%= GLOBAL_VAR['ALLPAY_CVS_FEE']%>元</span>
		  		 <%=image_tag 'allPay.png', class: 'img-responsive'%>					 	
				 </div>	
			</label>				 			 
			</div>
		</div>				
		<div class="col-sm-5 col-xs-12 check_out_product_list_text">	
			<div class="row">
				<div class="col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-4">小計</div>				
				<div class="col-sm-4 col-xs-5" style="text-align: right">		
				<span id="total_price" data-value='0'></span>
				</div>	
				<div class="col-sm-2 col-xs-1">元</div>											
			</div>	
			<div class="row" style="margin-top: 10px;">
				<div class="col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-4">
					使用回饋金<br>
					<span class="text-muted" style="font-size: 90%">餘額: <%=coupons %>元</span>							
				</div>		
				<div class="col-sm-4 col-xs-5" style="text-align: right">		
					<%= text_field_tag :coupons_using, @coupon_using || 0, class: "form-control" %>					
				</div>	
				<div class="col-sm-2 col-xs-1" style="vertical-align: middle">元</div>			
			</div>		
			<div class="row" style="margin-top: 10px; font-weight: bold; font-size: 20px;">
				<div class="col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-4">總計</div>				
				<div class="col-sm-4 col-xs-5" style="text-align: right;">		
				<span id="sum" data-value='0'></span><span class="extra_cash_flow_fee" style="color: #b24d4b; font-size: 80%;"> +<%=GLOBAL_VAR['ALLPAY_CVS_FEE']%></span>
				</div>	
				<div class="col-sm-2 col-xs-1">元</div>							
			</div>	
		</div>	
	</div>			
	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<div class="col-sm-12">
			<div class="section_title">訂購人資訊</div>
			<div class="section_underline"></div>			
		</div>					
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">姓名</label>
		<div class="form-inline col-sm-8">
			<%= u.text_field :last_name, class: "form-control", placeholder: '姓' %>
			<%= u.text_field :first_name, class: "form-control", placeholder: '名' %>			
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">
			行動電話
		<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>			
		</label>
		<div class="col-sm-8 form-inline">
			<%= hidden_field_tag 'user[phone_no_full]'%>
			<%if @user.phone_no_confirmed_at.blank?%>
				<%if @user.phone_no%>
					<% phone_no = @user.phone_no.gsub(/^\+886/, '0')%>
				<%end%>	
				<%= u.text_field :phone_no, value: phone_no, class: "form-control" %>			
				<span id="error_msg" class="hide">格式錯誤</span>			
			<%else%>
				<%= u.text_field :phone_no, value: @user.phone_no.gsub(/^\+886/, '0'), class: "form-control", readonly: true %>			
			<%end%>	
			<span class="hidden-sm hidden-md hidden-lg"><br></span>例: 0912 345 678
		</div>		
	</div>		
	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-6">
			<%= u.email_field :email, class: "form-control", placeholder: 'Email' %>						
		</div>
	</div>		  
	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<div class="col-sm-12">
			<div>
				<div class="section_title" style="display: inline-block">收件人資訊</div>
				<div class="checkbox" style="display: inline-block; margin-left: 20px;">
  					<label>
				 	<%= check_box_tag 'same_as_user'%>
				 	同訂購人資訊
				  </label>
				</div>				
			</div>
			<div class="section_underline"></div>			
		</div>					
	</div>
	<% @receivers.each_with_index do |r, i| %>
	<div class="form-group">
		<label class="col-sm-2 control-label">姓名</label>
		<div class="form-inline col-sm-8">
			<%= text_field_tag 'receivers['+i.to_s+'][last_name]', r[:last_name], {class: "form-control", placeholder: '姓'} %>
			<%= text_field_tag 'receivers['+i.to_s+'][first_name]', r[:first_name],{class: "form-control", placeholder: '名'} %>			
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">行動電話
			<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
		</label>
		<div class="col-sm-8 form-inline">
			<%= hidden_field_tag 'receivers['+i.to_s+'][phone_no_full]'%>
			<%if r[:phone_no]%>
				<% phone_no = r[:phone_no].gsub(/^\+886/, '0')%>
			<%end%>				
			<%= text_field_tag 'receivers['+i.to_s+'][phone_no]', phone_no, class: "form-control" %>
			<span id="receiver_error_msg_<%=i %>" class="hide">格式錯誤</span>
			<span class="hidden-sm hidden-md hidden-lg"><br></span>例: 0912 345 678			
		</div>		
	</div>		
	<div class="form-group">
		<label class="col-sm-2 control-label">聯絡地址</label>
		<div class="form-inline col-sm-7">
			<span id="twzipcode_receiver_<%=i.to_s%>"></span>
			<%= text_field_tag 'receivers['+i.to_s+'][address]', r[:address], {class: "form-control"} %>
		</div>
	</div>	
	<%end%>
	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="form-inline col-sm-6">
			<label class="checkbox-inline">
		 	<%= check_box_tag 'agree', true, @agree == 'true'%>
			我已詳閱並同意 小農1號 退換貨政策		 	
		 	</label>
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="form-inline col-sm-7"  style="overflow-y: scroll; overflow-x: hidden; height: 100px;">
			<%=render 'return_policy' %>
		</div>
	</div>					
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">   
		<button class="btn orange_btn" type="submit" style="font-size: 20px; padding: 6px 25px;">下一步</button>			 
		</div>
	</div>
<%end%>		
</div>

<script>
//====================== error ======================//
<% @user.errors.messages.each do |index, value| %>
	<%unless value.blank? %>
		toastr["warning"]('<%=value.first%>')	
	<%end%>	
<% end %>

//====================== same_as_user ======================//
$('#same_as_user').change(function() {
   if ( this.checked )
   {
   		$('#receivers_0_last_name').val($('#user_last_name').val())	
   		$('#receivers_0_first_name').val($('#user_first_name').val())	  		
   		$('#receivers_0_phone_no').val($('#user_phone_no').val())	 	
   }
});









//====================== price ======================//
//pay method
$('input[type=radio][name=payment_method]').change(function(){
  if ($("input[name='payment_method']:checked").val() == '<%=GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS']%>') {
    $('.extra_cash_flow_fee').show()
  }else{
    $('.extra_cash_flow_fee').hide()
  }
});
//coupons
$('#coupons_using').change(function(){		
	$('.check_out_pay_method .radio').show();
	if( !$.isNumeric( $(this).val()) ){
		toastr["error"]('回饋金應填入數字')
		$(this).val(0)		
	}
	else if( $(this).val() < 0 || $(this).val() > <%=coupons %> ){	
		toastr["error"]('填入回饋金超出持有範圍')
		$(this).val(0)	
	}
	else if( $('#total_price').data( "value")-$('#coupons_using').val() < 0 ){	
		toastr["error"]('填入回饋金超出小計')
		$(this).val(0)			
	}
	else{
		if(  $('#total_price').data( "value")-$('#coupons_using').val() == 0 )
		{
			$('.check_out_pay_method .radio').hide();	
			$('input[name="payment_method"]').prop('checked', false);
			$('.extra_cash_flow_fee').hide()				
		}
		else
		{
			$('.check_out_pay_method .radio').show();			
		}
		sum = $('#total_price').data( "value") - $('#coupons_using').val()
		$('#sum').data("value", sum)
		$('#sum').html(sum)	
	}						
});	
//gift wrapping
$('.gift_wrapping').change(function(){	
  	id = $(this).data("id")
	var request = $.ajax({
		url: "/carts/updateCart",
		type: "GET",
		data: { id: id, val: $('#gift_wrapping_'+id).val(), kind: 'gift_wrapping'},
		dataType: "json"
	});
	request.done(function( message ) {
		if(message.alert_class = 'success')
		{
	    	updatePrice();
	    }	
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
})
//quantity
$('.quantity').change(function(){	
	id = $(this).data("id")	
	var request = $.ajax({
		url: "/carts/updateCart",
		type: "GET",
		data: { id: id, val: $('#quantity_'+id).val(), kind: 'quantity'},
		dataType: "json"
	});
	request.done(function( message ) {
		if(message.alert_class = 'success')
		{
	    	showCarts();
	    	updatePrice();
	    }	
	});
	request.fail(function( jqXHR, textStatus ) {
	});					
})
//destroy
$('.destroy').click(function(){	
	id = $(this).data("id")		
	var request = $.ajax({
		url: "/carts/"+id.toString(),
		type: "DELETE",
		data: {},
		dataType: "json"
	});
	request.done(function( message ) {
		var removed_index 
	    $.each(pricings, function( i, v ) {	
			if(v.id == id )
			{	
				removed_index = i ;			
				return false; 
			}
		});		
		pricings.splice(removed_index, 1);
		products.splice(removed_index, 1);
		boxings.splice(removed_index, 1);
		//shipping_rates.splice(removed_index, 1);
		//discounts.splice(removed_index, 1);		
	    showCarts();
	   	updatePrice();	    
	    $(".cart_"+id.toString()).remove();
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
})
//price
function updatePrice(){
	var total_price = 0
	$.each(pricings, function( i, v ) {			
		$.each( v.pricing, function( ii, vv ) {	
			quantity = $('#quantity_'+v.id).val()
			if(quantity >= vv.quantity)	
			{
				shipping_rate_quantity = 1
				if( vv.quantity!=1 )
					shipping_rate_quantity = vv.quantity 				
				item_price = quantity*Math.ceil((vv.price+shippingRates( boxings[i].size, products[i].cold_chain, shipping_rate_quantity))*products[i].discount)		
				if( $('#gift_wrapping_'+v.id).val() == 'true' ) 	
					item_price = item_price + quantity*<%= GLOBAL_VAR['GIFT_WRAPPING_FEE']%>
				$('#item_total_price_'+v.id).html( item_price);				
				$('#item_total_price_'+v.id).data( "value", item_price);
				total_price = total_price + item_price	
				return false;
			}	
		});	
	});		
	$('#total_price').html(total_price)
	$('#total_price').data( "value", total_price)
	$('#sum').html( total_price-$('#coupons_using').val())
	$('#sum').data( "value", total_price-$('#coupons_using').val())
}
//init
var products = [] 
var boxings = []
var pricings = []
<%@user.carts.each do |c| %>
	products.push({ id: <%=c.id %>, discount: <%= c.product_boxing.product.discount %>, cold_chain: <%= c.product_boxing.product.cold_chain %>})
	boxings.push({ id: <%=c.id %>, size: <%= c.product_boxing.size %>})
	pricing = new Array()
	<%c.product_boxing.product_pricings.order('quantity desc').each do |p| %>
		<% unless p.quantity.blank? %>
		pricing.push({ price: <%= p.price.to_i %>, quantity: <%= p.quantity %> })
		<% end %>
	<%end%>
	pricings.push({ id: <%=c.id %>, pricing: pricing})
<%end%>
$('input[type=radio][name=payment_method]').trigger("change")	
updatePrice()	
$('#coupons_using').trigger("change")				















//====================== user phone ======================//
telInput = $("#user_phone_no");
errorMsg = $("#error_msg"),
telInput.intlTelInput({
	autoPlaceholder: false,    
    defaultCountry: "tw",
    numberType: "MOBILE", 
    utilsScript: "<%=asset_path 'utils.js'%>"
});
telInput.blur(function() {
  if ($.trim(telInput.val())) {
    if (telInput.intlTelInput("isValidNumber") && intlTelInputUtils.numberType.MOBILE == telInput.intlTelInput("getNumberType") ) {
    } else {
      telInput.addClass("error");
      errorMsg.removeClass("hide");
    }
  }
});
telInput.keydown(function() {
  telInput.removeClass("error");
  errorMsg.addClass("hide");
});

//====================== receiver address ======================//
<% @receivers.each_with_index do |r, i| %>
$('#twzipcode_receiver_<%=i %>').twzipcode({
	zipcodeName: 'receivers[<%= i%>]postal',
    countyName: 'receivers[<%= i%>]county',
    districtName: 'receivers[<%= i%>]district',
    zipcodeIntoDistrict: true,
    css: ['form-control', 'form-control'], 
    <%unless r[:county].blank?%>
	countySel: '<%=r[:county]%>',
	districtSel: '<%=r[:district]%>'
	<%end%>    
});
//====================== receiver phone ======================//
receiver_telInput_<%=i %> = $("#receivers_<%=i %>_phone_no");
receiver_errorMsg_<%=i %> = $("#receiver_error_msg_<%=i %>"),
// initialise plugin
receiver_telInput_<%=i %>.intlTelInput({
	autoPlaceholder: false,    
    defaultCountry: "tw",
    numberType: "MOBILE",     
    utilsScript: "<%=asset_path 'utils.js'%>"
});
// on blur: validate
receiver_telInput_<%=i %>.blur(function() {
  if ($.trim(receiver_telInput_<%=i %>.val())) {
    if (receiver_telInput_<%=i %>.intlTelInput("isValidNumber") ) {
    } else {
      receiver_telInput_<%=i %>.addClass("error");
      receiver_errorMsg_<%=i %>.removeClass("hide");
    }
  }
});
// on keydown: reset
receiver_telInput_<%=i %>.keydown(function() {
  receiver_telInput_<%=i %>.removeClass("error");
  receiver_errorMsg_<%=i %>.addClass("hide");
});

<%end%>
//====================== form submit ======================//
$("form").submit(function() {
  $("#user_phone_no_full").val($("#user_phone_no").intlTelInput("getNumber"));	
  <% @receivers.each_with_index do |r, i| %>
  $("#receivers_<%=i %>_phone_no_full").val($("#receivers_<%=i %>_phone_no").intlTelInput("getNumber"));
  <%end%>
});
//====================== fb ======================//
fbq('track', 'InitiateCheckout');	
</script>