<div class="container main_frontend">
	<h2>請確認您的訂單資訊</h2>	
	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<div class="col-sm-12">
			<div class="section_title">購買項目</div>
			<div class="section_underline"></div>
		</div>					
	</div>		
	<%current_user.carts.each_with_index do |c, index| %>
		<% product = c.product_boxing.product%>	
		<div class="row check_out_product_list cart_<%=c.id%> text-center" style="margin-top: 30px; margin-bottom: 30px;">
			<div class="col-sm-1 check_out_product_list_index vmiddle hidden-xs">
				<%= index+1 %>.			
			</div>	
			<div class="col-sm-2 col-xs-12 vmiddle">
				<%= image_tag product.cover.url(:medium), class: 'img-circle farm_fruits_img'%>						
			</div>	
			<div class="col-sm-2 col-xs-12 check_out_product_list_title vmiddle">
				<%= link_to product_path(product) do%>
					<%if product.released_at%>
						<%if product.released_at > Time.now %>
						[預購]
						<%end%>
					<%end%>
					<%= product.name%>
				<% end %>
			</div>	
			<div class="col-sm-2 col-xs-12 check_out_product_list_text vmiddle">
				<% product.product_boxings.first.product_pricings.each do |pp| %>
					<%if pp.quantity == 1%>	
						每箱<%= "%g" % product.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(product.unit).first %> <%= priceWithShipments(pp)%>元
					<%elsif pp.quantity%>
						<br>
						<%= pp.quantity %>箱以上 每箱<%= priceWithShipments(pp) %>元		
					<%end%>
				<%end%>  					
			</div>			
			<div class="col-sm-1 col-xs-12 check_out_product_list_text vmiddle">
				<%= c.quantity%>箱				
			</div>
			<div class="col-sm-1 col-xs-12 check_out_product_list_text vmiddle">
				<span class="total_price_<%=c.id%>"></span>元		
			</div>											
		</div>			
	<%end%>
	<div class="row" style="margin-top: 20px; margin-bottom: 30px;">
		<div class="col-sm-12">
			<div class="section_title">付款方式</div>
			<div class="section_underline"></div>			
		</div>					
	</div>	
	<div class="row">
		<div class="col-sm-offset-3 col-sm-2 col-xs-offset-1 col-xs-5 check_out_pay_method">			
		<%if @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT'].to_s%>		
			<label>
				 <div class="check_out_pay_method_text">
				 	線上刷卡
		  			<%=image_tag 'allPay.png', class: 'img-responsive'%>					 	
				 </div>
			</label>	 
		<%elsif @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM'].to_s%>				
			<label>
				 <div class="check_out_pay_method_text">
				 	ATM櫃員機
		  			<%=image_tag 'allPay.png', class: 'img-responsive'%>					 	
				 </div>
			</label>
		<%elsif @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS'].to_s%>				
			<label>
				 <div class="check_out_pay_method_text">
				 	超商代碼<span style="color: #b24d4b; font-size: 90%;"> +30元</span>
		  			<%=image_tag 'allPay.png', class: 'img-responsive'%>					 	
				 </div>
			</label>							 			 
		<%end%>								
		</div>
		<div class="col-sm-7 col-xs-12 check_out_product_list_text">	
			<div class="row">
				<div class="col-sm-offset-2 col-sm-3 col-xs-offset-1 col-xs-4">小計</div>				
				<div class="col-sm-4 col-xs-5" style="text-align: right">		
				<span class="total_price"></span>
				</div>	
				<div class="col-sm-2 col-xs-1">元</div>											
			</div>	
			<div class="row" style="margin-top: 10px;">
				<div class="col-sm-offset-2 col-sm-3 col-xs-offset-1 col-xs-4">
					使用回饋金<br>
				</div>		
				<div class="col-sm-4 col-xs-5" style="text-align: right">		
					<%= @coupon_using || 0 %>
				</div>	
				<div class="col-sm-2 col-xs-1" style="vertical-align: middle">元</div>			
			</div>		
			<div class="row" style="margin-top: 10px; font-weight: bold; font-size: 20px;">
				<div class="col-sm-offset-2 col-sm-3 col-xs-offset-1 col-xs-4">總計</div>				
				<div class="col-sm-4 col-xs-5" style="text-align: right;">		
				<span class="sum"></span>
				<% if @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS'].to_s%> 			
				<span class="extra_cash_flow_fee" style="color: #b24d4b; font-size: 80%;"> +<%=GLOBAL_VAR['ALLPAY_CVS_FEE']%></span>
				<% end %>
				</div>	
				<div class="col-sm-2 col-xs-1">元</div>							
			</div>	
		</div>	
	</div>		
	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<div class="col-sm-12">
			<div class="section_title">訂購人資訊</div>
			<div class="section_underline"></div>			
		</div>					
	</div>	
	<div class="row check_out_product_list_text">
		<label class="col-sm-offset-2 col-sm-2">姓名</label>
		<div class="col-sm-8">
			<%= current_user.last_name%>
			<%= current_user.first_name%>			
		</div>
	</div>
	<div class="row check_out_product_list_text">
		<label class="col-sm-offset-2 col-sm-2">行動電話</label>
		<div class="col-sm-8">
			<%= current_user.phone_no.gsub(/^\+886/, '0')%>			
		</div>
	</div>
	<div class="row check_out_product_list_text">
		<label class="col-sm-offset-2 col-sm-2">Email</label>
		<div class="col-sm-8">
			<%= current_user.email %>
		</div>
	</div>
	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<div class="col-sm-12">
			<div>
				<div class="section_title">收件人資訊</div>		
			</div>
			<div class="section_underline"></div>			
		</div>					
	</div>
	<div class="row check_out_product_list_text">
		<label class="col-sm-offset-2 col-sm-2">姓名</label>
		<div class="col-sm-8">
			<%= @receiver_last_name%>
			<%= @receiver_first_name%>	
		</div>
	</div>
	<div class="row check_out_product_list_text">
		<label class="col-sm-offset-2 col-sm-2">聯絡電話</label>
		<div class="col-sm-8">
			<%= @receiver_phone_no.gsub(/^\+886/, '0')%>
		</div>
	</div>
	<div class="row check_out_product_list_text">
		<label class="col-sm-offset-2 col-sm-2">聯絡地址</label>
		<div class="col-sm-8">
			<%= @receiver_postal%> <%= @receiver_county%><%= @receiver_district%><%= @receiver_address%>
		</div>
	</div>		


<%= form_for current_user, url: { controller: 'invoices', action: "checkout"}, method: :post do |u| %>		 
	<%= text_field_tag :coupons_using, @coupon_using || 0, style: 'display: none' %>
	<%= radio_button_tag 'payment_method', GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT'], @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT'].to_s, style: 'display: none' %>
	<%= radio_button_tag 'payment_method', GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM'], @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM'].to_s, style: 'display: none' %>
	<%= radio_button_tag 'payment_method', GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS'], @payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS'].to_s, style: 'display: none' %>
	
	<%= u.text_field :last_name, style: 'display: none' %>
	<%= u.text_field :first_name, style: 'display: none' %>
	<%= u.text_field :phone_no, style: 'display: none' %>				
	<%= u.text_field :email, style: 'display: none' %>

	<%= text_field_tag :receiver_last_name, @receiver_last_name, style: 'display: none'%>
	<%= text_field_tag :receiver_first_name, @receiver_first_name, style: 'display: none'%>				
	<%= text_field_tag :receiver_phone_no, @receiver_phone_no, style: 'display: none'%>
	<%= text_field_tag :receiver_postal, @receiver_postal, style: 'display: none'%>		
	<%= text_field_tag :receiver_county, @receiver_county, style: 'display: none'%>		
	<%= text_field_tag :receiver_district, @receiver_district, style: 'display: none'%>				
	<%= text_field_tag :receiver_address, @receiver_address, style: 'display: none'%>
	<%= check_box_tag 'agree', true, @agree == 'true', style: 'display: none'%>   	
	<div class="row" style="margin-top: 20px;">
		<div class="col-sm-offset-2 col-sm-6">   
		<%= u.submit '修改',  class: "btn btn-default edit_button", style: 'font-size: 20px; padding: 6px 25px;'%>
		<%= u.submit '確認交易', formaction: "/invoices/create", class: "btn btn-success add_button", style: 'margin-left: 10px; font-size: 20px; padding: 6px 25px;'%>			
		</div>
	</div>		
<%end-%>	
</div>	



<script>
var total_price = 0
<%current_user.carts.each do |c| %>
	var pricing_<%=c.id %> =  []
	var shipping_rates_<%=c.id %> = <%= shippingRates(cold_chain: c.product_boxing.product.cold_chain, size: c.product_boxing.size)%>		
	var discount_<%=c.id %> = <%= c.product_boxing.product.discount %>	
	<%c.product_boxing.product_pricings.order('quantity desc').each do |p| %>
		<% unless p.quantity.blank? %>		
			pricing_<%=c.id %>.push({ price: <%= p.price.to_i %>, quantity: <%= p.quantity %>  })
		<% end %>
	<%end%>
	$('.total_price_<%=c.id %>').data( "price", 0 );		
	updatePrice(<%= c.quantity %>, pricing_<%=c.id %>, <%=c.id %>, shipping_rates_<%=c.id %>, discount_<%=c.id %>)		
<%end%>
function updatePrice(quantity, pricing, id, shipping_rates, discount){
	$.each(pricing, function( index, value ) {
		if(quantity >= value.quantity)	
		{
			item_price = quantity*Math.ceil((value.price+shipping_rates)*discount)			
			$('.total_price_'+id).html(item_price);
			total_price =  total_price + item_price
			$('.total_price').html(total_price)
			$('.sum').html(total_price-<%= @coupon_using %>)
			$('.total_price_'+id ).data( "price", item_price );
			return false;
		}	
	});	
}
</script>