<div class="container-fluid main_frontend">	
	<div class="row">
		<div class="col-sm-offset-1 col-sm-4">	
			
		<p><%=@invoice.created_at.strftime("%Y-%m-%d %H:%M:%S") %>已成功, 完成訂購</p>
		<p>購買編號: <%=@invoice.id %></p>	
		<p>購買金額: <%=@invoice.amount.to_i%></p>
		<p>
    	<% discount = 0 %>
    	<% @invoice.invoice_coupon_lists.each do |i_c_l|%>
    		<%discount = discount + i_c_l.amount%>
    	<%end%>	 			
		付款金額: <%=(@invoice.amount - discount).to_i  %></p>								
		<p>購買項目: 
		<table>	
		<tr>	
		    <td>訂單編號</td>						
		    <td>水果名稱</td>
			<td>數量(單位/箱)</td>   
			<td>金額</td> 						 		    
	  	</tr>      		      	
    	<%@invoice.orders.each do |o|%>      	
        <tr>
          <td><%= o.id %></td>        	        		
          <td><%= o.product_boxing.product.name%></td>
          <td><%= o.quantity%>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)</td>
          <td><%= o.price.to_i %>元</td>     
        </tr>
    	<%end%>	
    	</table>  			
		</p>			
		<p>付款方式</p>    	
		<%if @invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>	
				 線上刷卡
		  		<%=image_tag 'allPay.png', class: 'img-responsive', size: '80x80'%>	
		<%elsif @invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_TCAT_COD']%>	
				 貨到付款
				<%=image_tag 'cat.png', class: 'img-responsive', size: '80x80'%> 		
		<%end%>	
		<%= link_to '查看訂單狀態', controller: 'invoices', action: 'index' %>			 
		<p>本次購買金額<%= @invoice.amount.to_i %>元, 您可獲得回饋金<%= ((@invoice.amount-discount)*0.04).round%>元, 金流去向如下</p>	
		<div>下面資料用比例圖</div>
<%@invoice.orders.each do |o|%>    	        		
<%= o.product_boxing.product.name%><br>
	<% total_price = o.price.to_i + o.quantity*GLOBAL_VAR['SHIPPING_RATES'] %>
	<% total_shipping_rates = o.quantity*GLOBAL_VAR['SHIPPING_RATES']%>
	<% total_cash_flow = (total_price*0.028).round%>
	<% total_coupon = (total_price*0.04).round%>
	<% total_administration = (total_price*0.03).round%>
	<% total_farmer_get = total_price - total_shipping_rates - total_cash_flow - total_coupon - total_administration%>

農夫獲得
<%= total_farmer_get %>元
<br>
物流費用
<%= total_shipping_rates %>元
<br>
金流費用
<%= total_cash_flow %>元
<br>
行政費用
<%= total_administration %>元
元
<br>
您的回饋金
<%= total_coupon %>
元	

<%end%>			

		
		</div>
	</div>
</div>			