<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th>購買日期</th>
    <th>購買編號</th>
    <th>購買金額</th>
	<th>回饋金使用</th>
	<th>付款金額</th>	
	<th><span class=" glyphicon glyphicon-leaf menu_right_icon" aria-hidden="true"></span> 獲得回饋金<br> 
		<abbr title="獲得回饋金為'付款金額'x4%, 並採取無條件進入"><small>付款金額x4%</small></abbr>
	</th>	       
    <th>收件人</th>    
	<th>項目明細</th> 
	<td></td>		        
  </tr>
  <%current_user.invoices.each do |i| %>
  <tr>
    <td><%= i.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td><%= i.id %></td>
    <td><%= i.amount.to_i %>元</td>    
    <td>
    	<% discount = 0 %>
    	<% i.invoice_coupon_lists.each do |i_c_l|%>
    		<%discount = discount + i_c_l.amount%>
    	<%end%>
    	<%=discount.to_i%>元
    </td>
    <td><mark><%= (i.amount-discount).to_i %>元</mark></td>      
    <td>
    	<%coupon_get = 0%>
    	<%i.orders.each do |o|%> 
    		<%coupon_get = coupon_get + (o.price*0.04).ceil %>
    	<%end%>
    	<%= ((i.amount-discount)*0.04).ceil%>元
    </td>         
	<td><%=i.receiver_last_name %> <%=i.receiver_first_name %>
		<br>
		<%=i.receiver_postal %><%=i.receiver_county %><%=i.receiver_district %><%=i.receiver_address %>
		<br>
		<%=i.receiver_phone_no %>
	</td>	
    <td>
      <table class="table table-striped">     
		<tr>	
		    <td>訂單編號</td>						
		    <td>農夫</td>			
		    <td>水果名稱</td>
			<td>數量(單位/箱)</td>   
			<td>金額</td> 						 		    
			<td>物流追蹤碼</td>
		    <td>狀態</td>					           
	  	</tr>      		      	
    	<%i.orders.each do |o|%>      	
        <tr>
          <td><%= o.id %></td>        	        		
          <td><%= image_tag o.product_boxing.product.company.user.avatar.url, class: 'img-circle', size: '20x20' %></td>        	
          <td><%= o.product_boxing.product.name%></td>
          <td><%= o.quantity%>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)</td>
          <td><%= o.price.to_i %>元</td>     
          <td><%= showBlank o.tracing_code%></td>     
          <td><%= Hash[orderStatusOptions].rassoc(o.status).first%></td>	                              
        </tr>
    	<%end%>	        
      </table>    	
    </td> 	
    <td>
    	<%=link_to '取消購買', '#' ,class: 'btn btn-danger' %>
    </td>	         
  </tr>
  <%end%>  
</table>
</div>
