<div class="table-responsive">
<table class="table table-bordered">
  <tr>
    <th>訂單編號</th>  	
    <th>訂單日期</th>
    <th>購買金額</th>
	<th>回饋金使用</th>
	<th>付款金額</th>	
	<th>付款狀態</th>				
	<th>
		<%= image_tag 'coupons_icon.png', class: '', style: 'width: 25px; height: 25px;' %>
		獲得回饋金<br> 
		<abbr title="獲得回饋金為'付款金額'x4%, 並採取無條件進入"><small>付款金額x4%</small></abbr>
	</th>	       
    <th>收件人</th>    
	<th>購買項目</th> 
	<td></td>		        
  </tr>
  <%@invoices.each do |i| %>
  <tr>
    <td><%= i.id %></td>  	
    <td><%= i.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td>
    <%= i.amount.to_i %>元
	<%if i.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS']%>	
	<div style="font-size: 90%">(含超商手續費)</div>	
    <%end%>
    </td>    
    <td>
    	<% discount = 0 %>
    	<% i.invoice_coupon_lists.each do |i_c_l|%>
    		<%discount = discount + i_c_l.amount%>
    	<%end%>
    	<%=discount.to_i%>元
    </td>
    <td><mark><%= (i.amount-discount).to_i %>元</mark></td>  
    <td>  	
    	<%if i.paid_c%>
			<%if i.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>
			<%=image_tag 'allPay.png', class: 'img-responsive', size: '50x30'%>    			
    		付款編號<br>
    		<%= i.allpay_merchant_trade_no %><br>   	
    		<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_TCAT_COD']%>		
    		
    		<%end%>	
    		付款日期<br>  
    		<%= i.paid_at.strftime("%Y-%m-%d %H:%M:%S") %>    		    		   		
    	<%else%>
			<%if i.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>
			<%=image_tag 'allPay.png', class: 'img-responsive', size: '50x30'%>    	
			<p>線上刷卡, 尚未付款</p>    	
	    	<%elsif i.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM']%>		
			<%=image_tag 'allPay.png', class: 'img-responsive', size: '50x30'%>    	
			<p>ATM櫃員機, 尚未付款</p>
			<dl>
			  <dt>繳費銀行代碼</dt>
			  <dd><%=showBlank i.allpay_bank_code%></dd>
			  <dt>繳費虛擬帳號</dt>
			  <dd><%=showBlank i.allpay_v_account%></dd>  
			  <dt>繳費期限</dt>
			  <dd>
			  	<%if i.allpay_expired_at%><%=i.allpay_expired_at.strftime("%Y-%m-%d 23:59:59")%><%else%>--<%end%>		  		
			  </dd>   
			</dl>			
	    	<%elsif i.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS']%>		
			<%=image_tag 'allPay.png', class: 'img-responsive', size: '50x30'%>    	
			<p>超商代碼, 尚未付款</p>	
			<dl>
			  <dt>超商繳費代碼</dt>
			  <dd><%=showBlank i.allpay_payment_no%></dd> 
			  <dt>繳費期限</dt>
			  <dd>
			  	<%if i.allpay_expired_at%><%=i.allpay_expired_at.strftime("%Y-%m-%d %H:%M:%S")%><%else%>--<%end%>		  		
			  </dd>   
			</dl>									    	
	    	<%end%>	
    	<%end%>
    </td>         
    <td><%= ((i.amount-discount)*0.04).round%>元</td>         
	<td><%=i.receiver_last_name %> <%=i.receiver_first_name %>
		<br>
		<%=i.receiver_postal %><%=i.receiver_county %><%=i.receiver_district %><%=i.receiver_address %>
		<br>
		<%=i.receiver_phone_no.gsub(/^\+886/, '0') %>
	</td>	
    <td>
      <table class="table table-striped">     
		<tr>	
		    <td>出貨編號</td>						
		    <td>水果名稱</td>
			<td>數量(單位/箱)</td>   
			<td>金額</td> 						 		    
			<td>物流追蹤碼</td>
		    <td>狀態</td>					           
	  	</tr>      		      	
    	<%i.orders.each do |o|%>      	
        <tr>
          <td><%= o.id %></td>        	        		
          <td><%= link_to o.product_boxing.product.name, o.product_boxing.product%></td>
          <td><%= o.quantity%>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)</td>
          <td><%= o.price.to_i+ o.quantity*GLOBAL_VAR['SHIPPING_RATES'] %>元</td>     
          <td>
          	<%= showBlank o.tracing_code%><br>
			<%if o.seven_days_c%>	
				<%=image_tag 'seven_days.png', class: '', style: 'width: 100px;'  %>					
			<%end%>	          	
          </td>     
          <td>
			<div class="text-center">在<%= o.created_at.strftime("%Y-%m-%d %H:%M:%S") %><br>建立出貨單</div>		
			<div class="text-center">&darr;</div>				
			<%if o.called_smallfarmer_c%>
			<div class="text-center">在<%= o.called_smallfarmer_at.strftime("%Y-%m-%d %H:%M:%S")%><br>農夫開始處理</div>
			<div class="text-center">&darr;</div>						
			<%end%>	
			<div class="text-center"><%= Hash[orderCustomerStatusOptions].rassoc(o.status).first%></div>          	          	
          </td>	                              
        </tr>
    	<%end%>	        
      </table>    	
    </td> 	
    <td>	 
    	<%unless i.canceled_c%>   
	    	<%if !i.paid_c%>
				<%if i.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>    	
	    		<div style="margin-bottom: 10px;"><%=link_to '線上付款', {controller: 'invoices', action: 'allpayCredit', id: i.id } ,class: 'btn btn-default add_button' %></div>  
				<%elsif i.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM']%>    	
	    			<%if %>
	    			<div style="margin-bottom: 10px;"><%=link_to '重新取得繳費帳號', {controller: 'invoices', action: 'allpayATM', id: i.id } ,class: 'btn btn-default add_button' %></div>  				
					<%end%>
				<%elsif i.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS']%>    	   		
	    			<%if %>
	    			<div style="margin-bottom: 10px;"><%=link_to '重新取得繳費代碼', {controller: 'invoices', action: 'allpayCVS', id: i.id } ,class: 'btn btn-default add_button' %></div>  				
					<%end%>	    		
	    		<%end%>
	    	<%end%>	   	
	  		<%if cancelAvailable i %>	 	
	    	<div><%=link_to '取消購買', {controller: :invoices, action: :cancel, id: i.id} ,class: 'btn btn-danger delete_button' %></div>
	    	<%end%>
	    <%end%>	
    </td>	         
  </tr>
  <%end%>  
</table>
</div>
<div class="backend_pagination">
<%= will_paginate @invoices, renderer: BootstrapPagination::Rails %>
</div>


