<div class="table-responsive">
<table class="table table-striped table-hover">
  <tr>
    <th>日期</th>
    <th>訂單編號</th>
    <th>消費金額</th>    
    <th>賣家</th>
	<th>購買項目</th>   
	<th>收件資料</th>    
	<th>訂單狀態</th>     
	<th></th>        
  </tr>
  <%current_user.invoices.each do |i| %>
  <tr>
    <td><%= i.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td><%= i.id %></td>
    <td><%= i.amount %></td>    
    <td>
    	<%i.orders.each do |o|%>
    	<tr>
    		<td><%= o.product_boxing.product%></td> 
		    <td><%=o.receiver_last_name %>
		    	<%=o.receiver_first_name %>
		    	<br>
		    	<%=o.receiver_postal %><%=o.receiver_county %><%=o.receiver_district %><%=o.receiver_address %>
		    	<br>
		    	<%=o.receiver_phone_no %>
		    </td> 
    		<td><%=link_to '取消訂單'%></td>         
    	</tr>
    	<%end%>	
    </td> 
  </tr>
  <%end%>
</table>
</div>
