<% order = notification.order %>
<div class="col-xs-12 col-md-9 vmiddle text-center">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-sm-3 vmiddle text-center">
			<%= link_to order.product_boxing.product do%>
			<%= image_tag order.product_boxing.product.cover.url(:medium), class: 'img-circle farm_fruits_img notification_fruit_img' %>	
			<div class="notification_fruit_name"><%= order.product_boxing.product.name%></div>	
			<%end%>				
		</div>	
		<div class="col-sm-2 vmiddle text-center hidden-xs">
			<%= image_tag order.invoice.user.avatar.url, class: 'img-circle', size: '80x80', style: 'border: solid 4px #a7a7a7;' %>
			<div><%= order.invoice.user.last_name %> <%= order.invoice.user.first_name %></div>			
		</div>	
		<div class="col-sm-6 vmiddle text-left hidden-xs">
			<%=link_to '新訂單 '+order.quantity.to_s+'箱 ('+("%g" % order.product_boxing.quantity)+Hash[unitOptions].rassoc(order.product_boxing.product.unit).first+'/箱)', '/orders/index?called_smallfarmer_c=false', class: 'notification_link notification_text', id: notification.id%>
		</div>			
		<div class="col-xs-12 vmiddle text-center hidden-sm hidden-md hidden-lg">
			<%=link_to '新訂單 '+order.quantity.to_s+'箱 ('+("%g" % order.product_boxing.quantity)+Hash[unitOptions].rassoc(order.product_boxing.product.unit).first+'/箱)', '/orders/index?called_smallfarmer_c=false', class: 'notification_link notification_text', id: notification.id%>
		</div>						
	</div>
</div>