<div class="col-xs-12 col-md-8 vmiddle text-center">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-sm-10 vmiddle text-center">
			<%page = 1%>
			<% current_user.invoices.order('id DESC').each_with_index do |i, index| %>
			    <%if i == notification.invoice%>
			    	<%page = index+1%>
			    	<%break%>
			    <%end%>
			<% end %>
			<%= link_to '/invoices/index?page='+page.to_s, class: 'notification_link', id: notification.id do%>
			<div style="font-size: 20px;">訂單編號 <%=notification.invoice.id%> 付款成功</div>		
			<table class="table table-bordered text-left">
			  <tr>		
			    <td>
					<dl>
				 	<dt>購買金額</dt>
						<dd>
							<%= notification.invoice.amount.to_i %>元
							<%if notification.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS']%>	
							<div><small><ins>含超商手續費</ins></small></div>	
							<%end%>					
						</dd>
					<dt>回饋金使用</dt>
						<dd>
					    	<% discount = 0 %>
					    	<% notification.invoice.invoice_coupon_lists.each do |i_c_l|%>
					    		<%discount = discount + i_c_l.amount%>
					    	<%end%>
					    	<%=discount.to_i%>元			  	
						</dd>  
					<dt>付款金額</dt>
						<dd>
							<mark><%= (notification.invoice.amount-discount).to_i %>元</mark>			
						</dd>   
					</dl>  			    
				</td>  	 
				<td>
					<dl>
						<dt>付款方式</dt>
							<%if notification.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>
							<dd>線上刷卡</dd> 
				   			<%elsif notification.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM']%>		
						  	<dd>ATM櫃員機</dd> 			  						  
				   			<%elsif notification.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS']%>		
							<dd>超商代碼</dd> 
							<%end%>								 
					    <%if notification.invoice.paid_c%>			  	
						<dt>付款編號</dt>
						  	<dd><%= notification.invoice.allpay_merchant_trade_no %></dd>			  	
						<dt>付款日期</dt>
						  	<dd><%= notification.invoice.paid_at.strftime("%Y-%m-%d %H:%M:%S") %></dd>	
						<%else%>
						<dt><abbr title="請於付款期限內付款, 超過付款期限, 有可能因為庫存不足, 訂單無法成立">付款期限</abbr></dt>
						  	<dd>
						  	<%if notification.invoice.allpay_expired_at < Time.zone.now%>	
							<div style="color: #b24d4b">
							<%= notification.invoice.allpay_expired_at.strftime("%Y-%m-%d %H:%M:%S")%>		  		
							</div>
							<%else%>
							<%= notification.invoice.allpay_expired_at.strftime("%Y-%m-%d %H:%M:%S")%>		  					  	  
							<%end%>
						  	</dd> 			  
						<%end%>	
						<%if notification.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>
				   		<%elsif notification.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM']%>		
						<dt>繳費銀行代碼</dt>
							<dd><%=showBlank notification.invoice.allpay_bank_code%></dd>
						<dt>繳費虛擬帳號</dt>
						  <dd><%=showBlank notification.invoice.allpay_v_account%></dd>  	   		
				   		<%elsif notification.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS']%>		
						<dt>超商繳費代碼</dt>
						  <dd><%=showBlank notification.invoice.allpay_payment_no%></dd> 			
						<%end%>				  	  	
					</dl>						
				</td>
				<!--
				<td>
			    	<%= ((notification.invoice.amount-discount)*0.04).round%>元
			    	<div><small><em>-商品送達，評完好吃度即可獲得-</em></small></div>					
				</td>	
				-->					      		  			  
			  </tr>			  	
			</table>
			<%end%>				
		</div>	
	</div>
</div>
