<div class="col-xs-12 col-md-9 vmiddle text-center">
	<% notification.invoice.orders.each do |o| %>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-sm-3 vmiddle text-center">
			<%= link_to o.product_boxing.product do%>
			<%= image_tag o.product_boxing.product.cover.url(:medium), class: 'img-circle farm_fruits_img notification_fruit_img' %>	
			<div class="notification_fruit_name"><%= o.product_boxing.product.name%></div>	
			<%end%>				
		</div>	
		<div class="col-sm-2 vmiddle text-center">
			<%= image_tag o.invoice.user.avatar.url, class: 'img-circle', size: '70x70' %>				
			<div><%= o.invoice.user.last_name %><%= o.invoice.user.first_name %></div>					
		</div>		
		<div class="col-sm-6 col-xs-11 vmiddle" style="padding-top: 20px;">
			<%if o.review_at.blank?%>		    		       
			<div class="input-group notification_review_radioBtn">
				<label class="radio-inline">
				  <input type="radio" name="review_score_<%= o.id %>" id="inlineRadio1" value="<%= GLOBAL_VAR['ORDER_REVIEW_DELICIOUS'] %>"><span class="review_delicious">超好吃</span>
				</label>
				<label class="radio-inline">
				  <input type="radio" name="review_score_<%= o.id %>" id="review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_REVIEW_TASTY'] %>"><span class="review_tasty">好吃</span>
				</label>
				<label class="radio-inline">
				  <input type="radio" name="review_score_<%= o.id %>" id="review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_REVIEW_COMMON'] %>"><span class="review_common">普通</span>
				</label>		
				<label class="radio-inline">
				  <input type="radio" name="review_score_<%= o.id %>" id="review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_REVIEW_UNAPPEALING'] %>"><span class="review_unappealing">不太好吃</span>
				</label>						
		    </div>	 
			<div class="input-group notification_review_radioBtn">
				<label class="radio-inline">
				  <input type="radio" name="shipment_review_score_<%= o.id %>" id="shipment_review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_SHIPMENT_REVIEW_FAST'] %>"> 寄送快
				</label>
				<label class="radio-inline">
				  <input type="radio" name="shipment_review_score_<%= o.id %>" id="shipment_review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_SHIPMENT_REVIEW_COMMON'] %>"> 寄送普通
				</label>
				<label class="radio-inline">
				  <input type="radio" name="shipment_review_score_<%= o.id %>" id="shipment_review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_SHIPMENT_REVIEW_SLOW'] %>"> 寄送快
				</label>									    
		    </div>	
			<div class="talkbubble text-left hidden-xs">
				<textarea name="content" class="form-control" rows="2" placeholder='有什麼評價...' id="review_feedback_<%= o.id %>"></textarea>				
			</div>
			<div class="comment_msg hidden-sm hidden-md hidden-lg"><textarea name="content" class="form-control" rows="2" placeholder='有什麼評價...' id="review_feedback_<%= o.id %>"></textarea></div>				
			<%end%>
		</div>			
	</div>	
	<%end%>
	<%if notification.invoice.orders.first.review_at.blank?%>
	<div class="row notification_button_<%= notification.id %>" style="margin-bottom: 15px;">	
		<div class="col-sm-11 vmiddle">
			<button class="btn btn-success pull-right add_button" id="post_button" onclick="sendReview(<%= notification.id %>, <%=notification.invoice.id%>, <%=notification.invoice.orders.pluck(:id)%>)" data-loading-text="傳送中...">送出獲得4%回饋金</button>		
		</div>
	</div>
	<%end%>			
</div>


<script>
/*
$('.notification_radioBtn a').on('click', function(){
	var sel = $(this).data('title');
	var tog = $(this).data('toggle');
	$('#'+tog).prop('value', sel);	   
	$('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('notification_review_active').addClass('notification_review_notActive');	
	$('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notification_review_notActive').addClass('notification_review_active');
})

$('.notification_shipment_radioBtn a').on('click', function(){
	var sel = $(this).data('title');
	var tog = $(this).data('toggle');
	$('#'+tog).prop('value', sel);	   
	$('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('notification_review_active').addClass('notification_review_notActive');	
	$('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notification_review_notActive').addClass('notification_review_active');
})
*/
function sendReview( notification_id, invoice_id, orders)
{
	orders_id = [];
	shipment_review_scores = [];	
	review_scores = [];
	review_feedbacks = [];
	$.each( orders, function( index, value ) {
	  orders_id.push( value )		
	  shipment_review_scores.push( $( "#shipment_review_score_"+value ).val() )	  
	  review_scores.push( $( "#review_score_"+value ).val() )
	  review_feedbacks.push( $( "#review_feedback_"+value ).val() )	  
	});	
	var request = $.ajax({
		url: "/notifications/review",
		type: "POST",
		data: { id: notification_id, shipment_review_scores: shipment_review_scores, review_scores: review_scores, review_feedbacks: review_feedbacks, orders_id: orders_id },
		dataType: "json"
		});
		request.done(function( status ) {
			toastr[status.type](status.message)			
			showCoupons()						
			showNotifications()	
						
			$.each( orders, function( index, value ) {
			  $( "#review_feedback_"+value ).attr("disabled", "disabled")
			  $('.notification_radioBtn a').off();				  
			  $('.notification_button_'+notification_id).remove();			   	  
			});							
		});	
}	

</script>	