<div class="col-xs-12 col-md-9 vmiddle text-center">
	<% notification.invoice.orders.each do |o| %>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-sm-3 vmiddle text-center">
			<%= link_to o.product_boxing.product do%>
			<%= image_tag o.product_boxing.product.cover.url(:medium), class: 'img-circle farm_fruits_img notification_fruit_img' %>	
			<div class="notification_fruit_name"><%= o.product_boxing.product.name%></div>	
			<%end%>				
		</div>	
		<div class="col-sm-2 vmiddle text-center">
			<%= image_tag o.invoice.user.avatar.url, class: 'img-circle', size: '70x70' %>				
			<div><%= o.invoice.user.last_name %> <%= o.invoice.user.first_name %></div>					
		</div>		
		<div class="col-sm-6 col-xs-11 vmiddle" style="padding-top: 20px;">
			<%if o.review_at.blank?%>		    		       
			<div class="input-group input_group_<%= o.id %> notification_review_radioBtn">
				<label class="radio-inline">
				  <input type="radio" name="review_score_<%= o.id %>" id="review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_REVIEW_DELICIOUS'] %>" checked="checked"><span class="review_delicious">超好吃</span>
				</label>
				<label class="radio-inline">
				  <input type="radio" name="review_score_<%= o.id %>" id="review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_REVIEW_TASTY'] %>"><span class="review_tasty">好吃</span>
				</label>
				<label class="radio-inline">
				  <input type="radio" name="review_score_<%= o.id %>" id="review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_REVIEW_COMMON'] %>"><span class="review_common">普通</span>
				</label>		
				<label class="radio-inline">
				  <input type="radio" name="review_score_<%= o.id %>" id="review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_REVIEW_UNAPPEALING'] %>"><span class="review_unappealing">不太好吃</span>
				</label>						
		    </div>	 
			<div class="input-group input_group_<%= o.id %> notification_review_radioBtn">
				<label class="radio-inline">
				  <input type="radio" name="shipment_review_score_<%= o.id %>" id="shipment_review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_SHIPMENT_REVIEW_FAST'] %>" checked="checked"> 寄送快
				</label>
				<label class="radio-inline">
				  <input type="radio" name="shipment_review_score_<%= o.id %>" id="shipment_review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_SHIPMENT_REVIEW_COMMON'] %>"> 寄送普通
				</label>
				<label class="radio-inline">
				  <input type="radio" name="shipment_review_score_<%= o.id %>" id="shipment_review_score_<%= o.id %>" value="<%= GLOBAL_VAR['ORDER_SHIPMENT_REVIEW_SLOW'] %>"> 寄送慢
				</label>									    
		    </div>	
			<div class="talkbubble text-left hidden-xs input_group_<%= o.id %>">
				<textarea name="content" class="form-control" rows="2" placeholder='有什麼評價...' id="review_feedback_<%= o.id %>"></textarea>				
			</div>
			<div class="comment_msg hidden-sm hidden-md hidden-lg input_group_<%= o.id %>"><textarea name="content" class="form-control" rows="2" placeholder='有什麼評價...' id="review_feedback_<%= o.id %>"></textarea></div>				
			<%else%>
				<div class="text-left notification_review_show notification_review_container_<%=o.id %>">			
					購物評價
					<span class="<%= reviewText o.review_score.to_i %>">
						<%=Hash[orderReviewOptions].rassoc(o.review_score).first%>
					</span>	
					出貨速度	
					<span class="<%= shipmentReviewText o.shipment_review_score %>">						
						<%=Hash[orderShipmentReviewOptions].rassoc(o.shipment_review_score).first%>					
					</span>						
				</div>	
				<%unless o.review_feedback.blank?%>
				<div class="text-left comment_msg"><%=o.review_feedback%></div>	
				<%end%>
			<%end%>
		</div>			
	</div>	
	<%end%>
	<%if notification.invoice.orders.first.review_at.blank?%>
	<div class="row notification_button_<%= notification.id %>" style="margin-bottom: 15px;">	
		<div class="col-sm-11 vmiddle">
			<button class="btn orange_btn pull-right" id="post_button" onclick="sendReview(<%= notification.id %>, <%=notification.invoice.id%>, <%=notification.invoice.orders.pluck(:id)%>)" data-loading-text="傳送中...">送出</button>		
		</div>
	</div>
	<%end%>			
</div>


<script>
function sendReview( notification_id, invoice_id, orders)
{
	orders_id = [];
	shipment_review_scores = [];	
	review_scores = [];
	review_feedbacks = [];
	$.each( orders, function( index, value ) {
	  orders_id.push( value )		
	  shipment_review_scores.push( $("input[name=shipment_review_score_"+value+"]:checked").val() )	  
	  review_scores.push( $("input[name=review_score_"+value+"]:checked").val() )
	  review_feedbacks.push( $("#review_feedback_"+value ).val() )	  
	});	
	var request = $.ajax({
		url: "/notifications/review",
		type: "POST",
		data: { id: notification_id, shipment_review_scores: shipment_review_scores, review_scores: review_scores, review_feedbacks: review_feedbacks, orders_id: orders_id },
		dataType: "json"
		});
		request.done(function( status ) {
			toastr[status.type](status.message)			
			showCoupons()						
			showNotifications()												
			$.each( orders, function( index, value ) {
			});		
			location.href = '<%=Rails.configuration.smallfarmer01_host%>/notifications?category=all';					
		});						
}	
</script>	