<div class="container main_frontend">
	<div class="row">
		<ul class="nav nav-tabs pull-right">
		  <li role="presentation" <%= active( controller: 'notifications', action: 'index')%>>
			<%= link_to "全部", controller: 'notifications', action: 'index'%>  	
		  </li>
		  <li role="presentation" <%= active( controller: 'orders', action: 'index')%>>
			<%= link_to "留言", controller: 'orders', action: 'index'%>  	  	
		  </li>
		  <li role="presentation" <%= active( controller: 'orders', action: 'index')%>>
			<%= link_to "訂單", controller: 'orders', action: 'index'%>  	  	
		  </li>	
		  <li role="presentation" <%= active( controller: 'orders', action: 'index')%>>
			<%= link_to "系統", controller: 'orders', action: 'index'%>  	  	
		  </li>		
		  <li role="presentation" <%= active( controller: 'orders', action: 'index')%>>
			<%= link_to "促銷", controller: 'orders', action: 'index'%>  	  	
		  </li>			  	  	  
		</ul>
	</div>	
	<% @notifications.each do |notification| %>
	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<div class="col-sm-3">		
		<%= Hash[categoryOptions].rassoc(notification.category).first%>			
		</div>
		<%if notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_NONE']%>
			<%= render partial: "none", locals: {notification: notification} %>
		<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_NEW_COMMENT']%>	
			<%= render partial: "new_comment", locals: {notification: notification} %>
		<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_NEW_ORDER']%>	
			<%= render partial: "new_order", locals: {notification: notification} %>
		<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_NEW_SUB_COMMENT']%>	
			<%= render partial: "new_sub_comment", locals: {notification: notification} %>
		<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_UPDATING_INVOICE']%>	
			<%= render partial: "updating_invoice", locals: {notification: notification} %>
		<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_REVIEW']%>	
			<%= render partial: "review", locals: {notification: notification} %>
		<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_VERIFY']%>	
			<%= render partial: "verify", locals: {notification: notification} %>
		<%end%>	
	</div>	
	<%end%>
</div>
<script>
$('#hotlink').click( function () { 
    $.ajax({ 
      async: false,
      type: "POST", 
      url: "http://myurl.com/mypage.php", 
      data: "param1=value&param2=value",  // &param3=value... etc. 
    });    
    window.location = $(this).attr('href');    
}); 
</script>
