<div class="container main_frontend">
	
	<div class="row">
		<ul class="nav nav-tabs pull-right">
		  <li role="presentation" <%= active( controller: 'notifications', action: 'index')%>>
			<%= link_to "全部", controller: 'notifications', action: 'index'%>  	
		  </li>
		  <li role="presentation" <%= active( controller: 'orders', action: 'index')%>>
			<%= link_to "留言", controller: 'orders', action: 'index'%>  	  	
		  </li>
		  <li role="presentation" <%= active( controller: 'orders', action: 'index')%>>
			<%= link_to "訂單", controller: 'orders', action: 'index'%>  	  	
		  </li>	
		  <li role="presentation" <%= active( controller: 'orders', action: 'index')%>>
			<%= link_to "系統", controller: 'orders', action: 'index'%>  	  	
		  </li>			  	  
		</ul>
	</div>	
	<% @notifications.each do |notification| %>
	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<div class="col-sm-2">
		</div>

		<div class="col-sm-2">
		</div>
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4">
		</div>		
		
	</div>	
<table>


  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.category %></td>
        <td><%= notification.sub_category %></td>
        <td><%= notification.content %></td>
        <td><%= notification.order %></td>
        <td><%= notification.user %></td>
        <td><%= notification.comment %></td>
        <td><%= notification.product %></td>
        <td><%= notification.invoice %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
		</div>
	</div>
</div>
