<div class="container main_frontend">
	<ul class="nav nav-tabs main_backend-tabs">
		<li <%= active( controller: 'notifications', action: 'index', category: 'all' )%> >
			<%= link_to "全部", controller: 'notifications', action: 'index', category: 'all'%>
		</li>
		<li <%= active( controller: 'notifications', action: 'index', category: GLOBAL_VAR['NOTIFICATION_PRODUCT'] )%>>
			<%= link_to "訂單", controller: 'notifications', action: 'index', category: GLOBAL_VAR['NOTIFICATION_PRODUCT']%>  	
		</li>			
		<li <%= active( controller: 'notifications', action: 'index', category: GLOBAL_VAR['NOTIFICATION_PROMOTION'] )%>>
			<%= link_to "回饋金", controller: 'notifications', action: 'index', category: GLOBAL_VAR['NOTIFICATION_PROMOTION']%>  	
		</li>		
		<li <%= active( controller: 'notifications', action: 'index', category: GLOBAL_VAR['NOTIFICATION_COMMENT'] )%>>
			<%= link_to "留言", controller: 'notifications', action: 'index', category: GLOBAL_VAR['NOTIFICATION_COMMENT']%>  	
		</li>
		<!--
		<li <%= active( controller: 'notifications', action: 'index', category: GLOBAL_VAR['NOTIFICATION_SYSTEM'] )%>>
			<%= link_to "系統", controller: 'notifications', action: 'index', category: GLOBAL_VAR['NOTIFICATION_SYSTEM']%>  	
		</li>	
		-->					
	</ul>      
	<div class="main_backend-tab-content">  	 
		<% @notifications.each do |notification| %>
		<div class="row notification_row_container <%if !notification.read_c%>notification_unreadddd<%end%>">
			<div class="col-md-2 vmiddle text-right hidden-xs hidden-sm">	
				<div style="border-right: 3px solid #a8bb7f; padding-right: 20px; ">	
				<div class="notification_category"><%= Hash[categoryOptions].rassoc(notification.category).first%></div>
				<div class="notification_category_date"><%= time_ago_in_words notification.created_at%>之前</div>						
				<%if !notification.read_c%><div class='text-danger' style="font-size: 100%" id="notification_unread_<%=notification.id%>">未讀</div><%end%>				
				</div>
			</div>
			<div class="col-xs-12 vmiddle text-left hidden-md hidden-lg" style="margin-bottom: 20px;">	
				<div style="border-left: 3px solid #a8bb7f; padding-left: 10px; ">	
				<div class="notification_category"><%= Hash[categoryOptions].rassoc(notification.category).first%></div>
				<div class="notification_category_date"><%= time_ago_in_words notification.created_at%>之前</div>						
				<%if !notification.read_c%><div class='text-danger' style="font-size: 100%" id="notification_unread_<%=notification.id%>">未讀</div><%end%>				
				</div>
			</div>			
			<%if notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_NONE']%>
				<%= render partial: "none", locals: {notification: notification} %>
			<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_NEW_COMMENT']%>	
				<%= render partial: "new_comment", locals: {notification: notification} %>
			<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_NEW_ORDER']%>	
				<%= render partial: "new_order", locals: {notification: notification} %>
			<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_NEW_SUB_COMMENT']%>	
				<%= render partial: "new_sub_comment", locals: {notification: notification} %>
			<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_UPDATING_INVOICE']%>	
				<%= render partial: "updating_invoice", locals: {notification: notification} %>
			<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_PURCHASE_COMPLETED']%>
				<%= render partial: "purchase_completed", locals: {notification: notification} %>						
			<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_REVIEW']%>	
				<%= render partial: "review", locals: {notification: notification} %>
			<%elsif notification.sub_category == GLOBAL_VAR['NOTIFICATION_SUB_VERIFY']%>	
				<%= render partial: "verify", locals: {notification: notification} %>
			<%end%>	
		</div>	
		<%end%>
	</div>	
</div>
<script>
$(".notification_link").click(function() {
    // Grab the link's href
    var href = this.href; 
	var request = $.ajax({
		url: "/notifications/"+this.id+"/read",
		type: "GET",
		dataType: "json"
		});
		request.done(function( status ) {						
		});    
	location.href = href;
    // Prevent the default action of the link
    return false;
});
// comment
function postSubComment(id, notification_id)
{
	if($( "#post_sub_content_"+id.toString() ).val()!= '')
	{
		var $btn = $("#post_sub_button_"+id.toString()).button('傳送中...')		
		var request = $.ajax({
		url: "/comments/postSub",
		type: "POST",
		data: { id: id , content: $( "#post_sub_content_"+id.toString() ).val() },
		dataType: "json"
		});
		request.done(function( message ) {
		   	$btn.button('reset')		
			$( "#post_sub_content_"+id.toString() ).val('')	   
			showNotifications()				
			$('#notification_comment_post_'+notification_id).remove();
			$('#notification_unread_'+notification_id).remove();
			
		});
		request.fail(function( jqXHR, textStatus ) {
			$btn.button('reset')	
		});	
	}	
}









</script>

