<%= form_for(@user, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        
        
        
        <li><%= message %></li>
      <% end %>
  <% end %>

 	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-6"><%= @user.email %></div>
	</div>	
 	<div class="form-group">
		<label class="col-sm-2 control-label">姓名*</label>
		<div class="col-sm-6"><%= f.text_field :name %></div>
	</div>		 
	<div class="form-group">
		<label class="col-sm-2 control-label">聯絡電話</label>
		<div class="col-sm-6"><%= f.text_field :phone_no %></div>
	</div>						
	<div class="form-group">
		<label class="col-sm-2 control-label">聯絡地址</label>
		<div class="form-inline col-sm-6">
			<span id="twzipcode"></span>
			<%= f.text_field :address, class: "form-control" %>
		</div>
	</div>	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit '送出',  class: "btn btn-default"  %>
		</div>
	</div>

<% end %>

<script>
$('#twzipcode').twzipcode({
	zipcodeName: 'user[postal]',
    countyName: 'user[county]',
    districtName: 'user[district]',
    zipcodeIntoDistrict: true,
    css: ['form-control', 'form-control'], 
    <%unless @user.county.blank?%>
	countySel: '<%=@user.county%>',
	districtSel: '<%=@user.district%>'
	<%end%>    
});
</script>