<%= form_for @user, html: {class: "form-horizontal", role: "form"}  do |f| %>
 	<div class="form-group">
		<label class="col-sm-3 col-md-offset-1 col-md-2 control-label"></label>
		<div class="col-sm-7 col-md-4">
			<%= f.file_field :avatar, class: "form-control",  accept: "image/*" %>			
		</div>
	</div>	
 	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">Email</label>
		<div class="col-sm-4"><%= f.text_field :email, class: "form-control", placeholder: 'Email' %></div>
	</div>	
 	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">姓名</label>
		<div class="col-sm-2">
			<%= f.text_field :last_name, class: "form-control", placeholder: '姓' %>
		</div>		
		<div class="col-sm-2">	
			<%= f.text_field :first_name, class: "form-control", placeholder: '名' %>			
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">行動電話</label>
		<div class="col-sm-4">
			<%= hidden_field_tag :phone_no_full%>				
			<%if @user.phone_no_confirmed_at.blank?%>
				<%= f.text_field :phone_no, class: "form-control" %>
				<span id="error-msg" class="hide">格式錯誤</span>			
			<%else%>
				<%= f.text_field :phone_no, class: "form-control", readonly: true %>			
			<%end%>	
		</div>				
		<div class="col-sm-2">
	<!--<%if @user.phone_no_confirmed_at.blank?%>
			<%if @user.phone_no%>			
			<a id="confirmation_btn" class="btn btn-default edit_button" href="<%= '/users/'+@user.id.to_s+'/mobileSMSConfirmation?phone_no='+@user.phone_no.gsub(/^\+/, '%2B')%>">驗證拿回饋金</a>		
			<%else%>
			<a id="confirmation_btn" class="btn btn-default edit_button" href="<%= '/users/'+@user.id.to_s+'/mobileSMSConfirmation'%>">驗證拿回饋金</a>					
			<%end%>
		<%else%>
			已驗證
		<%end%>-->			
		</div>				
	</div>		
	<%= f.fields_for :addresses do |a| %>		
 	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">聯絡地址</label>
		<div class="col-sm-7 form-inline">
			<span id="twzipcode"></span>	
			<%= a.text_field :address, {class: "form-control"} %>					
		</div>
	</div>			
	<%end%>					
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-10">
			<%= f.submit '儲存',  class: "btn btn-success add_button"  %>
		</div>
	</div>

<% end %>

<script>
//================== image uplaod ==================//	
$("#user_avatar").fileinput({showCaption: false,
							 showRemove: false,
							 allowedFileTypes: ["image"],
							 previewFileType: "image",
							 browseClass: "btn btn-default edit_button",
							 browseLabel: " 選取圖片",
							 browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
							 uploadClass: "btn btn-default edit_button",
							 uploadLabel: "上傳",
							 uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
						     initialPreview: [
						        '<%= image_tag current_user.avatar.url,class: 'file-preview-image' %>'
						     ],
						     overwriteInitial: true,	
    						 language: "zh-TW"								 
						    });	
//================== confirmation ==================//	
telInput = $("#user_phone_no");
errorMsg = $("#error-msg"),
// initialise plugin
telInput.intlTelInput({
	//allowExtensions: true,
    //autoFormat: false,
    //autoHideDialCode: false,
	autoPlaceholder: true,    
    defaultCountry: "tw",
    //ipinfoToken: "yolo",
    //nationalMode: false,
    numberType: "MOBILE",
    //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    //preferredCountries: ['cn', 'jp'],  
    utilsScript: "<%=asset_path 'utils.js'%>"
});
// on blur: validate
telInput.blur(function() {
  if ($.trim(telInput.val())) {
  	$('#confirmation_btn').attr('href', '/users/<%=@user.id.to_s%>/mobileSMSConfirmation?phone_no='+escape(telInput.val()) );
    if (telInput.intlTelInput("isValidNumber") && intlTelInputUtils.numberType.MOBILE == telInput.intlTelInput("getNumberType") ) {
    } else {
      telInput.addClass("error");
      errorMsg.removeClass("hide");
    }
  }
});
// on keydown: reset
telInput.keydown(function() {
  telInput.removeClass("error");
  errorMsg.addClass("hide");
});
// tw address
$('#twzipcode').twzipcode({
	zipcodeName: 'user[addresses_attributes][0][postal]',
    countyName: 'user[addresses_attributes][0][county]',
    districtName: 'user[addresses_attributes][0][district]',
    zipcodeIntoDistrict: true,
    css: ['form-control', 'form-control'], 
    <%unless @user.addresses.first.blank?%>
	countySel: '<%=@user.addresses.first.county%>',
	districtSel: '<%=@user.addresses.first.district%>'
	<%end%>    
});


$("form").submit(function() {
  $("#phone_no_full").val($("#user_phone_no").intlTelInput("getNumber"));
});
//================== error ==================//	
<% @user.errors.messages.each do |index, value| %>
	<%unless value.blank? %>
		toastr['error']('<%=value.first%>')		
	<%end%>	
<% end %>

</script>