<%= form_for @user, html: {class: "form-horizontal", role: "form"}  do |f| %>
 	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-3">
			<%= f.file_field :avatar, class: "form-control",  accept: "image/*" %>			
		</div>
	</div>	
	<script>	
	$("#user_avatar").fileinput({showCaption: false,
								 showRemove: false,
								 allowedFileTypes: ["image"],
								 previewFileType: "image",
								 browseClass: "btn btn-success",
								 browseLabel: " 選取圖片",
								 browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
								 removeClass: "btn btn-danger",
								 removeLabel: "刪除",
								 removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
								 uploadClass: "btn btn-info",
								 uploadLabel: "上傳",
								 uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
							     initialPreview: [
							        '<%= image_tag current_user.avatar.url,class: 'file-preview-image' %>'
							     ],
							     overwriteInitial: true							 
							    });	
	</script>
 	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-6"><%= @user.email %></div>
	</div>	
 	<div class="form-group">
		<label class="col-sm-2 control-label">姓名</label>
		<div class="form-inline col-sm-6">
			<%= f.text_field :last_name, class: "form-control", placeholder: '姓' %>
			<%= f.text_field :first_name, class: "form-control", placeholder: '名' %>			
		</div>
	</div>	
	<%= f.fields_for :addresses do |g| %>		 
	<div class="form-group">
		<label class="col-sm-2 control-label">行動電話</label>
		<div class="col-sm-2">
			<%= hidden_field_tag :phone_no_full%>				
			<%if @user.addresses.first.phone_no_confirmed_at.blank?%>
				<%= g.text_field :phone_no, class: "form-control" %>
				<span id="valid-msg" class="hide">✓</span>
				<span id="error-msg" class="hide">格式錯誤</span>			
			<%else%>
				<%= g.text_field :phone_no, class: "form-control", readonly: true %>			
			<%end%>	
		</div>		
		<div class="col-sm-3">
		<%if @user.addresses.first.phone_no_confirmed_at.blank?%>			
			<%=link_to '簡訊驗證立刻獲得回饋金', '/users/'+@user.id.to_s+'/mobileSMSConfirmation?phone_no='+@user.addresses.first.phone_no.to_s, class:"btn btn-success", id: "confirmation_btn"%>		
		<%else%>
			已驗證
		<%end%>			
		</div>				
	</div>						
	<div class="form-group">
		<label class="col-sm-2 control-label">聯絡地址</label>
		<div class="form-inline col-sm-10">
			<span id="twzipcode"></span>
			<%= g.text_field :address, class: "form-control" %>
		</div>
	</div>	
	<%end%>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit '儲存',  class: "btn btn-default"  %>
		</div>
	</div>

<% end %>

<script>
//================== image uplaod ==================//	








//================== twzipcode ==================//	
$('#twzipcode').twzipcode({
	zipcodeName: 'user[addresses_attributes][0][postal]',
    countyName: 'user[addresses_attributes][0][county]',
    districtName: 'user[addresses_attributes][0][district]',
    zipcodeIntoDistrict: true,
    css: ['form-control', 'form-control'], 
    <%unless @user.addresses.first.county.blank?%>
	countySel: '<%=@user.addresses.first.county%>',
	districtSel: '<%=@user.addresses.first.district%>'
	<%end%>    
});
//================== confirmation ==================//	
var telInput = $("#user_addresses_attributes_0_phone_no");
errorMsg = $("#error-msg"),
validMsg = $("#valid-msg");
// initialise plugin
telInput.intlTelInput({
	//allowExtensions: true,
    //autoFormat: false,
    //autoHideDialCode: false,
	autoPlaceholder: true,    
    defaultCountry: "auto",
    //ipinfoToken: "yolo",
    //nationalMode: false,
    numberType: "MOBILE",
    //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    //preferredCountries: ['cn', 'jp'],  
    utilsScript: "<%=asset_path 'utils.js'%>"
});
// on blur: validate
telInput.blur(function() {
  if ($.trim(telInput.val())) {
  	$('#confirmation_btn').attr('href', '/users/<%=@user.id.to_s%>/mobileSMSConfirmation?phone_no='+telInput.val() );
    if (telInput.intlTelInput("isValidNumber") && intlTelInputUtils.numberType.MOBILE == telInput.intlTelInput("getNumberType") ) {
      validMsg.removeClass("hide");
    } else {
      telInput.addClass("error");
      errorMsg.removeClass("hide");
      validMsg.addClass("hide");
    }
  }
});
// on keydown: reset
telInput.keydown(function() {
  telInput.removeClass("error");
  errorMsg.addClass("hide");
  validMsg.addClass("hide");
});
$("form").submit(function() {
  $("#phone_no_full").val($("#user_addresses_attributes_0_phone_no").intlTelInput("getNumber"));
});
//================== error ==================//	
<% @user.errors.full_messages.each do |message| %>
	toastr["error"]('<%=message%>')
<% end %>
</script>