<%= form_tag  mobileSMSConfirmation_path(current_user), method: :patch, class: "form-horizontal", role: "form" do %>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">輸入您的行動電話</label>
		<div class="col-sm-5">
			<%= hidden_field_tag :phone_no_full%>				
			<%= phone_field_tag  :phone_no, @phone_no, class: "form-control " %>
			<span id="valid-msg" class="hide">✓</span>
			<span id="error-msg" class="hide">格式錯誤</span>			
		</div>
	</div>	  
 	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-6">	
			<button type="button" id="getConfirmationToken" data-loading-text="寄送中..." class="btn btn-default edit_button" autocomplete="off">
			取得簡訊驗證碼
			</button>
		</div>
	</div>   
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">輸入驗證碼</label>
		<div class="col-sm-5">
			<%= text_field_tag :token, '', placeholder: '驗證碼', class: "form-control " %>
		</div>
	</div>
 	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-6">
			<%= submit_tag '驗證',  class: "btn btn-success add_button"  %>
		</div>
	</div>   
<% end %>













<script>
var telInput = $("#phone_no");
errorMsg = $("#error-msg"),
validMsg = $("#valid-msg");
// initialise plugin
telInput.intlTelInput({
	//allowExtensions: true,
    //autoFormat: false,
    //autoHideDialCode: false,
	autoPlaceholder: true,    
    defaultCountry: "auto",
    //ipinfoToken: "yolo",
    //nationalMode: false,
    numberType: "MOBILE",
    //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    //preferredCountries: ['cn', 'jp'],  
    utilsScript: "<%=asset_path 'utils.js'%>"
});
$("form").submit(function() {
	$("#phone_no_full").val($("#phone_no").intlTelInput("getNumber"));
});
/*=============== Ajax ================*/  	
$('#getConfirmationToken').click(function() {
	if (telInput.intlTelInput("isValidNumber") && intlTelInputUtils.numberType.MOBILE == $("#phone_no").intlTelInput("getNumberType") ) 
	{	
	    var $btn = $(this).button('loading')	
		var request = $.ajax({
			url: "/users/mobileSMSConfirmationSend",
			type: "POST",
			data: { phone_no: telInput.intlTelInput("getNumber") },
			dataType: "json"
		});
		request.done(function( message ) {
			toastr[message.alert_class](message.message)
	    	$btn.button('reset')		
		});
		request.fail(function( jqXHR, textStatus ) {
		});	
	}
	else
	{
		toastr['warning']('您輸入的手機格式錯誤')		
	}
	
});

</script>