<div class="container main_frontend">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">	
			<div class="text-center" style="font-size: 26px;">重設您的密碼</div>
			<p class="text-center">已註冊但沒收到認證連結? 請按此 
			<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
			  <%= link_to "重寄認證連結", new_confirmation_path(resource_name) %><br />
			<% end -%>
			</p>			
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal", role: "form" }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :reset_password_token %>
			<div class="form-group">
				<div class="col-sm-12">
    			<%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: '新密碼', class: "form-control" %>	    	
		    	</div>
		  	</div>
			<div class="form-group">
				<div class="col-sm-12">
    			<%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", placeholder: '新密碼確認', class: "form-control" %>	    	
		    	</div>
		  	</div>		  	
			<div class="form-group" style="margin-top: 30px;">
				<div class="col-sm-12">
		    	<%= f.submit "確認", class: "btn orange_btn btn-block", style: 'font-size: 16px;' %>
		  		</div>
		  	</div> 
		<% end %>		
		</div>
	</div>			
</div>