<div class="row">
	<div class="col-sm-offset-3 col-sm-6 col-xs-12">
		<%=select_tag "bill_select", options_from_collection_for_select(current_user.companies.first.bills.order('id desc'), "id", "begin_at_end_at", @bill.id), class: 'form-control'%>
	</div>
</div>	
<br>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th style="min-width: 75px;">出貨編號</th>  			          	
    <th style="min-width: 75px;">商品</th>  			          	
	<th style="min-width: 75px;">出貨數量</th>	
	<th style="min-width: 150px;">款項</th>		
    <th>配送明細</th>  
	<th style="min-width: 75px;">退換貨</th>	              
  </tr>
  <%total_sales = 0%>
  <%shipping_rates = 0%>   
  <%cash_flow = 0%>
  <%coupon = 0%>  
  <%administration = 0%>    
  <%sales_tax = 0%>      
  <% @bill.orders.each do |o| %>
	  <%if !o.problem_c%>  
	   	<%if o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>
	  		<%cash_flow_idv = ((o.price.to_i + o.shipping_rates.to_i)*GLOBAL_VAR['CASH_FLOW_FEE']).ceil %>
		<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM']%>		
	  		<%cash_flow_idv = ((o.price.to_i + o.shipping_rates.to_i)*GLOBAL_VAR['CASH_FLOW_FEE']).ceil %>
		<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS']%>		
	  		<%cash_flow_idv = 0 %>
		<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_NO_NEED']%>		
	  		<%cash_flow_idv = 0 %>
		<%end%>	   
	  	<%if o.shipments.first.status != GLOBAL_VAR['ORDER_STATUS_SHIPPED_BY_COMPANY']%>
	  		<%shipping_rates = shipping_rates + o.shipping_rates.to_i%>
	  	<%end%>
	  	<%total_sales = total_sales + o.price.to_i + o.shipping_rates.to_i %>
	  	<%cash_flow = cash_flow + cash_flow_idv  %>
	  	<%coupon = coupon + ((o.price.to_i + o.shipping_rates.to_i)*GLOBAL_VAR['COUPON_FEE']).round %>  
	  	<%administration = administration +((o.price.to_i + o.shipping_rates.to_i)*GLOBAL_VAR['ADMINISTRATION_FEE']).round %>   
	  	<%sales_tax = sales_tax +((o.price.to_i + o.shipping_rates.to_i)*GLOBAL_VAR['SALES_TAX']).ceil %>     
	  <%end%>
  <tr>	
    <td><%= o.id %></td>  	  
    <td>
        <%= link_to o.product_boxing.product do%>
			<%if o.product_boxing.product.cover.url %>
				<div class="text-center">
				<%= image_tag o.product_boxing.product.cover.url, class: 'img-circle backend_fruits_img' %>			
		        </div>
		    <%end%> 	
    		<div class="text-center"><%= o.product_boxing.product.name%></div>           	
        <%end%>   	
    </td>    
    <td><%= o.quantity %>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)</td>      
    <td>
    	<dl class="dl-horizontal">
    		<dt>付款方式</dt>
    	<%if o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>
			<dd style="width: 90px;">線上刷卡</dd>
	   	<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_ATM']%>		
			<dd>ATM轉帳</dd>		  						  
	   	<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CVS']%>		
			<dd>超商繳款</dd>
	   	<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_NO_NEED']%>		
			<dd>無</dd>
		<%end%>	
			<dt>銷售金額<dt>
    		<dd>+ <%= o.price.to_i + o.shipping_rates.to_i %>元</dd>    
    		<dt class="text-danger">運費<dt>	      
    		<dd class="text-danger">
    			<%if o.shipments.first.status != GLOBAL_VAR['ORDER_STATUS_SHIPPED_BY_COMPANY']%>
    				- <%= o.shipping_rates.to_i %>元
    			<%else%>
    				- 0元
    			<%end%>	
    		</dd> 
    		<%if cash_flow_idv != 0%>
    		<dt class="text-danger">金流手續費<small><%=GLOBAL_VAR['CASH_FLOW_FEE']*100%>%</small><dt>	      
    		<dd class="text-danger">- <%= cash_flow_idv %>元</dd>     		
			<%end%>	
			<dt><dt><dd>＿＿＿＿＿</dd> 
    		<dt>應收金額<dt>	      
    		<dd>
    			<%if o.shipments.first.status != GLOBAL_VAR['ORDER_STATUS_SHIPPED_BY_COMPANY']%>    			
    				<%= o.price.to_i - cash_flow_idv %>元
    			<%else%>
    				<%= o.price.to_i + o.shipping_rates.to_i - cash_flow_idv %>元    			
    			<%end%>
    		</dd> 
    	</dl>	    		
    </td>    	      	
	<td>
      <table class="table table-striped">     
		<tr>				
		    <td style="min-width: 70px;">收件人</td>
		    <td style="min-width: 70px;">數量</td>			    
		    <th>交付日期</th>								    			           
	  	</tr>  
		<%o.shipments.each do |s|%>
		<tr>
          <td>  
          	<%receiver_address = s.receiver_address %>
          	<div><%=receiver_address.last_name %> <%=receiver_address.first_name %></div>
 			<div><%=receiver_address.postal %><%=receiver_address.county %><%=receiver_address.district %><%=receiver_address.address %></div>
          	<div>
          		<%if receiver_address.phone_no.blank?%>
	      		--
	          	<%else%>
	          	<%= receiver_address.phone_no.gsub(/^\+886/, '0') %>		          	
	          	<%end%> 	
	        </div>      
          </td>
          <td><%=s.quantity%>箱</td> 			      		            
		  <td><%= s.delivered_at.strftime("%Y-%m-%d %H:%M:%S") %></td>          	                                          
        </tr>	  	
	  	<%end%>	 	 	
	  </table>
	</td>  
	<td>
	  	<%if o.problem_c%><span class="glyphicon glyphicon-alert" aria-hidden="true"></span><%end%>
	</td>	 	                              		     
  </tr>
  <%end%>  
</table>
</div>
<div class="row">
	<div class="col-sm-offset-3 col-sm-6 col-xs-12">
		<dl class="dl-horizontal">		 
		  <dt>總運費支出:</dt><dd><%=shipping_rates %>元</dd>		  			 
		  <!--<dt>總應收金額:</dt> <dd style="font-size: 100%"><%= total_sales - shipping_rates - cash_flow%>元</dd>-->		  
		  <!--<dt>總金流手續費<small>(<%=GLOBAL_VAR['CASH_FLOW_FEE']*100%>%)</small>:</dt><dd><%=cash_flow %>元</dd>-->		  
		  <!--<dt>總回饋金支出:</dt><dd><%=coupon %>元(<%=GLOBAL_VAR['COUPON_FEE']*100%>%)</dd>-->		  
		  <!--<dt>總行政費支出:</dt><dd><%=administration %>元(<%=GLOBAL_VAR['ADMINISTRATION_FEE']*100%>%)</dd>-->
		  <dt>撥款手續費:</dt><dd><%=GLOBAL_VAR['TRANSFER_FEE']%>元</dd>
		  <!--<dt>營業稅:</dt><dd><%= sales_tax %>元</dd>-->
		  <% total_net_income = total_sales - (shipping_rates + cash_flow + GLOBAL_VAR['TRANSFER_FEE'])%>
		  <dt style="font-size: 160%">最終應收金額:</dt><dd style="font-size: 160%"><%= total_net_income%> 元 </dd>		  
		</dl>	
	</div>
</div>







<script>
$( "#bill_select" ).change(function() {
  window.location.href = '<%= Rails.configuration.smallfarmer01_host+'/bills/index?id='%>'+$(this).val()
});	
</script>