<div class="row">
<ul class="nav nav-tabs pull-right">
  <li role="presentation" <%= active( controller: 'orders', action: 'index', shipped_c: false)%>>
	<%= link_to "尚未通知", controller: 'orders', action: 'index', shipped_c: false%>  	
  </li>
  <li role="presentation" <%= active( controller: 'orders', action: 'index', shipped_c: true)%>>
	<%= link_to "已通知", controller: 'orders', action: 'index', shipped_c: true%>  	  	
  </li>
</ul>
</div>

<div class="row">
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th>訂單編號</th>  	
    <th>訂單日期</th>
	<th>水果名稱</th>
	<th>數量(單位/箱)</th>  
	<th>金額(含運)</th>	
	<th>付款方式</th>							 		    
	<th>物流追蹤碼</th>
	<th>狀態</th>			       
    <th>收件人</th>    
	<th></th>         
  </tr>
  <% @orders.each do |o| %>
  <tr>
    <td><%= o.id %></td>  	
    <td><%= o.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td><%= o.product_boxing.product.name%></td>    
    <td><%= o.quantity%>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)</td> 
    <td><%= o.price.to_i + o.shipping_rates.to_i %>元</td>    
    <td>
	<%if o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>	
	<p>線上刷卡</p>
	<%=image_tag 'allPay.png', class: 'img-responsive', size: '50x30'%>	
	</div>	
	<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_TCAT_COD']%>	
	<p>貨到付款</p>
	<%=image_tag 'cat.png', class: 'img-responsive', size: '60x60'%> 			
	<%end%>    	
    </td>	
    <td><%= showBlank o.tracing_code%></td>    
	<td>
		<%= Hash[orderCompanyStatusOptions].rassoc(o.status).first%>
	</td>    
	<td>
		<%= o.invoice.receiver_last_name %> <%= o.invoice.receiver_first_name %>
		<br>
		<%= o.invoice.receiver_postal %><%= o.invoice.receiver_county %><%= o.invoice.receiver_district %><%= o.invoice.receiver_address %>
		<br>
		<%= o.invoice.receiver_phone_no %>
	</td>   	                              
    <td><%=link_to '通知物流', '#' , class: 'btn btn-primary'%></td>		     
  </tr>
  <%end%>  
</table>
</div>
</div>
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>


