<div class="row">
	<div class="col-sm-12">
		<ul class="main_backend-sub-tabs">
		  <li role="presentation" <%= active( controller: 'orders', action: 'index', called_smallfarmer_c: false)%>>
			<%= link_to "尚未通知", controller: 'orders', action: 'index', called_smallfarmer_c: false%>  	
		  </li><li role="presentation" <%= active( controller: 'orders', action: 'index', called_smallfarmer_c: true)%>><%= link_to "已通知", controller: 'orders', action: 'index', called_smallfarmer_c: true%></li>
		</ul>
	</div>
</div>
<br>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th>出貨編號</th>  
	<th>狀態</th>			          	
	<th>水果</th>
	<th>數量(單位/箱)</th>  
	<th>金額(含運)</th>	
	<th>付款方式</th>							 		    
	<th>物流追蹤碼</th>
    <th>收件人</th>    
	<th></th>         
  </tr>
  <% @orders.each do |o| %>
  <tr>
    <td><%= o.id %></td>  	
	<td>
		<div class="text-center">在<%= o.created_at.strftime("%Y-%m-%d %H:%M:%S") %> 建立出貨單</div>		
		<div class="text-center">&darr;</div>				
		<%if o.called_smallfarmer_c%>
		<div class="text-center">在<%= o.called_smallfarmer_at.strftime("%Y-%m-%d %H:%M:%S")%> 通知物流</div>
		<div class="text-center">&darr;</div>						
		<%end%>	
		<div class="text-center"><%= Hash[orderCompanyStatusOptions].rassoc(o.status).first%></div>
	</td>  
    <td>
        <%if o.product_boxing.product.product_images.first %>
		<div class="text-center">
		<%= image_tag o.product_boxing.product.product_images.first.image.url, class: 'img-circle backend_fruits_img' %>			
        </div>
        <%end%> 	
    	<div class="text-center"><%= o.product_boxing.product.name%></div>   	
    </td>    
    <td><%= o.quantity%>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)</td> 
    <td><%= o.price.to_i + o.shipping_rates.to_i %>元</td>    
    <td>
	<%if o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>	
	<p>線上刷卡</p>
	<%=image_tag 'allPay.png', class: 'img-responsive', size: '50x30'%>	
	</div>	
	<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_TCAT_COD']%>	
	<p>貨到付款</p>
	<%=image_tag 'cat.png', class: 'img-responsive', size: '60x60'%> 			
	<%end%>    	
    </td>	
    <td><%= showBlank o.tracing_code%></td>      
	<td>
		<%= o.invoice.receiver_last_name %> <%= o.invoice.receiver_first_name %>
		<br>
		<%= o.invoice.receiver_postal %><%= o.invoice.receiver_county %><%= o.invoice.receiver_district %><%= o.invoice.receiver_address %>
		<br>
		<%= o.invoice.receiver_phone_no.gsub(/^\+886/, '0') %>
	</td>   	                              
    <td>
    	<%if !o.called_smallfarmer_c%>
    		<%= link_to '通知物流', {controller: 'orders', action: 'confirm', id: o} , class: 'btn btn-success add_button'%>
    	<%end%>
    </td>		     
  </tr>
  <%end%>  
</table>
</div>
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>


