<div class="row">
	<div class="col-sm-12">
		<ul class="main_backend-sub-tabs">
		  <li role="presentation" <%= active( controller: 'orders', action: 'index', called_smallfarmer_c: false)%>>
			<%= link_to "尚未通知", controller: 'orders', action: 'index', called_smallfarmer_c: false%>  	
		  </li><li role="presentation" <%= active( controller: 'orders', action: 'index', called_smallfarmer_c: true)%>><%= link_to "已通知", controller: 'orders', action: 'index', called_smallfarmer_c: true%></li>
		</ul>
	</div>
</div>
<br>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th>出貨編號</th>  
	<th>狀態</th>			          	
	<th>水果</th>  
	<th>金額(含運)</th>	
    <th>收件人</th>    
	<th></th>         
  </tr>
  <% @orders.each do |o| %>
  <tr>
    <td><%= o.id %></td>  	
	<td>
		<div class="text-center">在<%= o.created_at.strftime("%Y-%m-%d %H:%M:%S") %> 建立出貨單</div>					
		<%if o.called_smallfarmer_c%>
		<div class="text-center">&darr;</div>	
		<div class="text-center">在<%= o.called_smallfarmer_at.strftime("%Y-%m-%d %H:%M:%S")%> 通知物流</div>
		<%end%>
		<%if o.seven_days_c%>
		<div class="text-center">	
		<%=image_tag 'seven_days.png', class: '', style: 'width: 100px;'  %>					
		</div>
		<%end%>				
	</td>  
    <td>
        <%= link_to o.product_boxing.product do%>
			<%if o.product_boxing.product.product_images.first %>
				<div class="text-center">
				<%= image_tag o.product_boxing.product.product_images.first.image.url, class: 'img-circle backend_fruits_img' %>			
		        </div>
		    <%end%> 	
    		<div class="text-center"><%= o.product_boxing.product.name%></div>           	
        <%end%>   	
    </td>    
    <td><%= o.price.to_i + o.shipping_rates.to_i %>元</td>    	      
	<td>
      <table class="table table-striped">     
		<tr>	
		    <td>數量 (單位/箱)</td>				
		    <td style="min-width: 70px;">收件人</td>								    			           
	  	</tr>  
		<%o.order_receiver_address_lists.each do |o_r_a_l|%>
		<tr>
          <td> 
          <%=o_r_a_l.quantity%>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)	
          </td> 			      		  
          <td>  
          	  <%receiver_address = o_r_a_l.receiver_address %>
			  <dl>
				  <dt>
				  	<%= Hash[orderCompanyStatusOptions].rassoc(o_r_a_l.status).first%></div>         		
				  </dt>
				  <dd>   		
          			<div><%=receiver_address.last_name %> <%=receiver_address.first_name %></div>
 					<div><%=receiver_address.postal %><%=receiver_address.county %><%=receiver_address.district %><%=receiver_address.address %></div>
 					<div><%=receiver_address.phone_no.gsub(/^\+886/, '0') %></div>
				  </dd>
			  </dl>           	
          </td>	                                          
        </tr>	  	
	  	<%end%>	  	
	  </table>
	</td>   	                              
    <td>
    	<%if !o.called_smallfarmer_c%>
    		<%= link_to '通知物流', {controller: 'orders', action: 'confirm', id: o} , class: 'btn btn-success add_button'%>
    	<%end%>
    </td>		     
  </tr>
  <%end%>  
</table>
</div>
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>


