<div class="row">
	<div class="col-sm-12">
		<ul class="main_backend-sub-tabs">
		  <li role="presentation" <%= active( '/orders/index?called_smallfarmer_c=false')%> <%= active( '/orders/index?called_smallfarmer_c=false&page='+params[:page].to_s)%>>
			<%= link_to "尚未通知", controller: 'orders', action: 'index', called_smallfarmer_c: false%>  	
		  </li><li role="presentation" <%= active( '/orders/index?called_smallfarmer_c=true')%>  <%= active( '/orders/index?called_smallfarmer_c=true&page='+params[:page].to_s)%> >
		  	<%= link_to "已通知", controller: 'orders', action: 'index', called_smallfarmer_c: true%>
		  </li>
		</ul>
	</div>
</div>
<br>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
	<th style="min-width: 220px;">
		<ul>
		  <li>15:30以前通知，<span class="text-danger">隔</span>天物流車會到農場登記地址取貨</li>
		  <li>15:30以後通知，<span class="text-danger">後</span>天物流車會到農場登記地址取貨</li>		  
		</ul>		
	</th>   	
    <th style="min-width: 75px;">出貨編號</th>  			          	
	<th>商品</th>  
	<th style="min-width: 75px;">出貨數量</th>	
	<th style="min-width: 110px;">金額</th>	
    <th>配送明細</th>            
  </tr>
  <% @orders.each do |o| %>
  <tr>
    <td class="text-center">
    	<%if !o.called_smallfarmer_c%>
    		<%= link_to '通知物流', {controller: 'orders', action: 'confirm', id: o}, data: { confirm: '出貨編號:'+o.id.to_s+' 您確定要通知物流? '+expressComingDate( checked_time: Time.zone.now, words: true )+'物流會來取貨' }, class: 'btn orange_btn backend_btn'%>
    	<%end%>
    	<%if o.called_smallfarmer_c%>
    		物流取貨時間: <%=expressComingDate checked_time: o.called_smallfarmer_at, words: false %>     	
    	<%end%>   		    	
    </td>  	
    <td><%= o.id %></td>  	  
    <td>
        <%= link_to o.product_boxing.product do%>
			<%if o.product_boxing.product.cover.url(:medium) %>
				<div class="text-center">
				<%= image_tag o.product_boxing.product.cover.url(:medium), class: 'img-circle backend_fruits_img' %>			
		        </div>
		    <%end%> 	
    		<div class="text-center"><%= o.product_boxing.product.name%><%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %></div>           	
        <%end%>   	
    </td>    
    <td>
    	<%if o.gift_wrapping_c%><span class="text-danger">禮盒裝</span><%end%>
		<span class="text-danger"><%= o.quantity %>箱</span>
    </td>      
    <td><%= o.price.to_i + o.shipping_rates.to_i %>元</td>    	      
	<td>
      <table class="table table-striped">     
		<tr>
			<td style="min-width: 185px;">內容物</td>				
		    <td style="min-width: 170px;">收件人</td>
		    <td style="min-width: 170px;">狀態</td>								    			           
	  	</tr>  
		<%o.shipments.each do |s|%>
		<tr>
		  <td>
		  	<ul class="list-unstyled">
		  	  <%if o.size != GLOBAL_VAR['BOX_SIZE_THIRD']%>
	      	  	<%for i in 1..(s.quantity / 2 )%>
					<li><strong class="text-danger"><%= s.id%>_<%= i%></strong> <small class="text-muted">2箱<%= Hash[boxSizeWithoutNotationOptions].rassoc(o.size).first%>綁一起</small></li>
				<%end%>  
			  	<%if ( s.quantity % 2 ) == 1%>	
					<li><strong class="text-danger"><%= s.id%>_<%= ( s.quantity / 2 )+1%></strong> <small class="text-muted">1箱<%= Hash[boxSizeWithoutNotationOptions].rassoc(o.size).first%></small></li>	  	
			  	<%end%>			  	
		  	  <%else%>
	      	  	<%for i in 1..s.quantity%>
					<li><strong class="text-danger"><%= s.id%>_<%= i%></strong> <small class="text-muted">1箱<%= Hash[boxSizeWithoutNotationOptions].rassoc(o.size).first%></small></li>
				<%end%> 		  	  
		  	  <%end%>	
		  	</ul> 	  	
		  </td>		
          <td>  
          	<%receiver_address = s.receiver_address %>
          	<div><%=receiver_address.last_name %> <%=receiver_address.first_name %></div>
 			<div><%=receiver_address.postal %><%=receiver_address.county %><%=receiver_address.district %><%=receiver_address.address %></div>
 			<div>
	      		<%if receiver_address.phone_no.blank?%>
	      		--
	          	<%else%>
	          	<%= receiver_address.phone_no.gsub(/^\+886/, '0') %>		          	
	          	<%end%> 			
 			</div>         
          </td>			      		            
		  <td>
			<div class="text-center"><%= o.created_at.strftime("%Y-%m-%d %H:%M:%S") %><br>建立<%if o.preorder_c%><span class="text-danger">預購</span><%end%>出貨單</div>					
			<div class="text-center">&darr;</div>				
			<%if o.called_smallfarmer_c%>
			<div class="text-center">在<%= o.called_smallfarmer_at.strftime("%Y-%m-%d %H:%M:%S")%><br>通知物流</div>
			<div class="text-center">&darr;</div>	
			<%end%>
			<div class="text-center"><%= Hash[orderCompanyStatusOptions].rassoc(s.status).first%></div>         								
		  </td>          	                                          
        </tr>	  	
	  	<%end%>	  	
	  </table>
	</td>   	                              		     
  </tr>
  <%end%>  
</table>
</div>
<div class="backend_pagination">
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
</div>

