<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">訂單編號</Data></Cell>      	
        <Cell><Data ss:Type="String">溫層(1.常溫/2.冷藏/3.冷凍)</Data></Cell>
		<Cell><Data ss:Type="String">是否到付(Y/N)</Data></Cell>
		<Cell><Data ss:Type="String">收件人姓名</Data></Cell>
        <Cell><Data ss:Type="String">收件人電話</Data></Cell>
        <Cell><Data ss:Type="String">收件人手機</Data></Cell>
        <Cell><Data ss:Type="String">收件人地址</Data></Cell>
		<Cell><Data ss:Type="String">寄件人姓名</Data></Cell>
		<Cell><Data ss:Type="String">寄件人電話</Data></Cell>
		<Cell><Data ss:Type="String">寄件人手機</Data></Cell>
		<Cell><Data ss:Type="String">寄件人地址</Data></Cell>
		<Cell><Data ss:Type="String">指定送達時間(1.(9點到12點)/2.(12點到17點)/3.(17點到20點)/4.(不指定))</Data></Cell>
		<Cell><Data ss:Type="String">物品名稱</Data></Cell>
		<Cell><Data ss:Type="String">備註</Data></Cell>
      </Row>
    <% @orders.each do |o|%>
      <%o.shipments.each do |s|%>
			<%if o.size != GLOBAL_VAR['BOX_SIZE_THIRD']%>
	      	  <%for i in 0..(s.quantity / 2 )%>
		      <Row>
		        <Cell><Data ss:Type="String"><%= s.id%>_<%= i+1%></Data></Cell>     	
		        <Cell><Data ss:Type="String"><%= o.cold_chain.to_i%></Data></Cell>
				<Cell><Data ss:Type="String">N</Data></Cell>    
				<Cell><Data ss:Type="String"><%= s.receiver_address.last_name %><%=s.receiver_address.first_name %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= s.receiver_address.phone_no.gsub(/^\+886/, '0') %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= s.receiver_address.phone_no.gsub(/^\+886/, '0') %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= s.receiver_address.postal %><%= s.receiver_address.county %><%= s.receiver_address.district %><%= s.receiver_address.address %></Data></Cell>    
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.company.name%></Data></Cell>
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.company.phone_no.gsub(/^\+886/, '0')%></Data></Cell>
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.company.phone_no.gsub(/^\+886/, '0')%></Data></Cell>
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.company.postal %><%= o.product_boxing.product.company.county %><%= o.product_boxing.product.company.district %><%= o.product_boxing.product.company.address %></Data></Cell>    
				<Cell><Data ss:Type="String">4</Data></Cell>    
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.name%><%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %></Data></Cell>
				<Cell><Data ss:Type="String">
					<%if i == ( s.quantity / 2 ) and (s.quantity % 2) == 1%>
					材積<%= Hash[boxSizeWithoutNotationOptions].rassoc(o.size).first%>::1箱
					<%else%>
					材積<%= Hash[boxSizeWithoutNotationOptions].rassoc(o.size).first%>::2箱捆綁在一起;
					<%end%>								
				</Data></Cell>	 
			  </Row>	
			  <%end%>  					
    		<%else%>
	      	  <%for i in 1..s.quantity%>
		      <Row>
		        <Cell><Data ss:Type="String"><%= s.id%>_<%= i%></Data></Cell>     	
		        <Cell><Data ss:Type="String"><%= o.cold_chain.to_i%></Data></Cell>
				<Cell><Data ss:Type="String">N</Data></Cell>    
				<Cell><Data ss:Type="String"><%= s.receiver_address.last_name %><%=s.receiver_address.first_name %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= s.receiver_address.phone_no.gsub(/^\+886/, '0') %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= s.receiver_address.phone_no.gsub(/^\+886/, '0') %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= s.receiver_address.postal %><%= s.receiver_address.county %><%= s.receiver_address.district %><%= s.receiver_address.address %></Data></Cell>    
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.company.name%></Data></Cell>
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.company.phone_no.gsub(/^\+886/, '0')%></Data></Cell>
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.company.phone_no.gsub(/^\+886/, '0')%></Data></Cell>
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.company.postal %><%= o.product_boxing.product.company.county %><%= o.product_boxing.product.company.district %><%= o.product_boxing.product.company.address %></Data></Cell>    
				<Cell><Data ss:Type="String">4</Data></Cell>    
				<Cell><Data ss:Type="String"><%= o.product_boxing.product.name%><%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %></Data></Cell>
				<Cell><Data ss:Type="String">材積<%= Hash[boxSizeWithoutNotationOptions].rassoc(o.size).first%>::1箱</Data></Cell>	 
			  </Row>	
			  <%end%> 		
    		<%end%>
      <%end%>	
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

