<%= form_for(@keyword, url: { controller: 'management', action: "updateKeyword", id: @keyword.id}, method: :post,  html: {class: "form-horizontal", role: "form", multipart: true} ) do |f| %>
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">關鍵字</label>
		<div class="col-sm-10 col-md-7">
			<label class="control-label pull-left"><%= @keyword.content %></label>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label vmiddle">禮盒包裝</label>
		<div class="col-sm-5 col-md-2 vmiddle">
			<label class="radio-inline">
		  		<%= f.radio_button :available_c, "true"%>合法		
			</label>
			<label class="radio-inline">
		 	 	<%= f.radio_button :available_c, "false"%>不合法
			</label>			
		</div>
	</div>
	
		
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">種類</label>
		<div class="col-sm-10 col-md-7">	
			<%= f.select :kind, options_for_select(keywordKindOptions, @keyword.kind), {},class: "form-control" %>		
		</div>
	</div>		
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">描述</label>
		<div class="col-sm-10 col-md-7">
			<%= f.text_area :description, placeholder: '描述', class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">封面</label>		
		<div class="col-sm-10 col-md-6">
    		<%= f.file_field :cover, class: "form-control",  accept: "image/*" %>
  		</div>
  	</div> 
	<div class="form-group">
		<div class="col-sm-offset-2 col-md-offset-3 col-md-10">
			<%= f.submit '儲存',  class: "btn btn-success add_button", style: 'margin-right: 5px;'  %>
		</div>
	</div>	  	
  	
<% end %>

<script>
$("#keyword_cover").fileinput({showCaption: false,
			   				   showRemove: false,
							   allowedFileTypes: ["image"],
							   previewFileType: "image",
							   browseClass: "btn btn-default edit_button",
							   browseLabel: " 選取照片",
							   browseIcon: '<i class="glyphicon glyphicon-plus"></i>',
							   uploadClass: "btn btn-default edit_button",
							   uploadLabel: " 上傳",
							   uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
						       uploadUrl: "/management/<%=@keyword.id %>/keywordCoverUpload", // server upload action
						       uploadAsync: true,
						       maxFileCount: 1,							   
							   initialPreview: [
							   		<%unless @keyword.cover.blank?%>
							   		'<%= image_tag @keyword.cover.url, class: 'file-preview-image' %>'
							   		<%end%>
							   ],
							   initialPreviewConfig: [
									<%unless @keyword.cover.blank?%>	
								    {
								        url: "/management/<%=@keyword.id %>/keywordCoverDelete", // server delete action 
								    }
							   		<%end%>	    
							   ],		        							   
								overwriteInitial: false,	
    							language: "zh-TW"									 
							   });		
</script>	 		