<div class="row">
<ul class="nav nav-tabs pull-left">
  <li role="presentation" <%= active( '/management/orders?called_logistics_c=false&called_smallfarmer_c=false')%>
  						  <%= active( '/management/orders?called_logistics_c=false&called_smallfarmer_c=false&page='+params[:page].to_s)%>>
	<%= link_to "廠商尚未處理", controller: 'management', action: 'orders', called_smallfarmer_c: false, called_logistics_c: false%>  	
  </li>
  <li role="presentation" <%= active( '/management/orders?called_logistics_c=false&called_smallfarmer_c=true')%>
  						  <%= active( '/management/orders?called_logistics_c=false&called_smallfarmer_c=true&page='+params[:page].to_s)%>>
	<%= link_to "後台尚未通知物流", controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: false%>  	  	
  </li>
  <li role="presentation" <%= active( '/management/orders?called_logistics_c=true&called_smallfarmer_c=true')%>
  						  <%= active( '/management/orders?called_logistics_c=true&called_smallfarmer_c=true&page='+params[:page].to_s)%>>	
	<%= link_to "後台已通知物流", controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: true%>  	  	
  </li>   
</ul>
<%if @called_smallfarmer_c and !@called_logistics_c %>
	<%= form_tag('/management/exportOrders.xls', id: 'export_orders') do -%>
		<%=submit_tag '匯出出貨單', class: 'btn btn-default pull-right', style: 'margin-right: 10px;' %>	
	<%end%>
	<div class='btn btn-default pull-right' id='call_logistics' style='margin-right: 10px;'>轉換為已處理</div>
<%end%>
</div>
<div class="row">
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr> 	
    <th style="min-width: 75px;">出貨編號</th>  			          	
	<th>品項</th>  
	<th style="min-width: 120px;">出貨數量</th>	
	<th style="min-width: 110px;">金額</th>	
    <th>配送明細</th>   
	<th style="min-width: 118px;">退換貨糾紛</th>							 		               
	<th>
	<label class="checkbox-inline">	
		<%= check_box_tag 'order_all'%>全選
	</label>	
	</th>        
  </tr>
  <% @orders.each do |o| %>
  <tr id='order_container_<%=o.id %>'>
    <td><%= o.id %></td>  
 	<td>
        <%= link_to o.product_boxing.product do%>
			<%if o.product_boxing.product.product_images.first %>
				<div class="text-center">
				<%= image_tag o.product_boxing.product.product_images.first.image.url, class: 'img-circle backend_fruits_img' %>			
		        </div>
		    <%end%> 	
    		<div class="text-center"><%= o.product_boxing.product.name%></div>           	
        <%end%>   	
    </td>       
	<td><%if o.gift_wrapping_c%><span class="text-danger">禮盒裝</span><%end%><%= o.quantity %>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)</td>      
    <td><%= o.price.to_i + o.shipping_rates.to_i %>元(含運)</td>    	      
	<td>
      <table class="table table-striped">     
		<tr>
			<td style="min-width: 70px;">配送編號</td>							
		    <td style="width: 200px;">收件人</td>
		    <td style="min-width: 20px;">數量</td>			    
		    <td class="text-center">狀態</th>	
		    <th>處理備註</th>							    			           
	  	</tr>  
		<%o.shipments.each do |s|%>		
		<tr>
		  <td><%= s.id%></td>				
          <td>  
          	<%receiver_address = s.receiver_address %>
          	<div><%=receiver_address.last_name %> <%=receiver_address.first_name %></div>
 			<div><%=receiver_address.postal %><%=receiver_address.county %><%=receiver_address.district %><%=receiver_address.address %></div>
 		  	<div><%=receiver_address.phone_no.gsub(/^\+886/, '0') %></div>         	
          </td>
          <td><%=s.quantity%>箱</td> 			      		            
		  <td>
			<div class="text-center"><%= o.created_at.strftime("%Y-%m-%d %H:%M:%S") %><br>建立<%if o.preorder_c%><span class="text-danger">預購</span><%end%>出貨單</div>					
			<div class="text-center">&darr;</div>				
			<%if o.called_smallfarmer_c%>
			<div class="text-center">在<%= o.called_smallfarmer_at.strftime("%Y-%m-%d %H:%M:%S")%><br>通知物流</div>
			<div class="text-center">&darr;</div>	
			<%end%>
			<div class="text-center" id="status_<%=o.id%>"><%= Hash[orderCompanyStatusOptions].rassoc(s.status).first%></div>         								
		  </td>     
		  	<td>
				<%= text_area_tag 'shipment_'+s.id.to_s, s.processing_note, class: "form-control shipment", placeholder: "", 'data-id'=> s.id %>
		  	</td>   		       	                                          
        </tr>	  	
	  	<%end%>	  	
	  </table>
	</td> 	        
	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if o.problem_c%>active<%else%>notActive<%end%>" data-toggle="problem_<%=o.id %>" data-id="<%=o.id %>" data-title="true" data-kind="problem" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if o.problem_c%>notActive<%else%>active<%end%>" data-toggle="problem_<%=o.id %>" data-id="<%=o.id %>" data-title="false" data-kind="problem" style="border: none;">否</a>
    					<input type="hidden" name="problem_<%= o.id %>" id="problem_<%=o.id %>" value="<%= o.problem_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
    	<div id="problem_datetime_<%=o.id %>"><%if o.problem_c%><%= o.problem_at.strftime("%Y-%m-%d %H:%M:%S")%><%end%></div>
	</td>	        	        	                              
    <td>
		<label class="checkbox-inline" id='order_check_box_container_<%=o.id %>'>
			<%= check_box_tag 'orders[]', o.id, false, class: 'order_idv'%>
		</label>   
    </td>			     
  </tr>
  <%end%>  
</table>
</div>
</div>
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<style>
.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
</style>
<script>
$('#order_all').change(function() {
   if ( this.checked )
   	$('.order_idv').prop('checked', true);
   else
   	$('.order_idv').prop('checked', false);
});

<%if @called_smallfarmer_c and !@called_logistics_c%>
$("#call_logistics").click(function(){			
	var orders = []
	$('input[name="orders[]"]').each(function() {
		if($(this).prop('checked') == true)
			orders.push($(this).val()); 
	});				
	$.ajax({
			type : 'GET',
			url : '/management/callLogistics',
			data : {
				orders: orders 
			},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					$.each(orders, function( index, value ) {
						$('#order_container_'+value).remove();					
					});
				} else {
					toastr['warning'](data.message)
				}
			}
		});	
});	
$('#export_orders').submit(function() {
	$('input[name="selected_orders[]"]').remove();
	$('input[name="orders[]"]').each(function() {
		if($(this).prop('checked') == true)
		{
	        var input = $("<input>").attr({"type":"hidden","name":"selected_orders[]"}).val($(this).val());
	        $('#export_orders').append(input);   			
		}	
	});		
	return true; // return false to cancel form action
});

$("#tracing_file").fileinput({showCaption: false,
			   				   showRemove: false,
			   				   showPreview: false,
							   browseClass: "btn btn-default pull-right",
							   browseLabel: " 上傳追蹤碼",
							   browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
							   uploadClass: "btn btn-default",
							   uploadLabel: "上傳",
							   uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
						       uploadUrl: "/management/uploadTracking", // server upload action
						       uploadAsync: true,
						       maxFileCount: 1,							           							   
							   overwriteInitial: true							 
							   });	
<%end%>	

$( ".shipment" ).change(function() {
	  var id = $(this).data('id')  	  
	  $.ajax({
				type : 'GET',
				url : '/management/setShipment',
				data : { id: id, val: $(this).val(), kind: 'processing_note' },
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						toastr['success'](data.message)		
					} else {
						toastr['warning'](data.message)
					}
				}
			});		    
	});	
	
	
	$('.radioBtn a').on('click', function(){
		var sel = $(this).data('title');
		var tog = $(this).data('toggle');	 
		var id = $(this).data('id')   
		var kind = $(this).data('kind') 		
		if(sel.toString()!=$('#'+tog).val() )
		{
		    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
		    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
			$.ajax({
				type : 'GET',
				url : '/management/setOrder',
				data : { id: id, val: sel, kind: kind },
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						toastr['success'](data.message)		
						$('#'+tog).val(sel.toString()) 	
						if(kind == 'problem' & sel) 
							$('#problem_datetime_'+id).html(data.problem_at)
						else
							$('#problem_datetime_'+id).html('')
													
					} else {
						toastr['warning'](data.message)
					}
				}
			});	
		}	
	})	
	
	
</script>
