<div class="row">
<ul class="nav nav-tabs pull-left">
  <li role="presentation" <%= active( controller: 'management', action: 'orders', called_smallfarmer_c: false, called_logistics_c: false)%>>
	<%= link_to "農夫尚未處理", controller: 'management', action: 'orders', called_smallfarmer_c: false, called_logistics_c: false%>  	
  </li>
  <li role="presentation" <%= active( controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: false)%>>
	<%= link_to "尚未通知物流", controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: false%>  	  	
  </li>
  <li role="presentation" <%= active( controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: true)%>>
	<%= link_to "已處理", controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: true%>  	  	
  </li>   
</ul>
<%if current_page?(controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: false)%>
	<div class='btn btn-primary pull-right' id='call_logistics'>轉換為已處理</div>
<%end%>

<input id="tracing_file" type="file">

</div>
<div class="row">
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th>出貨單編號</th>  	
	<th>水果名稱</th>
	<th>數量(單位/箱)</th>  
	<th>金額(含運)</th>	
	<th>付款方式</th>							 		    
	<th>物流追蹤碼</th>
    <th>收件人</th>   
	<th class="text-center">狀態</th>			            
	<th>
	<label class="checkbox-inline">	
		<%= check_box_tag 'order_all'%>全選
	</label>	
	</th>  
	<th>
		<%=link_to '訂貨單', "/management/exportOrders.xls", class: 'btn btn-info' %>	
	</th>       
  </tr>
  <% @orders.each do |o| %>
  <tr id='order_container_<%=o.id %>'>
    <td><%= o.id %></td>  	
    <td><%= o.product_boxing.product.name%></td>    
    <td><%= o.quantity%>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)</td> 
    <td><%= o.price.to_i + o.shipping_rates.to_i %>元</td>    
    <td>
	<%if o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_ALLPAY_CREDIT']%>	
	<p>線上刷卡</p>
	<%=image_tag 'allPay.png', class: 'img-responsive', size: '50x30'%>	
	</div>	
	<%elsif o.invoice.payment_method == GLOBAL_VAR['PAYMENT_METHOD_TCAT_COD']%>	
	<p>貨到付款</p>
	<%=image_tag 'cat.png', class: 'img-responsive', size: '60x60'%> 			
	<%end%>    	
    </td>	
    <td><%= showBlank o.tracing_code%></td>        
	<td>
		<%= o.invoice.receiver_last_name %> <%= o.invoice.receiver_first_name %>
		<br>
		<%= o.invoice.receiver_phone_no.gsub(/^\+886/, '0') %>		
		<br>
		<%= o.invoice.receiver_postal %><%= o.invoice.receiver_county %><%= o.invoice.receiver_district %><%= o.invoice.receiver_address %>
	</td>  
	<td>
		<div class="text-center">在<%= o.created_at.strftime("%Y-%m-%d %H:%M:%S") %> 建立訂單</div>		
		<div class="text-center">&darr;</div>				
		<%if o.called_smallfarmer_c%>
		<div class="text-center">在<%= o.called_smallfarmer_at.strftime("%Y-%m-%d %H:%M:%S")%> 通知小農</div>
		<div class="text-center">&darr;</div>						
		<%end%>	
		<%if o.called_logistics_c%>
		<div class="text-center">在<%= o.called_logistics_at.strftime("%Y-%m-%d %H:%M:%S")%> 通知物流</div>
		<div class="text-center">&darr;</div>						
		<%end%>					
		<div class="text-center"><%= Hash[orderBackendStatusOptions].rassoc(o.status).first%></div>	
	</td>	 	                              
    <td>
		<label class="checkbox-inline">
			<%= check_box_tag 'orders[]', o.id, false, class: 'order_idv'%>
		</label>    	
    </td>		     
  </tr>
  <%end%>  
</table>
</div>
</div>
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<script>
$('#order_all').change(function() {
   if ( this.checked )
   	$('.order_idv').prop('checked', true);
   else
   	$('.order_idv').prop('checked', false);
});

<%if current_page?(controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: false)%>
$("#call_logistics").click(function(){			
	var orders = []
	$('input[name="orders[]"]').each(function() {
		if($(this).prop('checked') == true)
			orders.push($(this).val()); 
	});				
	$.ajax({
			type : 'GET',
			url : '/management/callLogistics',
			data : {
				orders: orders 
			},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					$.each(orders, function( index, value ) {
						$('#order_container_'+value).remove();					
					});
				} else {
					toastr['warning'](data.message)
				}
			}
		});	
});	
<%end%>	

$("#tracing_file").fileinput({showCaption: false,
			   				   showRemove: false,
			   				   showPreview: false,
							   browseClass: "btn btn-success",
							   browseLabel: " 選取檔案",
							   browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
							   uploadClass: "btn btn-default",
							   uploadLabel: "上傳",
							   uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
						       uploadUrl: "/management/uploadTracking", // server upload action
						       uploadAsync: true,
						       maxFileCount: 1,							           							   
							   overwriteInitial: true							 
							   });	

		
</script>
