<div class="row">
<ul class="nav nav-tabs pull-left">
  <li role="presentation" <%= active( controller: 'management', action: 'orders', called_smallfarmer_c: false, called_logistics_c: false)%>>
	<%= link_to "農夫尚未處理", controller: 'management', action: 'orders', called_smallfarmer_c: false, called_logistics_c: false%>  	
  </li>
  <li role="presentation" <%= active( controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: false)%>>
	<%= link_to "尚未通知物流", controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: false%>  	  	
  </li>
  <li role="presentation" <%= active( controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: true)%>>
	<%= link_to "已處理", controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: true%>  	  	
  </li>   
</ul>
<%if current_page?(controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: false)%>
	<%= form_tag('/management/exportOrders.xls', id: 'export_orders') do -%>
		<%=submit_tag '匯出出貨單', class: 'btn btn-default pull-right', style: 'margin-right: 10px;' %>	
	<%end%>
	<div class='btn btn-default pull-right' id='call_logistics' style='margin-right: 10px;'>轉換為已處理</div>
<%elsif  current_page?(controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: true)%>
	<div class='btn btn-default pull-right' id='delivered' style='margin-right: 10px;'>已交付</div>
	<input id="tracing_file" type="file" class="form-control">
<%end%>

</div>
<div class="row">
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr> 	
    <th style="min-width: 75px;">出貨編號</th>  			          	
	<th>水果</th>  
	<th style="min-width: 120px;">出貨數量</th>	
	<th style="min-width: 110px;">金額</th>	
    <th>配送明細</th>   
	<th>
	<label class="checkbox-inline">	
		<%= check_box_tag 'order_all'%>全選
	</label>	
	</th>        
  </tr>
  <% @orders.each do |o| %>
  <tr id='order_container_<%=o.id %>'>
    <td><%= o.id %></td>  
 	<td>
        <%= link_to o.product_boxing.product do%>
			<%if o.product_boxing.product.product_images.first %>
				<div class="text-center">
				<%= image_tag o.product_boxing.product.product_images.first.image.url, class: 'img-circle backend_fruits_img' %>			
		        </div>
		    <%end%> 	
    		<div class="text-center"><%= o.product_boxing.product.name%></div>           	
        <%end%>   	
    </td>       
	<td><%= o.quantity %>箱 (<%="%g" % o.product_boxing.quantity%><%= Hash[unitOptions].rassoc(o.product_boxing.product.unit).first %>/箱)</td>      
    <td><%= o.price.to_i + o.shipping_rates.to_i %>元(含運)</td>    	      
	<td>
      <table class="table table-striped">     
		<tr>
			<td style="min-width: 70px;">配送編號</td>							
		    <td style="min-width: 70px;">收件人</td>
		    <td style="min-width: 70px;">數量</td>			    
		    <th>狀態</th>								    			           
	  	</tr>  
		<%o.shipments.each do |s|%>		
		<tr>
		  <td><%= s.id%></td>				
          <td>  
          	<%receiver_address = s.receiver_address %>
          	<div><%=receiver_address.last_name %> <%=receiver_address.first_name %></div>
 			<div><%=receiver_address.postal %><%=receiver_address.county %><%=receiver_address.district %><%=receiver_address.address %></div>
 		  	<div><%=receiver_address.phone_no.gsub(/^\+886/, '0') %></div>         	
          </td>
          <td><%=s.quantity%>箱</td> 			      		            
		  <td>
			<div class="text-center"><%= o.created_at.strftime("%Y-%m-%d %H:%M:%S") %><br>建立出貨單</div>					
			<div class="text-center">&darr;</div>				
			<%if o.called_smallfarmer_c%>
			<div class="text-center">在<%= o.called_smallfarmer_at.strftime("%Y-%m-%d %H:%M:%S")%><br>通知物流</div>
			<div class="text-center">&darr;</div>	
			<%end%>
			<div class="text-center" id="status_<%=o.id%>"><%= Hash[orderCompanyStatusOptions].rassoc(s.status).first%></div>         								
		  </td>          	                                          
        </tr>	  	
	  	<%end%>	  	
	  </table>
	</td>         	                              
    <td>
    	<%if !o.shipments.first.delivered_c%>
		<label class="checkbox-inline" id='order_check_box_container_<%=o.id %>'>
			<%= check_box_tag 'orders[]', o.id, false, class: 'order_idv'%>
		</label>   
		<%end%> 	
    </td>			     
  </tr>
  <%end%>  
</table>
</div>
</div>
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<script>
$('#order_all').change(function() {
   if ( this.checked )
   	$('.order_idv').prop('checked', true);
   else
   	$('.order_idv').prop('checked', false);
});

<%if current_page?(controller: 'management', action: 'orders', called_smallfarmer_c: true, called_logistics_c: false)%>
$("#call_logistics").click(function(){			
	var orders = []
	$('input[name="orders[]"]').each(function() {
		if($(this).prop('checked') == true)
			orders.push($(this).val()); 
	});				
	$.ajax({
			type : 'GET',
			url : '/management/callLogistics',
			data : {
				orders: orders 
			},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					$.each(orders, function( index, value ) {
						$('#order_container_'+value).remove();					
					});
				} else {
					toastr['warning'](data.message)
				}
			}
		});	
});	

$('#export_orders').submit(function() {
	$('input[name="selected_orders[]"]').remove();
	$('input[name="orders[]"]').each(function() {
		if($(this).prop('checked') == true)
		{
	        var input = $("<input>").attr({"type":"hidden","name":"selected_orders[]"}).val($(this).val());
	        $('#export_orders').append(input);   			
		}	
	});		
	return true; // return false to cancel form action
});
<%else%>	

$("#delivered").click(function(){			
	var orders = []
	$('input[name="orders[]"]').each(function() {
		if($(this).prop('checked') == true)
			orders.push($(this).val()); 
	});				
	$.ajax({
			type : 'GET',
			url : '/management/delivered',
			data : {
				orders: orders 
			},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					toastr['success']('成功將選取出貨單改為已交付')
					$.each(orders, function( index, value ) {
						$('#status_'+value).html('已交付');
						$('#order_check_box_container_'+value).remove();											
					});
				} else {
					toastr['warning'](data.message)
				}
			}
		});	
});	
$("#tracing_file").fileinput({showCaption: false,
			   				   showRemove: false,
			   				   showPreview: false,
							   browseClass: "btn btn-default pull-right",
							   browseLabel: " 上傳追蹤碼",
							   browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
							   uploadClass: "btn btn-default",
							   uploadLabel: "上傳",
							   uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
						       uploadUrl: "/management/uploadTracking", // server upload action
						       uploadAsync: true,
						       maxFileCount: 1,							           							   
							   overwriteInitial: true							 
							   });	

<%end%>		
</script>
