<div class="row">
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th>商品編號</th>  	
	<th>商品</th>
	<th style="min-width: 120px;">出貨庫存</th>  
	<th style="min-width: 220px;">包裝價格</th>	
	<th style="min-width: 100px;">甜度</th>		
	<th style="min-width: 100px;">折扣</th>	
	<th style="min-width: 100px;">有機</th>		
	<th style="min-width: 118px;">
		<%=image_tag 'certification/gap.png', class: '', style: 'height: 55px; width: 55px;'  %>		      
	</th>	
	<th style="min-width: 118px;">
		<%=image_tag 'certification/tap.png', class: '', style: 'height: 55px; width: 55px;'  %>		      
	</th>						 		            
	<th style="min-width: 118px;">
		<%=image_tag 'certification/otap.png', class: '', style: 'height: 55px; width: 55px;'  %>		      		
	</th>						 		            
	<th style="min-width: 118px;">
		<%=image_tag 'certification/utap.png', class: '', style: 'height: 55px; width: 55px;'  %>		      				
	</th>	
	<th style="min-width: 118px;">
		<%=image_tag 'certification/pesticide_qualified.png', class: '', style: 'height: 55px; width: 55px;'  %>		      					
	</th>
	<th style="min-width: 118px;">
		<%=image_tag 'certification/pesticide_zero.png', class: '', style: 'height: 55px; width: 55px;'  %>		      				
	</th>	
	<th style="min-width: 118px;">上架</th>							 		            
	<th style="min-width: 118px;">排序</th>							 		    						 		            
  </tr>
  <% @products.each do |product| %>
  <tr id='product_container_<%=product.id %>'>
    <td><%= product.id %></td>  	
    <td>
	    <%= link_to product do%>
			<%if product.cover.url %>
				<div class="text-center">
					<%= image_tag product.cover.url, class: 'img-circle backend_fruits_img' %>			
			    </div>
			<%end%> 	
	    	<div class="text-center"><%= product.name%></div>           	
	    <%end%>     	
    </td>   
    <td>
    	<div><%if product.available_c%>上架中<%else%>已下架<%end%></div>
			<dl>
			  <dt>出貨日期</dt><dd><%= product.released_at.blank? ? '--' : product.released_at.strftime("%Y-%m-%d %H:%M") %></dd>
			  <dt>本批數量</dt><dd><%= product.inventory.to_i %><%if product.unit%><%= Hash[unitOptions].rassoc(product.unit).first %><%end%></dd>
			  <dt>尚未付款</dt>
			  <dd>
			      <% unpaid = 0 %>  
			      <% product.product_boxings.each do |p_b| %>  
			      	<% unpaid_quantity = Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ? and invoices.allpay_expired_at > ? ', p_b.id, false, Time.zone.now ).sum(:quantity) %>        
			      	<% if unpaid_quantity != 0 %> 
			        	<% unpaid = unpaid + unpaid_quantity*p_b.quantity %> 
			        <% end %> 
			      <% end %>   		
			      <%= "%g" % unpaid%><%if product.unit%><%= Hash[unitOptions].rassoc(product.unit).first %><%end%>	  	
			  </dd>
			  <dt>已出貨</dt><dd><%= product.product_boxings.first.orders.where(called_smallfarmer_c: true).sum(:quantity) %>箱</dd>			
			</dl>	
    </td>      
    <td>
		<%if product.discount!= 1%>
			商品<span class="text-danger"><%= Hash[discountPercentageOptions].rassoc(product.discount).first %></span>
		<%end%>  
		<%product.product_boxings.where(deleted_c: false).each do |p_b| %>
		<table class="table table-striped table-bordered table-condensed">
			<%p_b.product_pricings.each do |p| %>
				<%if p.quantity == 1%>	
					<tr>
				        <%if p_b.quantity%>
				        <td>內含<%= "%g" % p_b.quantity %><%if product.unit%><%= Hash[unitOptions].rassoc(product.unit).first %><%end%></td>
				        <%end%>					
					</tr>
					<tr>
						<%if p.price %>
				        <td style="min-width: 120px;">每箱賣<%= p.price.to_i %>元&nbsp;</td>
						<%end%>
						<%if !product.cold_chain.blank? and !p.product_boxing.size.blank?%>
						<td style="min-width: 90px;">運費<%=shippingRates(box_size: p.product_boxing.size ,quantity: p.quantity, cold_chain: product.cold_chain) %>元&nbsp;</td>
						<td style="min-width: 120px;">最終售價
							<%if product.discount!=1%><s><small><%= p.price.to_i + shippingRates(cold_chain: p.product_boxing.product.cold_chain, box_size: p.product_boxing.size, quantity: p.quantity )%></small></s><%end%>
							<!--<%# priceWithShippingRates(product_boxing: p.product_boxing, quantity: p.quantity) %>元--> 
						</td>
						<%end%>
					</tr>				
				<%elsif p.quantity%>
					<tr class="text-danger">
						<td><%= p.quantity %>箱以上(含)&nbsp;</td>
					</tr>
					<tr class="text-danger">
				        <td>每箱賣<%= p.price.to_i %>元&nbsp;</td>
						<%if !product.cold_chain.blank? and !p.product_boxing.size.blank?%>
						<td>運費<%=shippingRates(box_size: p.product_boxing.size ,quantity: p.quantity, cold_chain: product.cold_chain) %>元&nbsp;</td>
						<td>最終售價
							<%if product.discount!=1%><s><small><%= p.price.to_i + shippingRates(cold_chain: p.product_boxing.product.cold_chain, box_size: p.product_boxing.size, quantity: p.quantity )%></small></s><%end%>
							<%= priceWithShippingRates(product_boxing: p.product_boxing, quantity: p.quantity)/p.quantity %>元 
						</td>
						<%end%>
					</tr>					
				<%end%>
			<%end%>   
		</table>  
		<%end%>         	
    </td> 
  	<td>
		<%= select_tag "sweet_degree", options_for_select((10..20).step(1), product.sweet_degree), prompt: '請選擇', class: 'form-control sweet_degree', 'data-id'=> product.id %>  		
  	</td>	
  	<td>
		<%= select_tag "discount", options_for_select(discountPercentageOptions, product.discount), class: "form-control discount", 'data-id'=> product.id  %>
	</td>	  	
  	<td>
		<%= select_tag "organic", options_for_select(organicOptions, product.organic), class: "form-control organic", 'data-id'=> product.id  %>
	</td>	  	    
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.GAP_c%>active<%else%>notActive<%end%>" data-toggle="GAP_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="GAP" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.GAP_c%>notActive<%else%>active<%end%>" data-toggle="GAP_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="GAP" style="border: none;">否</a>
    					<input type="hidden" name="GAP_<%=product.id %>" id="GAP_<%=product.id %>" value="<%=product.GAP_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>    
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.TAP_c%>active<%else%>notActive<%end%>" data-toggle="TAP_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="TAP" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.TAP_c%>notActive<%else%>active<%end%>" data-toggle="TAP_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="TAP" style="border: none;">否</a>
    					<input type="hidden" name="TAP_<%=product.id %>" id="TAP_<%=product.id %>" value="<%=product.TAP_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.OTAP_c%>active<%else%>notActive<%end%>" data-toggle="OTAP_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="OTAP" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.OTAP_c%>notActive<%else%>active<%end%>" data-toggle="OTAP_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="OTAP" style="border: none;">否</a>
    					<input type="hidden" name="OTAP_<%=product.id %>" id="OTAP_<%=product.id %>" value="<%=product.OTAP_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>  	 
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.UTAP_c%>active<%else%>notActive<%end%>" data-toggle="UTAP_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="UTAP" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.UTAP_c%>notActive<%else%>active<%end%>" data-toggle="UTAP_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="UTAP" style="border: none;">否</a>
    					<input type="hidden" name="UTAP_<%=product.id %>" id="UTAP_<%=product.id %>" value="<%=product.UTAP_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.pesticide_qualified_c%>active<%else%>notActive<%end%>" data-toggle="pesticide_qualified_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="pesticide_qualified" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.pesticide_qualified_c%>notActive<%else%>active<%end%>" data-toggle="pesticide_qualified_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="pesticide_qualified" style="border: none;">否</a>
    					<input type="hidden" name="pesticide_qualified_<%=product.id %>" id="pesticide_qualified_<%=product.id %>" value="<%=product.pesticide_qualified_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.pesticide_zero_c%>active<%else%>notActive<%end%>" data-toggle="pesticide_zero_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="pesticide_zero" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.pesticide_zero_c%>notActive<%else%>active<%end%>" data-toggle="pesticide_zero_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="pesticide_zero" style="border: none;">否</a>
    					<input type="hidden" name="pesticide_zero_<%=product.id %>" id="pesticide_zero_<%=product.id %>" value="<%=product.pesticide_zero_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>  	
 	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.available_c%>active<%else%>notActive<%end%>" data-toggle="available_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="available" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.available_c%>notActive<%else%>active<%end%>" data-toggle="available_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="available" style="border: none;">否</a>
    					<input type="hidden" name="available_<%=product.id %>" id="available_<%=product.id %>" value="<%=product.available_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td> 	  	
  	<td>
		<%= text_field_tag 'product_'+product.id.to_s, product.priority, class: "form-control priority", placeholder: "", 'data-id'=> product.id %>
  	</td>  	  	 	 
  </tr>
  <tr>
    <td colspan="6"> 
    	<% keywords = ''%>	
	    <% product.keywords.each do |k| %>
	      <% keywords = keywords + ','+k.content %>
	    <% end %>    	
    	<% keywords%>
		<%= text_field_tag 'keywords_'+product.id.to_s, keywords, "data-role" => "tagsinput", class: 'keywords', "data-id" => product.id %>				    	   	   
    </td>  	  
  </tr>    
  <%end%>  
</table>
</div>
</div>
<%= will_paginate @products, renderer: BootstrapPagination::Rails %>

<style>
.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
</style>
<script>
	$('.radioBtn a').on('click', function(){
		var sel = $(this).data('title');
		var tog = $(this).data('toggle');	 
		var id = $(this).data('id')   
		var kind = $(this).data('kind') 		
		if(sel.toString()!=$('#'+tog).val() )
		{
		    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
		    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
			$.ajax({
				type : 'GET',
				url : '/management/setProduct',
				data : { id: id, val: sel, kind: kind },
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						toastr['success'](data.message)		
						$('#'+tog).val(sel.toString()) 								
					} else {
						toastr['warning'](data.message)
					}
				}
			});	
		}	
	})
	$( ".sweet_degree" ).change(function() {
	  var id = $(this).data('id')  	  
	  $.ajax({
				type : 'GET',
				url : '/management/setProduct',
				data : { id: id, val: $(this).val(), kind: 'sweet_degree' },
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						toastr['success'](data.message)		
					} else {
						toastr['warning'](data.message)
					}
				}
			});		    
	});	
	$( ".discount" ).change(function() {
	  var id = $(this).data('id')  	  
	  $.ajax({
				type : 'GET',
				url : '/management/setProduct',
				data : { id: id, val: $(this).val(), kind: 'discount' },
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						toastr['success'](data.message)		
					} else {
						toastr['warning'](data.message)
					}
				}
			});		    
	});		
	$( ".priority" ).change(function() {
	  var id = $(this).data('id')  	  
	  $.ajax({
				type : 'GET',
				url : '/management/setProduct',
				data : { id: id, val: $(this).val(), kind: 'priority' },
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						toastr['success'](data.message)		
					} else {
						toastr['warning'](data.message)
					}
				}
			});		    
	});	
	$( ".organic" ).change(function() {
	  var id = $(this).data('id')  	  
	  $.ajax({
				type : 'GET',
				url : '/management/setProduct',
				data : { id: id, val: $(this).val(), kind: 'organic' },
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						toastr['success'](data.message)		
					} else {
						toastr['warning'](data.message)
					}
				}
			});		    
	});		
	
	var keyword_results = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('keyword'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			remote: {
			    url: '/main/typeaheadSource?query=%QUERY&kind=0',
			    wildcard: '%QUERY'
			  }
			});
	keyword_results.initialize();
	$('.keywords').tagsinput({
		confirmKeys: [13, 32], 
		typeaheadjs: {  	
				name: 'keywords',
				valueKey: 'content',		
				displayKey: 'content',	
			  	source: keyword_results.ttAdapter(),
				limit: 5,
				templates: {
			  		header: '<p class="tt-header">關鍵字</p>',
			        suggestion: function (keyword) {
			            return '<p><span class="target">' + keyword.content + '</span><span class="description">目前共' + keyword.size + '項商品</span></p>';
			        }
				  }
			  }
			});
	$('.keywords').on('beforeItemAdd', function(event) {
		var patt = new RegExp("^\#{1}");
		if( patt.exec(event.item) == null )
		{
			event.cancel = true
			$(this).tagsinput('add', '#'+event.item );
		}	 			 
	});    
	$('.keywords').on('itemAdded', function(event) {	 	
		var id = $(this).data('id')  	  
		$.ajax({	async: false,
					type : 'GET',
					url : '/management/setProduct',
					data : { id: id, val: $(this).val(), kind: 'keyword' },
					datatype : 'json',
					success : function(data) {
						if (data.success) {
							toastr['success'](data.message)		
						} else {
							toastr['warning'](data.message)
						}
					}
				});			 
	}); 	
	$('input').on('itemRemoved', function(event) {
		var id = $(this).data('id')  	  
		$.ajax({	async: false,
					type : 'GET',
					url : '/management/setProduct',
					data : { id: id, val: $(this).val(), kind: 'keyword' },
					datatype : 'json',
					success : function(data) {
						if (data.success) {
							toastr['success'](data.message)		
						} else {
							toastr['warning'](data.message)
						}
					}
				});	
	});	
</script>