<div class="row">
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th>商品編號</th>  	
	<th>商品</th>
	<th>狀態</th>  
	<th>價錢</th>	
	<th>甜度</th>			
	<th>
		<%=image_tag 'gap.png', class: '', style: 'height: 55px; width: 55px;'  %>		      
		吉園圃
	</th>	
	<th>
		<%=image_tag 'tap.png', class: '', style: 'height: 55px; width: 55px;'  %>		      
		TAP
	</th>						 		            
	<th>
		<%=image_tag 'otap.png', class: '', style: 'height: 55px; width: 55px;'  %>		      		
		OTAP
	</th>						 		            
	<th>
		<%=image_tag 'utap.png', class: '', style: 'height: 55px; width: 55px;'  %>		      				
		UTAP
	</th>	
	<th>
		<%=image_tag 'pesticide_qualified.png', class: '', style: 'height: 55px; width: 55px;'  %>		      					
	</th>
	<th>
		<%=image_tag 'pesticide_zero.png', class: '', style: 'height: 55px; width: 55px;'  %>		      				
	</th>							 		            
	<th></th>							 		    						 		            
  </tr>
  <% @products.each do |product| %>
  <tr id='product_container_<%=product.id %>'>
    <td><%= product.id %></td>  	
    <td>
	    <%= link_to product do%>
			<%if product.product_images.first %>
				<div class="text-center">
					<%= image_tag product.product_images.first.image.url, class: 'img-circle backend_fruits_img' %>			
			    </div>
			<%end%> 	
	    	<div class="text-center"><%= product.name%></div>           	
	    <%end%>     	
    </td>   
    <td>
    	<div><%if product.available_c%>上架中<%else%>已下架<%end%></div>
		<div>總庫存量<%= product.inventory.to_i %>箱</div>	          
	    <div>
	        尚未付款
			<%= Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ? and invoices.allpay_expired_at > ? ', product.product_boxings.first.id, false, Time.now ).sum(:quantity)%>
        	箱
        </div>
        <div>日處理量 <%= product.daily_capacity.to_i %> 箱</div>
       	<div>已出貨 <%= product.product_boxings.first.orders.where(called_smallfarmer_c: true).sum(:quantity) %> 箱</div>    	
    </td>      
    <td>
		<%if product.product_boxings.first.quantity%><div style="margin-bottom: 5px;">每箱<%= "%g" % product.product_boxings.first.quantity %><%end%><%if product.unit%><%= Hash[unitOptions].rassoc(product.unit).first %></div><%end%>
		<table>
		<%product.product_boxings.first.product_pricings.each do |p| %>
			<%if p.quantity == 1%>	
				<tr>
			        <%if product.product_boxings.first.quantity%>
			        <td>每箱<%= "%g" % product.product_boxings.first.quantity %><%end%><%if product.unit%><%= Hash[unitOptions].rassoc(product.unit).first %></td>
			        <%end%>					
					<td>賣<%= p.price.to_i %>元&nbsp;</td>
					<%if !product.cold_chain.blank? and !p.product_boxing.size.blank?%>
					<td>(含運<%= p.price.to_i + shippingRates(cold_chain: product.cold_chain, size: p.product_boxing.size)%>元) </td>
					<%end%>
				</tr>
			<%elsif p.quantity%>
				<tr>
					<td><%= p.quantity %>箱以上(含)&nbsp;</td>
					<td>每箱賣<%= p.price.to_i %>元&nbsp;</td> 
					<%if !product.cold_chain.blank? and !p.product_boxing.size.blank?%>										
					<td>(含運<%=  p.price.to_i + shippingRates(cold_chain: product.cold_chain, size: p.product_boxing.size)%>元) </td>		
					<%end%>
				</tr>
			<%end%>
		<%end%>   
		</table>       	
    </td> 
  	<td>
		<%= select_tag "sweet_degree", options_for_select((10..20).step(1), product.sweet_degree), prompt: '請選擇', class: 'form-control sweet_degree', 'data-id'=> product.id %>  		
  	</td>	    
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.GAP_c%>active<%else%>notActive<%end%>" data-toggle="GAP_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="GAP" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.GAP_c%>notActive<%else%>active<%end%>" data-toggle="GAP_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="GAP" style="border: none;">否</a>
    					<input type="hidden" name="GAP_<%=product.id %>" id="GAP_<%=product.id %>" value="<%=product.GAP_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>    
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.TAP_c%>active<%else%>notActive<%end%>" data-toggle="TAP_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="TAP" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.TAP_c%>notActive<%else%>active<%end%>" data-toggle="TAP_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="TAP" style="border: none;">否</a>
    					<input type="hidden" name="TAP_<%=product.id %>" id="TAP_<%=product.id %>" value="<%=product.TAP_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.OTAP_c%>active<%else%>notActive<%end%>" data-toggle="OTAP_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="OTAP" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.OTAP_c%>notActive<%else%>active<%end%>" data-toggle="OTAP_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="OTAP" style="border: none;">否</a>
    					<input type="hidden" name="OTAP_<%=product.id %>" id="OTAP_<%=product.id %>" value="<%=product.OTAP_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>  	 
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.UTAP_c%>active<%else%>notActive<%end%>" data-toggle="UTAP_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="UTAP" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.UTAP_c%>notActive<%else%>active<%end%>" data-toggle="UTAP_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="UTAP" style="border: none;">否</a>
    					<input type="hidden" name="UTAP_<%=product.id %>" id="UTAP_<%=product.id %>" value="<%=product.UTAP_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.pesticide_qualified_c%>active<%else%>notActive<%end%>" data-toggle="pesticide_qualified_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="pesticide_qualified" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.pesticide_qualified_c%>notActive<%else%>active<%end%>" data-toggle="pesticide_qualified_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="pesticide_qualified" style="border: none;">否</a>
    					<input type="hidden" name="pesticide_qualified_<%=product.id %>" id="pesticide_qualified_<%=product.id %>" value="<%=product.pesticide_qualified_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>
  	<td>
    	<div class="form-group">
    		<div class="col-sm-12">
    			<div class="input-group">
    				<div id="" class="radioBtn btn-group">
    					<a class="btn btn-primary btn-sm <%if product.pesticide_zero_c%>active<%else%>notActive<%end%>" data-toggle="pesticide_zero_<%=product.id %>" data-id="<%=product.id %>" data-title="true" data-kind="pesticide_zero" style="border: none;">是</a>
    					<a class="btn btn-primary btn-sm <%if product.pesticide_zero_c%>notActive<%else%>active<%end%>" data-toggle="pesticide_zero_<%=product.id %>" data-id="<%=product.id %>" data-title="false" data-kind="pesticide_zero" style="border: none;">否</a>
    					<input type="hidden" name="pesticide_zero_<%=product.id %>" id="pesticide_zero_<%=product.id %>" value="<%=product.pesticide_zero_c%>">
    				</div>
    			</div>
    		</div>
    	</div>
  	</td>  	  	
  	<td>
  		<%=link_to '瀏覽', product, class: 'btn-default btn'%>
  	</td>  	  	 	 
  </tr>
  <%end%>  
</table>
</div>
</div>
<%= will_paginate @products, renderer: BootstrapPagination::Rails %>

<style>
.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
</style>
<script>
	$('.radioBtn a').on('click', function(){
		var sel = $(this).data('title');
		var tog = $(this).data('toggle');	 
		var id = $(this).data('id')   
		var kind = $(this).data('kind') 		
		if(sel.toString()!=$('#'+tog).val() )
		{
		    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
		    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
			$.ajax({
				type : 'GET',
				url : '/management/setCertification',
				data : { id: id, val: sel, kind: kind },
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						toastr['success'](data.message)		
						$('#'+tog).val(sel.toString()) 								
					} else {
						toastr['warning'](data.message)
					}
				}
			});	
		}	
	})
	$( ".sweet_degree" ).change(function() {
	  var id = $(this).data('id')  	  
	  $.ajax({
				type : 'GET',
				url : '/management/setSweetDegree',
				data : { id: id, val: $(this).val() },
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						toastr['success'](data.message)		
					} else {
						toastr['warning'](data.message)
					}
				}
			});		    
	});	
</script>