<%= form_for(@company, html: {class: "form-horizontal", role: "form"}) do |f| %>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">農場名稱</label>
		<div class="col-sm-6">
			<%= f.text_field :name, placeholder: '農場名稱', class: "form-control" %>
		</div>	
	</div>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">農場介紹</label>
		<div class="col-sm-6">
			<%= f.text_area :description, placeholder: '農場介紹', class: "form-control", rows: '5' %>
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">農夫的話</label>
		<div class="col-sm-6">
			<%= f.text_area :words, placeholder: '農夫的話', class: "form-control" %>
		</div>
	</div>		
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">聯絡電話</label>
		<div class="col-sm-6">
			<%= hidden_field_tag :phone_no_full%>				
			<%= f.text_field :phone_no, class: "form-control" %>
			<span id="valid-msg" class="hide">✓</span>
			<span id="error-msg" class="hide">格式錯誤</span>			
		</div>					
	</div>						
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">聯絡地址</label>
		<div class="form-inline col-sm-6">
			<span id="twzipcode"></span>
			<%= f.text_field :address, class: "form-control" %>
		</div>
	</div>	  
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">農場封面</label>		
		<div class="col-sm-6">
    	<%= f.file_field :cover, class: "form-control",  accept: "image/*" %>
  		</div>
  	</div>  
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">農場照片</label>		
		<div class="col-sm-9">
		<input id="company_image" name="company_image[]" type="file" multiple class="file-loading form-control">
  		</div>
  	</div>     

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-10">
			<%= f.submit '儲存',  class: "btn btn-success add_button", style: 'margin-right: 5px;'  %>
			<%= link_to '預覽',  @company, class: "btn btn-default edit_button"  %>			
		</div>
	</div>	
<% end %>



<script>
$("#company_cover").fileinput({showCaption: false,
			   				   showRemove: false,
							   allowedFileTypes: ["image"],
							   previewFileType: "image",
							   browseClass: "btn btn-default edit_button",
							   browseLabel: " 選取照片",
							   browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
							   uploadClass: "btn btn-default edit_button",
							   uploadLabel: "上傳",
							   uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
						       uploadUrl: "/companies/<%=@company.id %>/companyCoverUpload", // server upload action
						       uploadAsync: true,
						       maxFileCount: 1,							   
							   initialPreview: [
							   		<%unless @company.cover.blank?%>
							   		'<%= image_tag @company.cover.url, class: 'file-preview-image' %>'
							   		<%end%>
							   ],
							   initialPreviewConfig: [
									<%unless @company.cover.blank?%>	
								    {
								        url: "/companies/<%=@company.id %>/companyCoverDelete", // server delete action 
								    }
							   		<%end%>	    
							   ],		        							   
							   overwriteInitial: true							 
							   });		
	
$("#company_image").fileinput({showCaption: false,    
			   				   showRemove: false,
							   allowedFileTypes: ["image"],
							   previewFileType: "image",
							   browseClass: "btn btn-default edit_button",
							   browseLabel: " 選取照片",
							   browseIcon: '<i class="glyphicon glyphicon-picture"></i>',						 				
						       uploadUrl: "/companies/<%=@company.id %>/companyImagesUpload", // server upload action
						       uploadAsync: true,
						       maxFileCount: 5,
							   initialPreview: [
									<% @company.company_images.each do |c_i|%>
									'<%= image_tag c_i.image.url, class: 'file-preview-image' %>',
									<%end%>
							   ],
							   initialPreviewConfig: [
									<% @company.company_images.each do |c_i|%>		
								    {
								        url: "/companies/<%=@company.id %>/companyImagesDelete", // server delete action 
								        key: <%=c_i.id %>
								    },
									<%end%>		    
							   ]		        
						       });
//================== twzipcode ==================//	
$('#twzipcode').twzipcode({
	zipcodeName: 'company[postal]',
    countyName: 'company[county]',
    districtName: 'company[district]',
    zipcodeIntoDistrict: true,
    css: ['form-control', 'form-control'], 
    <%unless @company.county.blank?%>
	countySel: '<%=@company.county%>',
	districtSel: '<%=@company.district%>'
	<%end%>    
});
//================== confirmation ==================//	
var telInput = $("#company_phone_no");
errorMsg = $("#error-msg"),
validMsg = $("#valid-msg");
// initialise plugin
telInput.intlTelInput({
	allowExtensions: true,
    //autoFormat: false,
    //autoHideDialCode: false,  
    defaultCountry: "auto",
    //ipinfoToken: "yolo",
    //nationalMode: false,
    //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    //preferredCountries: ['cn', 'jp'],  
    utilsScript: "<%=asset_path 'utils.js'%>"
});
// on blur: validate
telInput.blur(function() {
  if ($.trim(telInput.val())) {
    if (telInput.intlTelInput("isValidNumber")  ) {
      validMsg.removeClass("hide");
    } else {
      telInput.addClass("error");
      errorMsg.removeClass("hide");
      validMsg.addClass("hide");
    }
  }
});
// on keydown: reset
telInput.keydown(function() {
  telInput.removeClass("error");
  errorMsg.addClass("hide");
  validMsg.addClass("hide");
});
$("form").submit(function() {
  $("#phone_no_full").val($("#company_phone_no").intlTelInput("getNumber"));
});
//================== error ==================//	
<% @company.errors.messages.each do |index, value| %>
	<%unless value.blank? %>
		toastr['error']('<%=value.first%>')		
	<%end%>	
<% end %>
</script>