<div class="container-fluid main_frontend">	
	<ol class="breadcrumb hidden-xs">
	  <li><%= link_to '首頁', root_url %></li>
	  <li><%= link_to '合作農場', controller: 'main', action: 'farms'%></li>
	  <li class="active">
	  	<a href="#">
	  	<%unless @company.county.blank?%>
	  		<%= image_tag Hash[countyImageOptions].rassoc(@company.county).first %> 
	  	<%else%>
	  		<%= image_tag Hash[countyImageOptions].rassoc('南海諸島').first%> 	  		
	  	<%end%> 	
	  	<%= @company.name %>	  	
	  	</a>
	  </li>		
	</ol>		
	<div class="row" style="margin-bottom: 20px">
		<h2 class="visible-xs-block text-center"><%=@company.name %></h2>
	</div>	
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">	
			<div class="row">		
				<div class="hidden-xs col-md-12 col-lg-offset-1 col-lg-10 product_farm_words">		
					<%= image_tag @company.user.avatar.url, class: 'img-circle product_farm_words_avatar' %>		
					<%= link_to @company do%>
						<div class="product_farm_words_text">	
							<%= truncate( @company.words, length: 120, omission: '... more') %>
						</div>
					<%end%>
				</div>				
				<div class="visible-xs-block col-xs-12 product_farm_words">		
					<div class="row">
						<div class="col-xs-12 text-center">					
							<%= image_tag @company.user.avatar.url, class: 'img-circle product_farm_words_avatar', style: '' %>		
						</div>
						<%= link_to @company do%>				
							<div class="col-xs-12 product_farm_words_text">	
							<%= truncate( @company.description, length: 120, omission: '... more') %>
							</div>
						<%end%>				
					</div>
				</div>	
			</div>
		</div>							
	</div>					
	<div class="row" style="margin-top: 50px;">
		<div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-4 vbottom">		
			<div class="farm_triangle">
				<div class="farm_triangle_text"><%=@company.name %></div>
			</div>		
			<%= simple_format(@company.description, {class: 'farm_description'}, wrapper_tag: "div")%>			
		</div>			
		<div class="col-xs-12 col-md-offset-2 col-md-5 col-lg-offset-1 vbottom">
			<%=render 'company_images' %>
		</div>
	</div>
	<div class="row" style="margin-top: 30px;">
		<div id="parallax1" class="farm_cover_parallax_parent">
			<div style="background-image: url('<%=@company.cover.url%>'); background-size: cover; background-position: center center;"></div>
		</div>	
	</div>	
	<%@company.products.where(available_c: true, deleted_c: false).each_slice(4) do |p|%> 
		<div class="row" style="padding-top: 70px;">
			<% p.each_with_index do |pp, index|%>
				<div class="col-sm-6 col-lg-3 product_index_container text-center">					
				<%= link_to pp do%>
					<div class="product_index_image_container" style="background-image: url('<%=pp.cover.url%>')">		
						<div class="product_index_delicious_container">
							<!--<span class="product_index_delicious_sum" data-count="<%= pp.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_DELICIOUS']).count + pp.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_TASTY']).count %>">0</span>人說好吃-->
							<span class="product_index_delicious_sum" data-count="<%= Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ?', pp.product_boxings.first.id, true ).sum(:quantity) %>">0</span> 箱已賣出										
						</div>					
					</div>
					<div class="product_index_company_name"><%= pp.company.name%></div>				
					<div class="product_index_name"><%if pp.released_at > Time.zone.now %>[預購]<%end%><%= pp.name%><%= "%g" % pp.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(pp.unit).first %></div>
					<div class="product_index_fruits_icons">
						<%if pp.GAP_c%><%=image_tag 'gap.png', class: '', style: 'height: 45px; width: 45px;'  %><%end%>		      
						<%if pp.TAP_c%><%=image_tag 'tap.png', class: '', style: 'height: 40px; width: 40px;'  %><%end%>		      		      
						<%if pp.OTAP_c%><%=image_tag 'otap.png', class: '', style: 'height: 40px; width: 40px;'  %><%end%>		      		      
						<%if pp.UTAP_c%><%=image_tag 'utap.png', class: '', style: 'height: 40px; width: 40px;'  %><%end%>				    	
						<%if pp.pesticide_qualified_c%><%=image_tag 'pesticide_qualified.png', class: '', style: 'height: 45px; width: 45px;'  %><%end%>	
						<%if pp.pesticide_zero_c%><%=image_tag 'pesticide_zero.png', class: '', style: 'height: 45px; width: 45px;'  %><%end%>						
						<%unless pp.sweet_degree.blank?%><%=image_tag 'sweet_degree/'+pp.sweet_degree.to_s+'.png', class: '', style: 'height: 35px; width: 55px;' %><%end%>				    
				    </div>					 			
				<%end%>		 				
				</div>	
			<%end%>
		</div>		
	<%end%>	
</div>
<script>
$(document).ready(function($) {
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter", duration: "200%"}});
	// build scenes
	/*
	new ScrollMagic.Scene({triggerElement: "#parallax1"})
		.setTween("#parallax1 > div", {y: "-50%", ease: Linear.easeNone})
		.addTo(controller);		
	*/	

	function move (what, progress) {
	    var to = progress * 50;
	    TweenMax.to(what, 0.3, {y: '-'+to + "%", overwrite: 5, force3D: true});
	}
	// build scenes
	new ScrollMagic.Scene({triggerElement: "#parallax1"})
                .on("progress", function (e) {
                    move ("#parallax1 > div", e.progress);
                })
                .addTo(controller);		

	new ScrollMagic.Scene({triggerElement: ".product_index_delicious_sum"})
		.addTo(controller)
		.on('start', function(e){
			$('.product_index_delicious_sum').each(function () {
			  var $this = $(this);
			  jQuery({ Counter: 0 }).animate({ Counter: $this.attr("data-count") }, {
			    duration: 1000,
			    easing: 'swing',
			    step: function () {
			      $this.text(Math.ceil(this.Counter));
			    },
			  	complete: function() {
			  		$this.html($this.attr("data-count"));
			  	}	
			  });
			});					
		});																																																										
});	

</script>