<div class="container-fluid main_frontend">	
	<ol class="breadcrumb hidden-xs">
	  <li><%= link_to '首頁', root_url %></li>
	  <li><a href="#">合作農場</a></li>
	  <li class="active">
	  	<a href="#">
	  	<%unless @company.county.blank?%>
	  		<%= image_tag Hash[countyImageOptions].rassoc(@company.county).first %> 
	  	<%else%>
	  		<%= image_tag Hash[countyImageOptions].rassoc('南海諸島').first%> 	  		
	  	<%end%> 	
	  	<%= @company.name %>	  	
	  	</a>
	  </li>		
	</ol>		
	<div class="row" style="margin-bottom: 20px">
		<h2 class="visible-xs-block text-center"><%=@company.name %></h2>
	</div>				
	<div class="row">
		<div class="col-md-offset-1 col-md-4 vbottom">		
			<div class="farm_triangle">
				<div class="farm_triangle_text"><%=@company.name %></div>
			</div>		
			<%= simple_format(@company.description, {class: 'farm_description'}, wrapper_tag: "div")%>			
		</div>
		<div class="col-md-2 hidden-sm hidden-xs vbottom text-center">
			<%= image_tag @company.user.avatar.url, class: 'img-circle farm_user_img' %>
		</div>				
		<div class="col-md-4 vbottom">
			<div id="carousel-example-generic" class="farm_carousel carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" style="margin: 10px auto; ">
			  <ol class="farm_carousel-indicators carousel-indicators">
				<%@company.company_images.each_with_index do |c, i|%> 
					<%if i==0%>
			    	<li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="active"></li>
				    <%else%>
			    	<li data-target="#carousel-example-generic" data-slide-to="<%=i%>"></li>    
				    <%end%>
				<%end%>  		 	     
			  </ol>
			  <div class="farm_carousel-inner carousel-inner" role="listbox">
				<%@company.company_images.each_with_index do |c, i|%>
					<%if i==0%>
					    <div class="farm_item item active">
					      <%=image_tag c.image.url(:medium), class: '' %>
					    </div>
				    <%else%>
					    <div class="farm_item item">
					      <%=image_tag c.image.url(:medium), class: '' %>
					    </div>	    
				    <%end%>
				<%end%>  	   
			  </div>
			  <a class="left farm_carousel-control carousel-control hidden-xs" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-menu-left icon-prev" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right farm_carousel-control carousel-control hidden-xs" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-menu-right icon-next" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>	
			<div  class="farm_words" >
			<span class="farm_words_quote">“</span>
			<%= simple_format(@company.words, {class: 'farm_words_content'}, wrapper_tag: "span")%>				
			<span class="farm_words_quote">”</span>
			</div>
			<div class="farm_words_name">-- <%=@company.user.last_name+' '+@company.user.first_name  %></div>
		</div>
	</div>
	<div class="row" style="margin-top: 30px;">
		<div id="parallax1" class="farm_cover_parallax_parent">
			<div style="background-image: url('<%=@company.cover.url%>'); background-size: cover;"></div>
		</div>	
	</div>	
	<%@company.products.where(available_c: true).each_slice(4) do |p|%> 
	<div class="row">
		<% p.each_with_index do |pp, index|%>
			<%if index == 0 %>
				<div class="col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2 col-sm-offset-1 col-sm-2 farm_fruits">
			<%else%>
				<div class="col-sm-offset-1 col-sm-2 farm_fruits">			
			<%end%>				
			<%= link_to pp do%>
					<%= image_tag pp.product_images.first.image.url, class: 'img-circle farm_fruits_img' %>			
					<div class="farm_fruits_name">
					<%= pp.name%>
					</div>	  
					<div class="farm_fruits_price">
					<%= pp.product_boxings.first.product_pricings.first.price.to_i+GLOBAL_VAR['SHIPPING_RATES'] %>元(含運) <%= "%g" % pp.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(pp.unit).first %>/箱
				    </div>
				    <div class="farm_fruits_reviews">
						<span class="farm_fruits_excellent">3764 </span><span class="farm_fruits_excellent_text">人說非吃不可</span>
				    </div>	
			<%end%>		 				
				</div>	
		<%end%>	
	</div>		
	<%end%>	
</div>
<script>
$(document).ready(function($) {
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter", duration: "200%"}});
	// build scenes
	/*
	new ScrollMagic.Scene({triggerElement: "#parallax1"})
		.setTween("#parallax1 > div", {y: "-50%", ease: Linear.easeNone})
		.addTo(controller);		
	*/	

	function move (what, progress) {
	    var to = progress * 50;
	    TweenMax.to(what, 0.3, {y: '-'+to + "%", overwrite: 5, force3D: true});
	}
	// build scenes
	new ScrollMagic.Scene({triggerElement: "#parallax1"})
                .on("progress", function (e) {
                    move ("#parallax1 > div", e.progress);
                })
                .addTo(controller);		

	new ScrollMagic.Scene({triggerElement: ".farm_fruits_reviews"})
		.addTo(controller)
		.on('start', function(e){
			$('.farm_fruits_excellent').each(function () {
			  var $this = $(this);
			  jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
			    duration: 1000,
			    easing: 'swing',
			    step: function () {
			      $this.text(Math.ceil(this.Counter));
			    }
			  });
			});					
		});																																																										
});	

</script>