<p id="notice"><%= notice %></p>

<p>
  <strong>Cover:</strong>
  <%= @company.cover %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user %>
</p>