<% content_for :title do %>
    <title><%= @company.name %> | 小農1號線上水果平台</title>  
<% end %>
<div class="container-fluid main_frontend">	
	<ol class="breadcrumb hidden-xs">
	  <li><%= link_to '首頁', root_url %></li>
	  <li><%= link_to '各地小農', controller: 'main', action: 'farms'%></li>
	  <li class="active">
	  	<a href="#">
	  	<%unless @company.county.blank?%>
	  		<%= image_tag Hash[countyImageOptions].rassoc(@company.county).first %> 
	  	<%else%>
	  		<%= image_tag Hash[countyImageOptions].rassoc('南海諸島').first%> 	  		
	  	<%end%> 	
	  	<%= @company.name %>	  	
	  	</a>
	  </li>		
	</ol>		
	<div class="row" style="margin-bottom: 20px">
		<h2 class="visible-xs-block text-center"><%=@company.name %></h2>
	</div>	
	<div class="row">
		<div class="hidden-xs col-sm-12 col-lg-offset-1 col-lg-10">	
			<div class="product_farm_words"> 
			<%= image_tag @company.user.avatar.url, class: 'img-circle product_farm_words_avatar' %>		
			<%= link_to @company do%>
				<div class="product_farm_words_text">	
					<%= truncate( @company.words, length: 120, omission: '... more') %>
				</div>
			<%end%>
			</div>
		</div>			
		<div class="hidden-sm hidden-md hidden-lg col-xs-12 product_farm_words text-center">		
			<div>
				<%= image_tag @company.user.avatar.url, class: 'img-circle product_farm_words_avatar', style: '',  itemprop: "image" %>		
				<%= link_to @company do%>				
					<div class="col-xs-12 product_farm_words_text">	
						<%= truncate( @company.description, length: 120, omission: '... more') %>
					</div>
				<%end%>				
			</div>
		</div>							
	</div>					
	<div class="row" style="margin-top: 50px;">
		<div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-4 vbottom">		
			<div class="farm_triangle">
				<div class="farm_triangle_text"><%= truncate( @company.name, length: 12, omission: '...') %></div>
			</div>		
			<div class="farm_description">
			<%= @company.description.gsub("\n", "<br />").html_safe%>			
			</div>
		</div>			
		<div class="col-xs-12 col-md-offset-2 col-md-5 col-lg-offset-1 vbottom">
			<%=render 'company_images' %>
		</div>
	</div>
	<div class="row" style="margin-top: 30px; margin-bottom: 70px;">
		<div id="parallax1" class="farm_cover_parallax_parent">
			<div style="background-image: url('<%=@company.cover.url%>'); background-size: cover; background-position: center center;"></div>
		</div>	
	</div>	
	<% @company.products.where(available_c: true, deleted_c: false).each_slice(4) do |p|%> 
		<div class="row">
			<% p.each_with_index do |pp, index|%>
				<%= render partial: "/main/product", locals: { product: pp, index: index, slice: 4 } %>
			<%end%>	
		</div>			
	<%end%>		
</div>
<script>
$(document).ready(function($) {
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter", duration: "200%"}});
	// build scenes
	/*
	new ScrollMagic.Scene({triggerElement: "#parallax1"})
		.setTween("#parallax1 > div", {y: "-50%", ease: Linear.easeNone})
		.addTo(controller);		
	*/	

	function move (what, progress) {
	    var to = progress * 50;
	    TweenMax.to(what, 0.3, {y: '-'+to + "%", overwrite: 5, force3D: true});
	}
	// build scenes
	new ScrollMagic.Scene({triggerElement: "#parallax1"})
                .on("progress", function (e) {
                    move ("#parallax1 > div", e.progress);
                })
                .addTo(controller);		

	new ScrollMagic.Scene({triggerElement: ".product_index_delicious_sum"})
		.addTo(controller)
		.on('start', function(e){
			$('.product_index_delicious_sum').each(function () {
			  var $this = $(this);
			  jQuery({ Counter: 0 }).animate({ Counter: $this.attr("data-count") }, {
			    duration: 1000,
			    easing: 'swing',
			    step: function () {
			      $this.text(Math.ceil(this.Counter));
			    },
			  	complete: function() {
			  		$this.html($this.attr("data-count"));
			  	}	
			  });
			});					
		});																																																										
});	

</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "<%=Rails.configuration.smallfarmer01_host%>/main/farms",
      "name": "各地小農"
    }
  }]
}
</script>