<div class="container-fluid main_frontend">	
	<ol class="breadcrumb">
	  <li><a href="#">首頁</a></li>
	  <li><a href="#">合作農場</a></li>
	  <!--<li><%= image_tag Hash[countyImageOptions].rassoc(@company.county).first, height: '70' %> <%= @company.county %><%= @company.district %></li>-->
	  <li class="active"><a href="#"><%= image_tag Hash[countyImageOptions].rassoc(@company.county).first, height: '70' %><!-- <%= @company.district %>--> <%= @company.name %></a></li>	
	</ol>	
	<div class="row">
		<div class="col-sm-offset-1 col-sm-4 vbottom">		
			<div class="farm_triangle">
				<div class="farm_triangle_text"><%=@company.name %></div>
			</div>		
			<%= simple_format(@company.description, {class: 'farm_description'}, wrapper_tag: "div")%>			
		</div>
		<div class="col-sm-2 vbottom text-center">
			<%= image_tag @company.user.avatar.url, class: 'img-circle', style: 'height: 145px; width: 150px;' %>
		</div>				
		<div class="col-sm-4 vbottom">
			<div id="carousel-example-generic" class="farm_carousel carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" style="margin: 10px auto; ">
			  <ol class="farm_carousel-indicators carousel-indicators">
				<%@company.company_images.each_with_index do |c, i|%> 
					<%if i==0%>
			    	<li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="active"></li>
				    <%else%>
			    	<li data-target="#carousel-example-generic" data-slide-to="<%=i%>"></li>    
				    <%end%>
				<%end%>  		 	     
			  </ol>
			  <div class="carousel-inner" role="listbox">
				<%@company.company_images.each_with_index do |c, i|%>
					<%if i==0%>
					    <div class="farm_item item active">
					      <div class="farm_carousel_img">	
					      <%=image_tag c.image.url(:medium), class: '' %>
					      </div>
					    </div>
				    <%else%>
					    <div class="farm_item item">
					      <div class="farm_carousel_img">	
					      <%=image_tag c.image.url(:medium), class: '' %>
					      </div>
					    </div>	    
				    <%end%>
				<%end%>  	   
			  </div>
			  <a class="left farm_carousel-control carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-menu-left icon-prev" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right farm_carousel-control carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-menu-right icon-next" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>	
			<div  class="farm_words" >
			<span class="farm_words_quote">“</span>
			<span class="farm_words_content">
            在現今食安問題連環爆，造成人心煌煌的時代，我想要建立消費者一個正確觀念，安全優質農產品必須付出合理的價格才能得到。			
			</span>
			<span class="farm_words_quote">”</span>
			</div>
			<div class="farm_words_name">-- <%=@company.user.last_name+' '+@company.user.first_name  %></div>
		</div>
	</div>
<!--	
	<div class="row">
		<%= image_tag @company.cover.url, class: 'farm_cover' %>
	</div>
-->	
	<div class="row" style="margin-top: 30px;">
		<div id="parallax1" class="farm_cover_parallax_parent">
			<div style="background-image: url('<%=@company.cover.url%>');"></div>
		</div>	
	</div>	
	<div class="row">
		<div class="col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2  farm_fruits">
			<%= image_tag 'fruits1.jpg', class: 'img-circle', size: '150x150' %>			
		    <div class="farm_fruits_name">
		    	超好吃玉女蕃茄
		    </div>	  
		    <div class="farm_fruits_price">
		    	1箱(10斤) 400元(含運)
		    </div>	
		    <div class="farm_fruits_reviews">
		    	<span class="farm_fruits_excellent">3764 </span><span class="farm_fruits_excellent_text">人說非吃不可</span>
		    </div>			 				
		</div>		
		<div class="col-lg-2 col-md-2 farm_fruits">
			<%= image_tag 'fruits2.jpg', class: 'img-circle', size: '150x150' %>			
		    <div class="farm_fruits_name">
		    	超好吃玉女蕃茄
		    </div>	  
		    <div class="farm_fruits_price">
		    	1箱(10斤) 400元(含運)
		    </div>	
		    <div class="farm_fruits_reviews">
		    	<span class="farm_fruits_excellent">364 </span><span class="farm_fruits_excellent_text">人說非吃不可</span>
		    </div>			
		</div>
		<div class="col-lg-2 col-md-2 farm_fruits">
			<%= image_tag 'fruits3.jpg', class: 'img-circle', size: '150x150' %>			
		    <div class="farm_fruits_name">
		    	超好吃玉女蕃茄
		    </div>	  
		    <div class="farm_fruits_price">
		    	1箱(10斤) 400元(含運)
		    </div>	
		    <div class="farm_fruits_reviews">
		    	<span class="farm_fruits_excellent">3764 </span><span class="farm_fruits_excellent_text">人說非吃不可</span>
		    </div>				
		</div>				
		<div class="col-lg-2 col-md-2 farm_fruits">
			<%= image_tag 'fruits4.jpg', class: 'img-circle', size: '150x150' %>			
		    <div class="farm_fruits_name">
		    	超好吃玉女蕃茄
		    </div>	  
		    <div class="farm_fruits_price">
		    	1箱(10斤) 400元(含運)
		    </div>	
		    <div class="farm_fruits_reviews">
		    	<span class="farm_fruits_excellent">12374 </span><span class="farm_fruits_excellent_text">人說非吃不可</span>
		    </div>				
		</div>		
	</div>
</div>
<!--
	<%@company.products.each_slice(2) do |a|%> 
	<% a.each do |aa|%>
	<%=aa.id%>
	<%end%>	
	<%end%>
-->	
<script>
$(document).ready(function($) {
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter", duration: "200%"}});
	// build scenes
	/*
	new ScrollMagic.Scene({triggerElement: "#parallax1"})
		.setTween("#parallax1 > div", {y: "-50%", ease: Linear.easeNone})
		.addTo(controller);		
	*/	

	function move (what, progress) {
	    var to = progress * 50;
	    TweenMax.to(what, 0.3, {y: '-'+to + "%", overwrite: 5, force3D: true});
	}
	// build scenes
	new ScrollMagic.Scene({triggerElement: "#parallax1"})
                .on("progress", function (e) {
                    move ("#parallax1 > div", e.progress);
                })
                .addTo(controller);		

	new ScrollMagic.Scene({triggerElement: ".farm_fruits_reviews"})
		.addTo(controller)
		.on('start', function(e){
			$('.farm_fruits_excellent').each(function () {
			  var $this = $(this);
			  jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
			    duration: 1200,
			    easing: 'swing',
			    step: function () {
			      $this.text(Math.ceil(this.Counter));
			    }
			  });
			});					
		});																																																										
});	

</script>