<div class="content" style="color: #3e3a39"> 
<p>親愛的 <%=@invoice.user.last_name%> <%=@invoice.user.first_name%>，您好！</p>	
<p>您的支持與鼓勵將帶給農夫更多的信心，也是農夫進步的動力！</p>
<p>立即評價訂單編號：<%=@invoice.id%>，獲得<%= ((@invoice.amount-@discount)*GLOBAL_VAR['COUPON_FEE']).round.to_s%>元回饋金</p>
<div style="text-align:left; font-size: 15px; margin-top: 10px; margin-bottom: 10px;">
	<%=link_to '馬上評價', Rails.configuration.smallfarmer01_host+'/notifications?category=3', style: 'padding: 7px 9px; color: #ffffff; background: #DE562C; box-shadow: 3px 3px rgb(209, 209, 200); text-decoration: none;'%>
</div>
<p>小農1號上的消費回饋金沒有期限，可以無限期累積喔！</p>
</div>
<div style="text-align: right;">-- 小農1號團隊</div>	