<%= form_for(@product, html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">名稱</label>
		<div class="col-sm-10 col-md-6">
			<%= f.text_field :name, placeholder: '名稱', class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">介紹</label>
		<div class="col-sm-10 col-md-6">
			<%= f.text_area :description, placeholder: '介紹', class: "form-control", rows: '5' %>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">保存方式</label>
		<div class="col-sm-10 col-md-6">
			<%= f.text_area :preservation, placeholder: '保存方式', class: "form-control" %>
		</div>
	</div>		
	<%= f.fields_for :product_boxings do |g| %>		 
		<div class="form-group">
			<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">每箱</label>				
			<div class="col-sm-2 col-md-2">
				<%= g.text_field :quantity, placeholder: '數量', class: "form-control" %>				
			</div>
			<div class="col-sm-5 col-md-2">
				<%= f.select :unit, options_for_select(unitOptions, @product.unit), {prompt: '請選擇單位'}, class: "form-control" %>		
			</div>						
		</div>	
		<div class="form-group">
			<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">總庫存量</label>
			<div class="col-sm-5 col-md-2">
				<%= f.number_field :inventory, placeholder: '總庫存量', class: "form-control" %>
			</div>
			<div class="col-sm-5 col-md-2">
				<label class="control-label">箱</label>	
			</div>			
		</div>			
		<div class="form-group">
			<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">每日可出貨量</label>
			<div class="col-sm-5 col-md-2">
				<%= f.number_field :daily_capacity, placeholder: '每日可出貨量', class: "form-control" %>
			</div>
			<div class="col-sm-5 col-md-2">
				<label class="control-label">箱</label>	
			</div>			
		</div>						
	<%= g.fields_for :product_pricings do |h| %>	
		<%if h.object.quantity == 1%>
		<div class="form-group">
			<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">賣</label>							
			<div class="col-sm-2 col-md-2">
			<%= h.hidden_field :quantity, class: "form-control" %>				
			<%= h.number_field :price, class: "form-control" %>	
			</div>				
			<div class="col-sm-2 col-md-2">		
				<label class="control-label">元(不含運)</label>				
			</div>						
		</div>	
		<%else%>
		<div class="form-group">
			<div class="col-sm-offset-2 col-md-offset-3 col-md-2 col-sm-2">
				<%= h.number_field :quantity, class: "form-control" %>
			</div>	
			<div class="col-sm-2 col-md-2">		
				<label class="control-label">箱以上(含)</label>				
			</div>	
			<div class="col-sm-2 col-md-1">		
				<label class="control-label">一箱賣</label>				
			</div>				
			<div class="col-sm-2 col-md-2">
				<%= h.number_field :price, class: "form-control" %>
			</div>		
			<div class="col-sm-2 col-md-2">		
				<label class="control-label">元(不含運)</label>				
			</div>					
		</div>			
		<%end%>	
	<%end%>	 	
<%end%>		
		<div class="form-group">
			<label class="col-sm-offset-0 col-sm-2 col-md-offset-1 control-label">照片<br>(最多5張)</label>		
			<div class="col-sm-9">
			<input id="product_image" name="product_image[]" type="file" multiple class="file-loading">
	  		</div>
	  	</div> 
		<div class="form-group">
			<div class="col-sm-offset-2 col-md-offset-3 col-md-10">
				<%= f.submit '儲存',  class: "btn btn-success add_button", style: 'margin-right: 5px;'  %>
				<!--<%= f.submit '預覽', formaction: "/products/preview/"+@product.id.to_s, class: "btn btn-default edit_button"%>-->							        
			</div>
		</div>
<% end %>

<script>
<% @product.errors.messages.each do |index, value| %>
	<%unless value.blank? %>
		<%if index.to_s != 'product_boxings' and index.to_s != 'product_pricings' and 
			 index.to_s != 'product_boxings.quantity' and index.to_s != 'product_boxings.price' and
			 index.to_s != 'product_boxings.product_pricings' and index.to_s != 'product_boxings.product_pricings.price' and 
			 index.to_s != 'product_pricings.price' %>
			toastr['error']('<%=value.first%>')	
		<%end%>
	<%end%>	
<% end %>

var $input = $("#product_image");
    $input.fileinput({
		showCaption: false,    
		showRemove: false,	
		allowedFileTypes: ["image"],
		previewFileType: "image",
		browseClass: "btn btn-default edit_button",
		browseLabel: " 選取照片",
		browseIcon: '<i class="glyphicon glyphicon-plus"></i>',
		uploadClass: "btn btn-default edit_button",
		uploadLabel: " 上傳",
		uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',      
        uploadUrl: "/products/<%=@product.id %>/productImagesUpload", // server upload action
        uploadAsync: true,
        maxFileCount: 5,
		initialPreview: [
			<% @product.product_images.each do |p_i|%>
			'<%= image_tag p_i.image.url, class: 'file-preview-image' %>',
			<%end%>
		],
		initialPreviewConfig: [
			<% @product.product_images.each do |p_i|%>		
		    {
		        url: "/products/<%=@product.id %>/productImagesDelete", // server delete action 
		        key: <%=p_i.id %>
		    },
			<%end%>		    
		]		        
    });
</script>