<%= form_for(@product, html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
	<div class="form-group">
		<div class="col-sm-offset-0 col-lg-offset-2 col-sm-12 col-lg-8">
			<h3 class="page-header text-muted" style="margin-top: 0px;">商品資料</h3>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">名稱</label>
		<div class="col-sm-10 col-lg-7">
			<%= f.text_field :name, placeholder: '限制12字內，勿含包裝斤數', class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">關鍵字</label>
		<div class="col-sm-10 col-lg-7">
			<%= text_field_tag :keywords, @keywords, "data-role" => "tagsinput", placeholder: '  例: #番茄 #小番茄 #玉女蕃茄'%>				
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">介紹</label>
		<div class="col-sm-10 col-lg-7">
			<%= f.text_area :description, placeholder: '描述您的商品', class: "form-control", rows: '5' %>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">保存方式<br>賞味提醒</label>
		<div class="col-sm-10 col-lg-7">
			<%= f.text_area :preservation, placeholder: '商品如何保存，食用方式和時機', class: "form-control" %>
		</div>
	</div>			
	<div class="form-group">
		<div class="col-sm-offset-0 col-lg-offset-2 col-sm-12 col-lg-8">
			<h3 class="page-header text-muted">包裝價格</h3>
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">單位</label>
		<div class="col-sm-10 col-lg-7">
			<%= f.select :unit, options_for_select(unitOptions, @product.unit), {prompt: '請選擇單位'}, onchange: 'changeUnit()', class: "form-control" %>	
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">運送方式</label>
		<div class="col-sm-10 col-lg-7">
			<%=f.select :cold_chain, options_for_select(tempOptions, @product.cold_chain), {prompt: '請選擇運送方式'}, onchange: 'finalPrice()', class: "form-control" %>
		</div>
	</div>				  			







<div class="form-group" style="margin-bottom: 0px;">
	<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">包裝種類</label>
	<div class="col-sm-10 col-lg-7">
		<ul id="product_boxing_tab" class="nav nav-tabs" style="">
		  <li id="add_li"><a id="add_product_boxing" href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
		</ul>
	</div>
</div>	
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10 col-lg-offset-3 col-lg-7">
		<div id="product_boxing_content" class="tab-content" style="border: 1px solid #DDD; padding-top: 15px; border-top: none;">
		</div>
 	</div>
</div>

<script>
size_options = <%= Hash[boxSizeOptions].to_json.html_safe%>
$('#product_boxing_tab').on('click', 'a', function(e) {
  e.preventDefault()
  if( $(this).attr('id') == 'add_product_boxing' ) 
  	addProductBoxing()
  else
  	$(this).tab('show')
})


<% @product.product_boxings.each do |p_b|%>
	addProductBoxing(<%=p_b.id%>, <%=p_b.quantity || 'null'%>, <%=p_b.size || 'null'%>, <%=p_b.product_pricings.first.price || 'null'%>, <%=p_b.product_pricings.second.quantity || 'null' %>, <%=p_b.product_pricings.second.price || 'null'%>)			
<% end %>

function addProductBoxing(id, quantity, size, price, bargain_quantity, bargain_price){
	//li
	var $li = $("<li>", {id: "product_boxing_li_"+id});	
	var $a = $("<a>", {'href': "#product_boxing_"+id}); 
	var $span_quantity = $("<span>", {'id': "product_boxing_li_quantity_"+id}); 
	var $span_unit = $("<span>", {'class': "product_boxing_unit"}); 
	$span_quantity.html(quantity)
	$span_unit.html($('#product_unit option:selected').text())
	$a.append($span_quantity); 
	$a.append($span_unit); 
	$li.append($a);
	$( "#add_li" ).before($li);		
	//content
	var $main_div = $("<div>", {id: "product_boxing_"+id, class: "tab-pane fade"});
	//quantity
	var $form_group = $("<div>", {class: "form-group"});
	var $label_1 = $("<label>", {class: "col-sm-offset-0 col-sm-2 col-xs-12 control-label vmiddle"});
	$label_1.html('內含')
	var $col_1 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var $input = $("<input>", {class: "form-control", id: "product_product_boxings_attributes_"+id+"_quantity", name: "product[product_boxings_attributes]["+id+"][quantity]", placeholder: "數量", type: 'text', value: quantity, onchange: 'changeQuantity('+id+')'});
	var $col_2 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var $label_2 = $("<label>", {class: "control-label product_boxing_unit"});
	$label_2.html($('#product_unit option:selected').text())	
	$form_group.append($label_1);
	$form_group.append('<!---->');
	$col_1.append($input);
	$form_group.append($col_1);	
	$form_group.append('<!---->');	
	$col_2.append($label_2);	
	$form_group.append($col_2);		
	$main_div.append($form_group);	
	//size
	var $form_group = $("<div>", {class: "form-group"});
	var $label_1 = $("<label>", {class: "col-sm-offset-0 col-sm-2 col-xs-12 control-label vmiddle"});
	$label_1.html('箱子尺寸')	
	var $col_1 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var $select = $("<select>", {class: "form-control", id: "product_product_boxings_attributes_"+id+"_size", name: "product[product_boxings_attributes]["+id+"][size]", onchange: "finalPrice()"});
	var $option	
	$.each( size_options, function( key, value ) {
		$option = $("<option>", {value: value});
		$option.html(key)
  		$select.append($option)
	});
	$select.val(size) 
	var $col_2 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var image = $("<img>", {class: "img-responsive", src: '<%=asset_path 'box_size.png'%>'});
	$form_group.append($label_1);
	$form_group.append('<!---->');
	$col_1.append($select);
	$form_group.append($col_1);	
	$form_group.append('<!---->');	
	$col_2.append(image);	
	$form_group.append($col_2);		
	$main_div.append($form_group);	
	//price
	var $form_group = $("<div>", {class: "form-group"});
	var $label_1 = $("<label>", {class: "col-sm-offset-0 col-sm-2 col-xs-12 control-label vmiddle"});
	$label_1.html('每箱賣')
	var $col_1 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var $input = $("<input>", {class: "form-control", id: "product_product_boxings_attributes_"+id+"_product_pricings_attributes_0_price", name: "product[product_boxings_attributes]["+id+"][product_pricings_attributes][0][price]", value: price, onchange: "finalPrice()", type:"number"});
	var $col_2 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var $label_2 = $("<label>", {class: "control-label"});
	$label_2.append('元 + 運費 <span class="shipping_fee_'+id+'"></span>元 = <span class="final_price'+id+'"></span>元')	
	$form_group.append($label_1);
	$form_group.append('<!---->');
	$col_1.append($input);
	$form_group.append($col_1);	
	$form_group.append('<!---->');	
	$col_2.append($label_2);	
	$form_group.append($col_2);		
	$main_div.append($form_group);		
	//line
	var $form_group = $("<div>", {class: "form-group hidden-xs"});
	var $col_1 = $("<div>", {class: "col-sm-offset-2 col-sm-8 vmiddle"});
	$col_1.append('<h3 class="page-header text-muted"></h3>') 
	$form_group.append($col_1);	
	$main_div.append($form_group);	
		
	//bargain quantity
	var $form_group = $("<div>", {class: "form-group text-danger"});
	var $label_1 = $("<label>", {class: "col-sm-offset-0 col-sm-2 col-xs-12 control-label vmiddle"});
	$label_1.html('促銷')
	var $col_1 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var $input = $("<input>", {class: "form-control", id: "product_product_boxings_attributes_"+id+"_product_pricings_attributes_1_quantity", name: "product[product_boxings_attributes]["+id+"][product_pricings_attributes][1][quantity]", onchange: "finalPrice()", type: 'number', value: bargain_quantity});
	var $col_2 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var $label_2 = $("<label>", {class: "control-label"});
	$label_2.html('箱以上(含)')	
	$form_group.append($label_1);
	$form_group.append('<!---->');
	$col_1.append($input);
	$form_group.append($col_1);	
	$form_group.append('<!---->');	
	$col_2.append($label_2);	
	$form_group.append($col_2);		
	$main_div.append($form_group);		
	//bargain price
	var $form_group = $("<div>", {class: "form-group text-danger"});
	var $label_1 = $("<label>", {class: "col-sm-offset-0 col-sm-2 col-xs-12 control-label vmiddle"});
	$label_1.html('每箱賣')
	var $col_1 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var $input = $("<input>", {class: "form-control", id: "product_product_boxings_attributes_"+id+"_product_pricings_attributes_1_price", name: "product[product_boxings_attributes]["+id+"][product_pricings_attributes][1][price]", value: bargain_price, onchange: "finalPrice()", type:"number"});
	var $col_2 = $("<div>", {class: "col-sm-5 col-xs-6 vmiddle"});
	var $label_2 = $("<label>", {class: "control-label"});
	$label_2.append('元 + 運費 <span class="bargain_shipping_fee_'+id+'"></span>元 = <span class="bargain_final_price'+id+'"></span>元')	
	$form_group.append($label_1);
	$form_group.append('<!---->');
	$col_1.append($input);
	$form_group.append($col_1);	
	$form_group.append('<!---->');	
	$col_2.append($label_2);	
	$form_group.append($col_2);		
	$main_div.append($form_group);		
	//delete
	var $form_group = $("<div>", {class: "form-group text-danger"});
	var $col_1 = $("<div>", {class: "col-sm-offset-2 col-sm-8 vmiddle"});
	$col_1.append('<div class="btn dark_gray_btn" onclick="delProductBoxing('+id+')">刪除包裝</div>') 
	$form_group.append($col_1);	
	$main_div.append($form_group);	
	$( "#product_boxing_content" ).append($main_div);
	//show
	$a.tab('show');  		
}
function delProductBoxing(id){
	$("#product_boxing_"+id).remove()
	$("#product_boxing_li_"+id).remove()
	//show
	$( "#product_boxing_tab li:last-child" ).prev().children().tab('show');  
}

</script>





	
	<!--
	
	<%= f.fields_for :product_boxings do |g| %>	
		<div class="form-group">
			<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label vmiddle">箱子尺寸</label>
			<div class="col-sm-5 col-lg-4 vmiddle">
				<%= g.select :size, options_for_select(boxSizeOptions, @product.product_boxings.first.size), {prompt: '請選擇箱子尺寸'}, onchange: 'finalPrice()', class: "form-control" %>		
			</div>
			<div class="col-sm-4 col-lg-3 vmiddle">
				<%= image_tag 'box_size.png', class: 'img-responsive'%>
			</div>			
		</div>				
		<div class="form-group">
			<div class="col-sm-offset-0 col-lg-offset-2 col-sm-12 col-lg-8">
				<h5 class="page-header text-muted"></h5>
			</div>
		</div>	 
		
		<div class="form-group">
			<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">每箱</label>				
			<div class="col-sm-5 col-lg-4">
				<%= g.text_field :quantity, placeholder: '數量', class: "form-control"%>				
			</div>		
		</div>															
		<%= g.fields_for :product_pricings do |h| %>	
			<%if h.object.quantity == 1%>
		<div class="form-group">	
			<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">每箱賣</label>				
			<div class="col-sm-5 col-lg-4">
				<%= h.hidden_field :quantity, class: "form-control" %>				
				<%= h.number_field :price, class: "form-control", onchange: 'finalPrice()' %>	
			</div>				
			<div class="col-sm-5 col-lg-4">		
				<label class="control-label">元 + 運費 <span class="shipping_fee">xx</span>元 = 最終售價 <span class="final_price">xx</span>元</label>			
			</div>						
		</div>	
			<%else%>
			
		<div class="form-group">
			<div class="col-sm-offset-0 col-lg-offset-2 col-sm-12 col-lg-8">
				<h3 class="page-header text-muted"></h3>
			</div>
		</div>	 			
			<div class="form-group text-danger">
				<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">促銷</label>								
				<div class="col-sm-5 col-lg-4">
					<%= h.number_field :quantity, class: "form-control", onchange: 'finalPrice()' %>
				</div>	
				<div class="col-sm-5 col-lg-3">		
					<label class="control-label">箱以上(含)</label>				
				</div>	
			</div>	
			<div class="form-group text-danger">	
				<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">每箱賣</label>				
				<div class="col-sm-5 col-lg-4">
					<%= h.number_field :price, class: "form-control", onchange: 'finalPrice()' %>
				</div>		
				<div class="col-sm-5 col-lg-4">		
					<label class="control-label">元 + 運費 <span class="bargain_shipping_fee">xx</span>元 = 最終售價 <span class="bargain_final_price">xx</span>元</label>				
				</div>					
			</div>			
			<%end%>	
		<%end%>	 
	<!--
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label vmiddle">禮盒包裝</label>
		<div class="col-sm-5 col-lg-2 vmiddle">
			<label class="radio-inline">
		  		<%= g.radio_button :gift_wrapping_available_c, "true"%>提供		
			</label>
			<label class="radio-inline">
		 	 	<%= g.radio_button :gift_wrapping_available_c, "false"%>未
		 	 	提供		
			</label>			
		</div>
	</div>	
	
	<%end%>	
	-->
	
	
	
	
	
	
	<div class="form-group">
		<div class="col-sm-offset-0 col-lg-offset-2 col-sm-12 col-lg-8">
			<h3 class="page-header text-muted">出貨庫存</h3>
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">出貨日期</label>								
		<div class="col-sm-10 col-lg-7">		
			<%if @product.released_at.blank?%>
				<%= f.text_field :released_at, class: "form-control", placeholder: ''%>	
			<%else%>
				<%= f.text_field :released_at, value: @product.released_at.strftime("%Y-%m-%d %H:%M"), class: "form-control", placeholder: ''%>				
			<%end%>			
		</div>					
	</div>
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">每週出貨日</label>								
		<div class="col-sm-10 col-lg-7">		
			<label class="checkbox-inline">
				<%= check_box_tag 'shipping_time_1', 1, (1&@product.shipping_time) != 0%>ㄧ
			</label>
			<label class="checkbox-inline">
				<%= check_box_tag 'shipping_time_2', 2, (2&@product.shipping_time) != 0%>二
			</label>
			<label class="checkbox-inline">
				<%= check_box_tag 'shipping_time_4', 4, (4&@product.shipping_time) != 0%>三
			</label>
			<label class="checkbox-inline">
				<%= check_box_tag 'shipping_time_8', 8, (8&@product.shipping_time) != 0%>四
			</label>
			<label class="checkbox-inline">
				<%= check_box_tag 'shipping_time_16', 16, (16&@product.shipping_time) != 0%>五
			</label>
			<label class="checkbox-inline">
				<%= check_box_tag 'shipping_time_32', 32, (32&@product.shipping_time) != 0%>六
			</label>
			<label class="checkbox-inline">
				<%= check_box_tag 'shipping_time_64', 64, (64&@product.shipping_time) != 0%>日
			</label>																		
		</div>					
	</div>				
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">本批數量</label>
		<div class="col-sm-9 col-lg-6">
			<%= f.number_field :inventory, placeholder: '這批可以賣多少量', class: "form-control" %>
		</div>
		<div class="col-sm-1 col-lg-1">
			<label class="control-label">箱</label>	
		</div>			
	</div>				
	<div class="form-group">
		<div class="col-sm-offset-0 col-lg-offset-2 col-sm-12 col-lg-8">
			<h3 class="page-header text-muted">封面&照片</h3>
		</div>
	</div>		
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">封面</label>		
		<div class="col-sm-9">
    	<%= f.file_field :cover, class: "form-control",  accept: "image/*" %>
  		</div>
  	</div>  		
	<div class="form-group">
		<label class="col-sm-offset-0 col-sm-2 col-lg-offset-1 control-label">照片</label>		
		<div class="col-sm-9">
			<input id="product_image" name="product_image[]" type="file" multiple class="file-loading">
  		</div>
  	</div> 	
	<div class="form-group">
		<div class="col-sm-offset-2 col-lg-offset-3 col-lg-10">
			<%= f.submit '儲存',  class: "btn orange_btn backend_btn", style: 'margin-right: 5px;'  %>
			<!--<%= f.submit '預覽', formaction: "/products/preview/"+@product.id.to_s, class: "btn btn-default edit_button"%>-->							        
		</div>
	</div>
<% end %>
<%= render 'form_script' %>