<%case @product.product_images.count%>
<%when 0%>
<%when 1%>
	<div class="row" style="margin-top: 10px;">	
		<div class="col-sm-12 product_image_container">
		<%=image_tag @product.product_images.first.image.url, class:'', style: 'width: 100%;'%>		
		</div>		
	</div>		
<%when 2%>
	<div class="row" style="margin-top: 40px;">	
		<div class="col-sm-12 product_image_container">
		<%=image_tag @product.product_images.first.image.url, class:'product_image_eq', style: 'width: 100%;'%>		
		</div>
	</div>
	<div class="row" style="">			
		<div class="col-sm-12 product_image_container">
		<%=image_tag @product.product_images.second.image.url, class:'product_image_eq', style: 'width: 100%;'%>		
		</div>		
	</div>		
<%when 3%>
	<div class="row" style="margin-top: 40px;">	
		<div class="col-sm-12 product_image_container">
		<%=image_tag @product.product_images.first.image.url, class:'product_image_upper', style: 'width: 100%;'%>		
		</div>
	</div>
	<div class="row" style="">			
		<div class="col-sm-6 product_image_container">
		<%=image_tag @product.product_images.second.image.url, class:'product_image_lower', style: 'width: 100%;'%>		
		</div>	
		<div class="col-sm-6 product_image_container">
		<%=image_tag @product.product_images.third.image.url, class:'product_image_lower', style: 'width: 100%;'%>		
		</div>			
	</div>
<%when 4%>
	<div class="row" style="margin-top: 40px;">	
		<div class="col-sm-6 product_image_container">
		<%=image_tag @product.product_images.first.image.url, class:'product_image_eq', style: 'width: 100%;'%>		
		</div>
		<div class="col-sm-6 product_image_container">
		<%=image_tag @product.product_images.second.image.url, class:'product_image_eq', style: 'width: 100%;'%>		
		</div>		
	</div>
	<div class="row" style="">			
		<div class="col-sm-6 product_image_container">
		<%=image_tag @product.product_images.third.image.url, class:'product_image_eq', style: 'width: 100%;'%>		
		</div>	
		<div class="col-sm-6 product_image_container">
		<%=image_tag @product.product_images.fourth.image.url, class:'product_image_eq', style: 'width: 100%;'%>		
		</div>			
	</div>
<%when 5%>	
	<div class="row" style="margin-top: 40px;">	
		<div class="col-sm-6 product_image_container">
		<%=image_tag @product.product_images.first.image.url, class:'product_image_upper', style: 'width: 100%;'%>		
		</div>
		<div class="col-sm-6 product_image_container">
		<%=image_tag @product.product_images.second.image.url, class:'product_image_upper', style: 'width: 100%;'%>		
		</div>		
	</div>
	<div class="row" style="">			
		<div class="col-sm-4 product_image_container">
		<%=image_tag @product.product_images.third.image.url, class:'product_image_lower', style: 'width: 100%;'%>		
		</div>	
		<div class="col-sm-4 product_image_container">
		<%=image_tag @product.product_images.fourth.image.url, class:'product_image_lower', style: 'width: 100%;'%>		
		</div>	
		<div class="col-sm-4 product_image_container">
		<%=image_tag @product.product_images.fifth.image.url, class:'product_image_lower', style: 'width: 100%;'%>		
		</div>					
	</div>		
<%end%>							
