			<div class="row" style="">		
				<div class="col-sm-12">
					<div class="table-responsive">					
						<table class="table	product_spec" itemprop="offers" itemscope itemtype="http://schema.org/Offer">								
							<tr>
								<th>
									包裝種類
								</th>								
								<td> 
									<%@product.product_boxings.where(deleted_c: false).each do |p_b|%>
									<%if p_b.quantity%>
									<%= "%g" % p_b.quantity %><%end%><%if @product.unit%><%= Hash[unitOptions].rassoc(@product.unit).first %><%end%>
									<%end%>
									<%if @product.unit == GLOBAL_VAR['UNIT_CATTY'] or @product.unit == GLOBAL_VAR['UNIT_KG'] %>			
									<small> ±10%</small>
									<%end%>
								</td>										
								<th>甜度</th>
								<td class="text-center">
									<%unless @product.sweet_degree.blank? or @product.sweet_degree == 0 %><%=image_tag 'sweet_degree/'+@product.sweet_degree.to_s+'.png', class: 'product_sweet_degree', style: '' %><%else%>尚未提供<%end%>
								</td>								
							</tr>					
							<tr itemprop="seller" itemscope itemtype="http://schema.org/Organization">
								<th>農場名稱</th>
								<td itemprop="name">
									<!--
									<meta itemprop="priceCurrency" content="TWD" />
									<meta itemprop="price" content="<%= priceWithShippingRates( product_boxing: @product.product_boxings.where(deleted_c: false).first, quantity: 1 )%>" />									
									-->									
									<%=@product.company.name %>
								</td>								
								<th>檢驗標章</th>
								<td class="text-center">
									<%if !@product.GAP_c and !@product.TAP_c and !@product.OTAP_c and !@product.SGS_c and
										 !@product.UTAP_c and !@product.pesticide_qualified_c and 
										 !@product.pesticide_zero_c and @product.organic == GLOBAL_VAR['ORGANIC_NONE']%>尚未提供<%end%>									
									<%if @product.SGS_c%><%=image_tag 'certification/sgs.png', class: '', style: 'height: 55px; width: 55px;'  %><%end%>		      									
									<%if @product.GAP_c%><%=image_tag 'certification/gap.png', class: '', style: 'height: 55px; width: 55px;'  %><%end%>		      
									<%if @product.TAP_c%><%=image_tag 'certification/tap.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>		      		      
									<%if @product.OTAP_c%><%=image_tag 'certification/otap.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>		      		      
									<%if @product.UTAP_c%><%=image_tag 'certification/utap.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>	
									<%if @product.pesticide_qualified_c%><%=image_tag 'certification/pesticide_qualified.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>	
									<%if @product.pesticide_zero_c%><%=image_tag 'certification/pesticide_zero.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>							
									<%if @product.organic != 0%>
									<%= image_tag Hash[organicImageOptions].rassoc(@product.organic).first, style: 'height: 50px; width: 50px;'  %> 					 
									<%end%>
								</td>															
							</tr>
							<tr itemprop="seller" itemscope itemtype="http://schema.org/Organization">
								<th>聯絡地址</th>
								<td>
									<%=@product.company.county %><%=@product.company.district%><%=@product.company.address%>								
								</td>									
								<th>聯絡電話</th>
								<td class="text-center">
									<%=@product.company.phone_no.gsub(/^\+886/, '0') %>								
								</td>							
							</tr>																
							<tr>
								<th>保存方式<br>賞味提醒</th>
								<td colspan="3"><%= @product.preservation %></td>
							</tr>		
						</table>				
					</div>
				</div>								
			</div>	