<%@product.company.products.where(available_c: true).each_slice(4) do |p|%> 
	<div class="row">
		<% p.each_with_index do |pp, index|%>
			<%if index == 0 %>
				<div class="col-lg-3 col-md-3 farm_fruits">
			<%else%>
				<div class="col-lg-3 col-md-3 farm_fruits">			
			<%end%>				
			<%= link_to pp do%>
					<%= image_tag pp.product_images.first.image.url, class: 'img-circle farm_fruits_img', size: '150x150' %>			
					<div class="farm_fruits_name">
					<%= pp.name%>
					</div>	  
					<div class="farm_fruits_price">
					<%= pp.product_boxings.first.product_pricings.first.price.to_i + shippingRates(cold_chain: pp.cold_chain, size: pp.product_boxings.first.size) %>元(含運) <%= "%g" % pp.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(pp.unit).first %>/箱
				    </div>
				    <div class="farm_fruits_reviews">
						<span class="farm_fruits_excellent" data-count="<%= pp.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_DELICIOUS']).count + pp.product_boxings.first.orders.where('review_at IS NOT NULL and review_score = ? ', GLOBAL_VAR['ORDER_REVIEW_TASTY']).count %>" ></span><span class="farm_fruits_excellent_text">人說好吃</span>
				    </div>	
			<%end%>		 				
				</div>	
		<%end%>	
	</div>		
<%end%>
<script>
var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter"}});
new ScrollMagic.Scene({triggerElement: ".farm_fruits_excellent"})
		.addTo(controller)
		.on('start', function(e){
			$('.farm_fruits_excellent').each(function () {
			  var $this = $(this);
			  jQuery({ Counter: 0 }).animate({ Counter: $this.attr("data-count") }, {
			    duration: 1000,
			    easing: 'swing',
			    step: function () {
			      $this.text(Math.floor(this.Counter));
			    },
			  	complete: function() {
			  		$this.html($this.attr("data-count"));
			  	}		    
			  });
			});					
		});	
</script>
