<% Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_at IS NOT NULL', @product.id).all.order('id DESC').each do |o| %>   
<div class="row" style="margin-top: 20px;">			
	<div class="col-xs-10">	
	<%=image_tag o.invoice.user.avatar.url, class: 'review_feedback_avatar img-circle' %> 				
	<div class="review_feedback_name"><%=o.invoice.user.email.gsub(/@.*$/, '')%></div> 
	<div class="review_feedback_date">
		<%=time_ago_in_words o.review_at%>之前
		<span class="hidden-xs">所留下的購物評價</span>
	</div>
	<div class="review_feedback_option <%= reviewBg o.review_score %>"></div>
	<div class="review_feedback_option_text <%= reviewText o.review_score %>">
		<%=Hash[orderReviewOptions].rassoc(o.review_score).first%>
	</div>						
	</div>
</div>	
<div class="row" style="">		
	<div class="col-xs-offset-1 col-xs-9 review_feedback_content">
		<%unless o.review_feedback.blank?%><%=o.review_feedback%><%else%>--<%end%>						
	</div>
</div>	
<%end%>
