<% Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and delivered_c = 1 ', @product.id).all.order('id DESC').each do |o| %>   
<div class="row" style="">			
	<div class="col-sm-10">	
	<%=image_tag 'default_avatar.png', class: 'review_feedback_avatar' %> 				
	<div class="review_feedback_name"><%=o.invoice.user.email.gsub(/@.*$/, '')%></div> 
	<div class="review_feedback_date"><%=time_ago_in_words o.review_at%>之前 所留下的購物評價</div>
	<div class="review_feedback_option review_common_bg"></div>
	<div class="review_feedback_option_text">
		<%=Hash[orderReviewOptions].rassoc(o.review_score).first%>
	</div>						
	</div>
</div>	
	<div class="row" style="">		
		<div class="col-sm-offset-1 col-sm-8 review_feedback_content">
			<%unless o.review_feedback.blank?%><%=o.review_feedback%><%else%>--<%end%>						
		</div>
	</div>	
<%end%>
