<%= link_to new_product_path, class: 'btn orange_btn backend_btn' do %>
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
新增商品
<% end %> 
<br><br>
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>     	
      <th style="min-width: 75px;">商品編號</th>  	
      <th>品項</th>
      <th style="min-width: 120px;">出貨庫存</th>        
      <th style="min-width: 280px;">包裝價格</th>
      <th>縮網址</th>        
      <th>建立日期</th>           
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="text-center">
        	<%if product.available_c%>
        		<div class="btn_container"><%= link_to '下架', {controller: 'products', action: 'available', id: product}, class: 'btn light_gray_btn backend_btn', style: 'margin-right: 5px;' %></div>
        	<%else%>
        		<div class="btn_container"><%= link_to '上架', {controller: 'products', action: 'available', id: product}, class: 'btn orange_btn backend_btn', style: 'margin-right: 5px;'  %></div>
        	<%end%>
        	<div class="btn_container"><%= link_to '編輯', edit_product_path(product), class: 'btn light_gray_btn backend_btn', style: 'margin-right: 5px;'%></div>
        	<div class="btn_container"><%= link_to '刪除', product, method: :delete, data: { confirm: '您確定要刪除水果編號 '+product.id.to_s+' 的水果 (注意: 此動作將無法回復)?' }, class: 'btn dark_gray_btn backend_btn', style: 'margin-right: 5px;' %></div>
        </td>       	
        <td>
        	<%= product.id %>
        </td>       	     	
	    <td>
	        <%= link_to product do%>
				<%if product.product_images.first %>
					<div class="text-center">
					<%= image_tag product.cover.url, class: 'img-circle backend_fruits_img' %>			
			        </div>
			    <%end%> 	
	    		<div class="text-center"><%= product.name%></div>           	
	        <%end%>   	
	    </td> 
		<td>
			<dl>
			  <dt>出貨日期</dt><dd><%= product.released_at.blank? ? '--' : product.released_at.strftime("%Y-%m-%d %H:%M") %></dd>
			  <dt>本批數量</dt><dd><%= product.inventory.to_i %>箱</dd>
			  <dt>尚未付款</dt><dd><%= Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ? and invoices.allpay_expired_at > ? ', product.product_boxings.first.id, false, Time.zone.now ).sum(:quantity)%>箱</dd>
			  <dt>已出貨</dt><dd><%= product.product_boxings.first.orders.where(called_smallfarmer_c: true).sum(:quantity) %>箱</dd>			
			</dl>	
        </td>	            	
        <td>
		<table class="table">
			<%if product.discount!= 1%>
			<tr>
				<td>商品<span class="text-danger"><%= Hash[discountPercentageOptions].rassoc(product.discount).first %></span></td>
			</tr>
			<%end%>
		<%product.product_boxings.first.product_pricings.each do |p| %>
			<%if p.quantity == 1%>	
				<tr>
			        <%if product.product_boxings.first.quantity%>
			        <td>每箱<%= "%g" % product.product_boxings.first.quantity %><%if product.unit%><%= Hash[unitOptions].rassoc(product.unit).first %><%end%></td>
			        <%end%>					
				</tr>
				<tr>
			        <td style="min-width: 120px;">每箱賣<%= p.price.to_i %>元&nbsp;</td>
					<%if !product.cold_chain.blank? and !p.product_boxing.size.blank?%>
					<td style="min-width: 90px;">運費<%=shippingRates(box_size: p.product_boxing.size ,quantity: p.quantity, cold_chain: product.cold_chain) %>元&nbsp;</td>
					<td style="min-width: 120px;">最終售價
						<%if product.discount!=1%><s><small><%= p.price.to_i + shippingRates(cold_chain: p.product_boxing.product.cold_chain, box_size: p.product_boxing.size, quantity: p.quantity )%></small></s><%end%>
						<%=priceWithShippingRates(product_boxing: p.product_boxing, quantity: p.quantity) %>元 
					</td>
					<%end%>
				</tr>				
			<%elsif p.quantity%>
				<tr class="text-danger">
					<td><%= p.quantity %>箱以上(含)&nbsp;</td>
				</tr>
				<tr class="text-danger">
			        <td>每箱賣<%= p.price.to_i %>元&nbsp;</td>
					<%if !product.cold_chain.blank? and !p.product_boxing.size.blank?%>
					<td>運費<%=shippingRates(box_size: p.product_boxing.size ,quantity: p.quantity, cold_chain: product.cold_chain) %>元&nbsp;</td>
					<td>最終售價
						<%if product.discount!=1%><s><small><%= p.price.to_i + shippingRates(cold_chain: p.product_boxing.product.cold_chain, box_size: p.product_boxing.size, quantity: p.quantity )%></small></s><%end%>
						<%= priceWithShippingRates(product_boxing: p.product_boxing, quantity: p.quantity)/p.quantity %>元 
					</td>
					<%end%>
				</tr>					
			<%end%>
		<%end%>   
		</table>     	    	
        </td>   
        <td>
        	<%= link_to product.short_URL, product.short_URL %><br>
        	<b>分享至line等社群</b>
        </td>      
        <td>
        	<%= product.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </td>                         
      </tr>
    <% end %>
  </tbody>
</table>
</div>