<%= link_to new_product_path, class: 'btn btn-success add_button' do %>
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
新增水果
<% end %> 
<br><br>
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>水果編號</th>
      <th>建立日期</th>    	
      <th>水果</th>
      <th>價錢</th>       
      <th>出貨庫存</th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
        	<%= product.id %>
        </td>       	
        <td>
        	<%= product.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </td>      	
	    <td>
	        <%= link_to product do%>
				<%if product.product_images.first %>
					<div class="text-center">
					<%= image_tag product.product_images.first.image.url, class: 'img-circle backend_fruits_img' %>			
			        </div>
			    <%end%> 	
	    		<div class="text-center"><%= product.name%></div>           	
	        <%end%>   	
	    </td>         	
        <td>
        <%if product.product_boxings.first.quantity%><div style="margin-bottom: 10px;">每箱<%= "%g" % product.product_boxings.first.quantity %><%end%><%if product.unit%><%= Hash[unitOptions].rassoc(product.unit).first %></div><%end%>
		<table>
		<%product.product_boxings.first.product_pricings.each do |p| %>
			<%if p.quantity == 1%>	
				<tr>
					<td>1箱&nbsp;</td> 
					<td>每箱賣<%= p.price.to_i %>元&nbsp;</td>
					<td>(含運<%= p.price.to_i + GLOBAL_VAR['SHIPPING_RATES']%>元) </td>
				</tr>
			<%elsif p.quantity%>
				<tr>
					<td><%= p.quantity %>箱以上(含)&nbsp;</td>
					<td>每箱賣<%= p.price.to_i %>元&nbsp;</td> 
					<td>(含運<%=p.price.to_i + GLOBAL_VAR['SHIPPING_RATES']%>元) </td>	
				</tr>
			<%end%>
		<%end%>   
		</table>     	    	
        </td>
        <td>
	        <div>總庫存量<%= product.inventory.to_i %>箱</div>	          
	        <div>
	        尚未付款
			<%= Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ? and invoices.allpay_expired_at > ? ', product.product_boxings.first.id, false, Time.now ).sum(:quantity)%>
        	箱
        	</div>
            <div>每日處理量 <%= product.daily_capacity.to_i %> 箱</div>
        	<div>已出貨 <%= product.product_boxings.first.orders.where(called_smallfarmer_c: true).sum(:quantity) %> 箱</div>
        </td>        
        <td>
        	<%if product.available_c%>
        		<%= link_to '下架', {controller: 'products', action: 'available', id: product}, class: 'btn btn-default edit_button', style: 'margin-right: 5px;' %>
        	<%else%>
        		<%= link_to '上架', {controller: 'products', action: 'available', id: product}, class: 'btn btn-success add_button', style: 'margin-right: 5px;'  %>
        	<%end%>
        <%= link_to '編輯', edit_product_path(product), class: 'btn btn-default edit_button', style: 'margin-right: 5px;'%>
        <%= link_to '刪除', product, method: :delete, data: { confirm: '您確定要刪除水果編號 '+product.id.to_s+' 的水果 (注意: 此動作將無法回復)?' }, class: 'btn btn-danger delete_button', style: 'margin-right: 5px;' %>
        </td>          
      </tr>
    <% end %>
  </tbody>
</table>
</div>