<div class="container-fluid main_frontend">
	<ol class="breadcrumb">
	  <li><a href="#">首頁</a></li>
	  <li><a href="#">合作農場</a></li>
	  <li>
	  	<a href="/companies/<%=@product.company.id %>">
	  		<%unless @product.company.county.blank?%>
	  		<%= image_tag Hash[countyImageOptions].rassoc(@product.company.county).first, height: '70' %> 
	  		<%else%>
	  		<%= image_tag Hash[countyImageOptions].rassoc('南海諸島').first, height: '70' %> 	  		
	  		<%end%>
	  		<%= @product.company.name %>
	  	</a>
	  </li>
	  <li class="active"><%= @product.name %></li>	
	</ol>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8 product_farm_description">		
			<%= image_tag @product.company.user.avatar.url, class: 'img-circle product_farm_description_avatar', style: '' %>		
			<%= simple_format(truncate( @product.company.description, length: 150, omission: '... more'), {class: 'product_farm_description_text'}, wrapper_tag: "div")%>			
		</div>				
	</div>	
	<div class="row" style="margin-top: 30px;">
		<div class="col-sm-offset-1 col-sm-6">		
			<div id="carousel-example-generic" class="product_carousel carousel slide" data-ride="carousel" data-interval="4000" data-pause="hover" style="margin: 10px auto; ">
			  <ol class="product_carousel-indicators carousel-indicators">
				<% @product.product_images.each_with_index do |p, i|%> 
					<%if i==0%>
			    	<li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="active"></li>
				    <%else%>
			    	<li data-target="#carousel-example-generic" data-slide-to="<%=i%>"></li>    
				    <%end%>
				<%end%>  		 	     
			  </ol>
			  <div class="product_carousel-inner carousel-inner" role="listbox">
				<% @product.product_images.each_with_index do |p, i|%>
					<%if i==0%>
					    <div class="product_item item active">
					      <div class="product_carousel_img">	
					      <%=image_tag p.image.url(:medium), class: '' %>
					      </div>
					    </div>
				    <%else%>
					    <div class="product_item item">
					      <div class="product_carousel_img">	
					      <%=image_tag p.image.url(:medium), class: '' %>
					      </div>
					    </div>	    
				    <%end%>
				<%end%>  	   
			  </div>
			  <a class="left product_carousel-control carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-menu-left icon-prev" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right product_carousel-control carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-menu-right icon-next" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>					
		</div>
		<div class="col-sm-4">
			<div class="row">
		      <div class="col-sm-1 vmiddle">
		      </div>				
		      <div class="col-sm-6 vmiddle">
		        <div class="product_name"><%= @product.name %></div>
		        <div class="product_excellent"><span class="product_excellent_no">3764 </span><span class="product_excellent_text">人說非吃不可</span></div>	
		      </div>
		      <div class="col-sm-2 vmiddle">
			  		<%=image_tag 'sweet_degree/18.png', class: '', style: 'height: 70px; width: 110px;'  %>		      
		      </div>		      
		    </div>				
			<div class="row">
		      <div class="col-sm-offset-5 col-sm-5 text-right" style="margin-top: 10px;">
					<%=image_tag 'gap.png', class: '', style: 'height: 55px; width: 55px;'  %>		      
					<%=image_tag 'tap.png', class: '', style: 'height: 50px; width: 50px;'  %>		      		      
		      </div>
		    </div>		
			<div class="row">
		      <div class="col-sm-offset-5 col-sm-5 text-right" style="margin-top: 15px;">
				<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>		      
		      </div>
		    </div>			    
			<div class="row product_price" style="margin-top: 20px;">
			<%@product.product_boxings.first.product_pricings.each do |p| %>
				<%if p.quantity == 1%>	
					<div class="col-sm-offset-2 col-sm-3">							
	 					<%= "%g" % @product.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(@product.unit).first %>/箱 				
					</div>	   
					<div class="col-sm-3 text-right">						
						<%= p.price.to_i+GLOBAL_VAR['SHIPPING_RATES'] %><br>				
					</div>	
					<div class="col-sm-3">元<span style="font-size: 85%">(含運)<span></div>											
			</div>
			<div class="row product_price" style="margin-top: 10px;">
					<div class="col-sm-offset-2 col-sm-3">數量</div>
					<div class="col-sm-3">	
					<%= select_tag  :quantity, options_for_select( (1..50).step(1).to_a), class: "form-control" %>				
					</div>	  
					<div class="col-sm-2">箱</div>					 				
			</div>						
					<%else%>
			<div class="row product_promote" style="margin-top: 18px;">	
					<div class="col-sm-offset-4 col-sm-6 text-right">								
						<%= p.quantity %>箱以上 每箱<%= p.price.to_i+GLOBAL_VAR['SHIPPING_RATES'] %>元(含運)		
					</div>
			</div>						
					<%end%>
				<%end%>
			<div class="row" style="margin-top: 2px;">	
					<div class="col-sm-offset-4 col-sm-6 text-right">				
						＊企業團體購買，請聯絡客服人員
					</div>
			</div>		
			<div class="row product_promote" style="margin-top: 20px;">	
					<div class="col-sm-offset-4 col-sm-6 text-right">							
						<button type="button" class="add_to_cart btn btn-primary" autocomplete="off">加入購物車</button>			
					</div>
			</div>	
		</div>
	</div>		
	<div class="row" style="margin-top: 50px;">
		<div class="col-sm-offset-1 col-sm-6">
			<div class="row" style="">		
				<div class="col-sm-6">
					<div class="product_section_title">關於<%= @product.name %></div>
				</div>					
			</div>
			<div class="row" style="">		
				<div class="col-sm-6">
					<div></div>
					<table class="table">
					<tr><td>產地</td><td><%=@product.company.county %><%=@product.company.district%></td></tr>
					<tr><td>內容量</td><td>每箱 <%= "%g" % @product.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(@product.unit).first %> </td></tr>
					<tr><td>保存方式</td><td>--</td></tr>		
					</table>	
				</div>	
				<div class="col-sm-6">
					<%=image_tag @product.product_images.last.image.url, class:'', style: 'height: 250px; width: 100%;'%>
				</div>								
			</div>		
			<div class="row" style="">		
				<div class="col-sm-12">
					<%= @product.description%>
				</div>								
			</div>					
		</div>
		<div class="col-sm-4">
			<div class="row" style="">		
				<div class="col-sm-6">
					<div class="product_section_title">金流去向</div>
				</div>					
			</div>			
			<div class="row">
				<div class="col-sm-12">				
				您選擇<span class="total_quantity"></span>箱，共<span class="total_price"></span>元，您最多可以獲得<span class="total_coupon"></span>元回饋金，金流估計如下：
				</div>
			</div	
			<br>
			<div class="farmer_get_layer">
				<div class="farmer_get_inner">
					<span class="total_farmer_get" style="position: relative; top: 45%"></span>
				</div>
				<div style="position: relative; top: 45%">農夫獲得</div>
			</div>
			<div class="shipping_rates_layer">
				<div class="shipping_rates_inner">
					<span class="total_shipping_rates" style="position: relative; top: 40%"></span>					
				</div>
				<div style="position: relative; top: 40%">物流費用</div>				
			</div>
			<div class="cash_flow_layer">
				<div class="cash_flow_inner">
					<span class="total_cash_flow" style="position: relative; top: 0%"></span>										
				</div>
				<div style="position: relative; top: 0%">金流費用</div>				
			</div>
			<div class="administration_layer">
				<div class="administration_inner">
					<span class="total_administration" style="position: relative; top: 0%"></span>										
				</div>
				<div style="position: relative; top: 0%">行政費用</div>				
			</div>									
			<div class="coupon_layer">
				<div class="coupon_inner">
					<span class="total_coupon" style="position: relative; top: 10%"></span>										
				</div>
				<div style="position: relative; top: 10%">您的回饋金</div>				
			</div>									
			
			
			
			<abbr title=""><small>(最後數據會依實際付款金額不同而改變)</small></abbr>
		</div>		
	</div>				
	<div class="row" style="margin-top: 50px;">
		<div class="col-sm-offset-1 col-sm-5">	
			<div class="row" style="">		
				<div class="col-sm-6">
					<div class="product_section_title">顧客評價</div>
				</div>					
			</div>				
			<div class="row" style="">		
				<div class="col-sm-6">
					<span>累積評價</span><span> 自 <%=@product.created_at.strftime("%Y年%m月%d日") %> 累積至今</span>
				</div>					
			</div>				
			<%= render partial: "products/review_score", locals: { product: @product} %>			
			<div class="row" style="">		
				<div class="col-sm-6">
					<span>最新評價</span>
				</div>					
			</div>			
			<%= render partial: "products/review_feedback", locals: { product: @product} %>											
		</div>
		<div class="col-sm-5">
			<div class="row" style="">		
				<div class="col-sm-6">			
					<div class="product_section_title">留言</div>	
				</div>					
			</div>										
			<%= render partial: "comments/show", locals: { product: @product} %>			
		</div>		
	</div>	
	<div class="row" style="margin-top: 50px;">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="row" style="">		
				<div class="col-sm-6">
					<div class="product_section_title">推薦產品</div>
				</div>					
			</div>
			<%= render partial: "products/recommendation" %>											
		</div>
	</div>				    	
</div>				



<script>
$('.add_to_cart').click(function() {
	//var $btn = $(this).button('加入中...')	
	var request = $.ajax({
		url: "/carts/addCart",
		type: "POST",
		data: { id: <%=@product.product_boxings.first.id%>, quantity: $('#quantity').val() },
		dataType: "json"
	});
	request.done(function( message ) {
		if(message.alert_class != 'success')
			toastr[message.alert_class](message.message)
	    //$btn.button('reset')		
	    showCarts();
 		//$('.cart-dropdown-menu').dropdown('toggle');	    
	});
	request.fail(function( jqXHR, textStatus ) {
	});	

});

//total price
var pricing =  []
var cash_flow_layer = 500;
<%@product.product_boxings.first.product_pricings.order('quantity desc').each do |p| %>
	pricing.push({ price: <%= p.price.to_i %>, quantity: <%= p.quantity %>  })
<%end%>
countTotalPrice($('#quantity').val())
function countTotalPrice(q){	
	$.each(pricing, function( index, value ) {
		if(q >= value.quantity)	
		{		
			total_price = q*value.price+q*<%=GLOBAL_VAR['SHIPPING_RATES']%>
			total_shipping_rates = q*<%=GLOBAL_VAR['SHIPPING_RATES']%>
			total_cash_flow = Math.round((q*value.price+q*<%=GLOBAL_VAR['SHIPPING_RATES']%>)*0.028 )
			total_coupon = Math.round((q*value.price+q*<%=GLOBAL_VAR['SHIPPING_RATES']%>)*0.04 )
			total_administration = Math.round((q*value.price+q*<%=GLOBAL_VAR['SHIPPING_RATES']%>)*0.03 )
			total_farmer_get = q*value.price - total_administration - total_coupon - total_cash_flow 
			
			$('.total_price').html( total_price ); $('.total_quantity').html(q); 
			$('.total_farmer_get').html( total_farmer_get );	
			$('.total_shipping_rates').html( total_shipping_rates ); 							
			$('.total_cash_flow').html( total_cash_flow  );	
			$('.total_administration').html( total_administration  );			
			$('.total_coupon').html( total_coupon );

			$('.farmer_get_layer').css({"height": cash_flow_layer*(total_farmer_get/total_price)*0.6})
			$('.farmer_get_inner').css({"height": cash_flow_layer*(total_farmer_get/total_price)*0.6})
			$('.farmer_get_layer').animate({"height": cash_flow_layer*(total_farmer_get/total_price)}, 1000)
			$('.farmer_get_inner').animate({"height": cash_flow_layer*(total_farmer_get/total_price)}, 1000)
			$('.shipping_rates_layer').animate({"height": cash_flow_layer*(total_shipping_rates/total_price)})
			$('.shipping_rates_inner').animate({"height": cash_flow_layer*(total_shipping_rates/total_price)})
			$('.cash_flow_layer').animate({"height": cash_flow_layer*(total_cash_flow/total_price)})
			$('.cash_flow_inner').animate({"height": cash_flow_layer*(total_cash_flow/total_price)})
			$('.administration_layer').animate({"height": cash_flow_layer*(total_administration/total_price)})
			$('.administration_inner').animate({"height": cash_flow_layer*(total_administration/total_price)})										
			$('.coupon_layer').animate({"height": cash_flow_layer*(total_coupon/total_price)})
			$('.coupon_inner').animate({"height": cash_flow_layer*(total_coupon/total_price)})
							
			return false;
		}	
	});		
}
$('#quantity').change(function(){
   countTotalPrice($('#quantity').val())
});	
</script>
