<% content_for :show_fb do %>
    <meta property="og:url" content="<%=Rails.configuration.smallfarmer01_host%>/products/<%=@product.id%>" />
    <meta property="og:type" content="website" />  	
  	<meta property="og:title" content="<%if @product.released_at%><%if @product.released_at > Time.zone.now %>[預購]<%end%><%end%><%= @product.name %><%if @product.product_boxings.first.quantity%><%= "%g" % @product.product_boxings.first.quantity %><%end%><%if @product.unit%><%= Hash[unitOptions].rassoc(@product.unit).first %><%end%> <%= priceWithShipments(@product.product_boxings.first.product_pricings.first) %>元(含運) | <%=@product.company.name%> | 小農1號線上水果平台" />
  	<meta property="og:description" content="<%= @product.description%>" />
	<meta property="og:image" content="<%if @product.cover%><%=Rails.configuration.smallfarmer01_host%><%= @product.cover.url()%><%end%>" />
	<meta name="description" content="<%= @product.description%>" />
<% end %>
<% inventory = 0 %>
<%if @product.inventory%>
	<% inventory = @product.inventory - Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ? and invoices.allpay_expired_at > ? ', @product.product_boxings.first.id, false, Time.zone.now ).sum(:quantity) %>		
<%end%>	
<div class="container-fluid" style="margin-bottom: 50px;">
	<div class="row" style="">
		<div id="parallax1" class="product_cover_parallax_parent">
			<div style="background-image: url('<%=@product.cover.url%>'); background-size: cover; background-position: center center;"></div>
		</div>	
	</div>		
	<ol class="breadcrumb hidden-xs" style="margin-top: 20px;">
	  <li><%= link_to '首頁', root_url %></li>
	  <li><%= link_to '合作農場', controller: 'main', action: 'farms'%></li>
	  <li>
	  	<a href="/companies/<%=@product.company.id %>">
	  		<%unless @product.company.county.blank?%>
	  		<%= image_tag Hash[countyImageOptions].rassoc(@product.company.county).first, height: '70' %> 
	  		<%else%>
	  		<%= image_tag Hash[countyImageOptions].rassoc('南海諸島').first, height: '70' %> 	  		
	  		<%end%>
	  		<%= @product.company.name %>
	  	</a>
	  </li>
	  <li class="active"><%= @product.name %></li>		  
	</ol>			
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">	
			<div class="row">		
				<div class="hidden-xs col-md-12 col-lg-offset-1 col-lg-10 product_farm_words">		
					<%= image_tag @product.company.user.avatar.url, class: 'img-circle product_farm_words_avatar' %>		
					<%= link_to @product.company do%>
						<div class="product_farm_words_text">	
							<%= truncate( @product.company.words, length: 120, omission: '... more') %>
						</div>
					<%end%>
				</div>				
				<div class="visible-xs-block col-xs-12 product_farm_words">		
					<div class="row">
						<div class="col-xs-12 text-center">					
							<%= image_tag @product.company.user.avatar.url, class: 'img-circle product_farm_words_avatar', style: '' %>		
						</div>
						<%= link_to @product.company do%>				
							<div class="col-xs-12 product_farm_words_text">	
							<%= truncate( @product.company.description, length: 120, omission: '... more') %>
							</div>
						<%end%>				
					</div>
				</div>	
			</div>
		</div>							
	</div>		
	<div class="row product_carousel_add_to_cart_container">
		<div class="col-md-7 col-lg-offset-1 col-lg-6">		
			<%= render partial: "products/product_carousel" %>								
		</div>
		<div class="col-md-5 col-lg-4">
			<div class="row" style="margin-top: 20px;">			
		      <div class="hidden-xs hidden-sm col-md-12">        
		        <div class="" style="">
		        	<div class="product_name text-left"><%if @product.released_at%><%if @product.released_at > Time.zone.now %>[預購]<%end%><%end%><%= @product.name %><%if @product.product_boxings.first.quantity%><%= "%g" % @product.product_boxings.first.quantity %><%end%><%if @product.unit%><%= Hash[unitOptions].rassoc(@product.unit).first %><%end%></div>	      
		      	</div>
		      </div>	      	
		      <div class="hidden-md hidden-lg col-xs-12 text-center">    	
		        <div class="product_name"><%if @product.released_at%><%if @product.released_at > Time.zone.now %>[預購]<%end%><%end%><%= @product.name %></div>
		        <div class="product_excellent">
		        	<span class="product_excellent_no" data-count='<%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_score = ? and review_at IS NOT NULL ', @product.id, GLOBAL_VAR['ORDER_REVIEW_DELICIOUS']).count+Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_score = ? and review_at IS NOT NULL ', @product.id, GLOBAL_VAR['ORDER_REVIEW_TASTY']).count %>'>0</span>
		        	<span class="product_excellent_text">人說好吃</span>
					<span><%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and invoices.confirmed_c = ? and review_at IS NULL', @product.id, true).count%>人未評</span>		        
		        </div>		      
		      </div>		      		      
		    </div>	
			<div class="row hidden-xs hidden-sm ">
		      <div class="col-md-8 product_excellent text-left">
		        		<span class="product_excellent_no" data-count='<%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_score = ? and review_at IS NOT NULL', @product.id, GLOBAL_VAR['ORDER_REVIEW_DELICIOUS']).count+Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_score = ? and review_at IS NOT NULL ', @product.id, GLOBAL_VAR['ORDER_REVIEW_TASTY']).count %>'>0</span>
		        		<span class="product_excellent_text"> 人說好吃</span>
		        		<span><%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and invoices.confirmed_c = ? and review_at IS NULL', @product.id, true).count%>人未評</span>
		      </div>					
		      <div class="col-md-3 text-right" style="margin-top: 20px;">
				<div class="fb-share-button" data-href="<%=Rails.configuration.smallfarmer01_host%>/products/<%=@product.id%>" data-layout="button_count"></div>		      
		      </div>
		    </div>			    			    
			<%@product.product_boxings.first.product_pricings.each do |p| %>
				<%if p.quantity == 1%>	
				<div class="row product_price" style="margin-top: 20px;">
					<div class="hidden-xs hidden-sm col-md-4 text-left">							
					    每箱 <%if @product.product_boxings.first.quantity%><%= "%g" % @product.product_boxings.first.quantity %><%end%><%if @product.unit%><%= Hash[unitOptions].rassoc(@product.unit).first %><%end%>
					</div>					   			
					<div class="hidden-xs hidden-sm col-md-5 text-right">							
						<%if p.price %>
							<%if @product.discount!=1%>
							<s><%= p.price.to_i + shippingRates(cold_chain: p.product_boxing.product.cold_chain, size: p.product_boxing.size) %></s> <span style="font-size:128%; color: #b12704"><%= priceWithShipments(p) %></span>
							<%else%>
							<span style="font-size:128%; color: #b12704"><%= priceWithShipments(p) %></span>
							<%end%>
						<%end%>				
					</div>	
					<div class="hidden-xs hidden-sm col-md-3">
						<%if @product.discount!=1%>
							<span style="font-size:110%; color: #b12704">元(含運)</span>
						<%else%>
							元<b>(含運)</b>
						<%end%>						
					</div>														
					<div class="col-xs-12 hidden-md hidden-lg text-center">
					<%if p.price %>
						<% @original_pricing = p%>	
						<%if @product.discount!=1%>
							每箱 <%if @product.product_boxings.first.quantity%><%= "%g" % @product.product_boxings.first.quantity %><%end%><%if @product.unit%><%= Hash[unitOptions].rassoc(@product.unit).first %><%end%>
							<s><%= p.price.to_i + shippingRates(cold_chain: p.product_boxing.product.cold_chain, size: p.product_boxing.size) %></s> <span style="font-size:128%; color: #b12704"><%= priceWithShipments(p) %></span>
							<span style="font-size:110%; color: #b12704">元(含運)</span>		
						<%else%>
							每箱 <%if @product.product_boxings.first.quantity%><%= "%g" % @product.product_boxings.first.quantity %><%end%><%if @product.unit%><%= Hash[unitOptions].rassoc(@product.unit).first %><%end%>				
							<%= priceWithShipments(p) %>								
							元<b>(含運)</b>
						<%end%>										
					<%end%>
					</div>											
				</div>
				<div class="row product_price" style="margin-top: 10px;">
					<div class="hidden-xs hidden-sm col-md-6 text-left">數量</div>					
					<div class="hidden-md hidden-lg col-xs-3 text-right">數量</div>									
					<div class="col-xs-6 col-md-offset-0 col-md-3">					
						<%max_quantity = 50%>
						<%if inventory < max_quantity %>	
							<% max_quantity = inventory %>
						<%end%>
						<%= select_tag  :quantity, options_for_select( (1..max_quantity).step(1).to_a), class: "form-control" %>				
					</div>	  
					<div class="col-xs-3 col-md-2">箱</div>	
				</div>						
				<%elsif p.quantity%>
				<div class="row" style="margin-top: 22px;">	
					<div class="hidden-xs hidden-sm col-md-11">								
						<div class="product_promote">
						<span style="color: #536132;"><%= p.quantity %>箱以上，每箱便宜<span style="font-size: 130%"><%= priceWithShipments(@original_pricing) - priceWithShipments(p)  %></span>元</span>
						<span style="font-size: 80%;">＊企業團體購買，請聯絡客服人員</span>				
						</div>
					</div>			
					<div class="hidden-md hidden-lg col-sm-offset-2 col-sm-8 text-center">								
						<div class="product_promote">
						<span style="color: #536132;"><%= p.quantity %>箱以上，每箱便宜<span style="font-size: 130%"><%= priceWithShipments(@original_pricing) - priceWithShipments(p)  %></span>元</span>
						<span style="font-size: 80%;">＊企業團體購買，請聯絡客服人員</span>				
						</div>
					</div>						
				</div>	
				<%else%>	
				<div class="row" style="margin-top: 22px;">				
					<div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-11 text-center">								
						<div class="product_promote">
						<span style="font-size: 80%;">＊企業團體購買，請聯絡客服人員</span>				
						</div>
					</div>					
				</div>	
				<%end%>								
			<%end%>			
			<%if @product.released_at%>
				<%if @product.released_at > Time.zone.now %>
				<div class="row" style="margin-top: 20px;">								
					<div class="hidden-xs hidden-sm col-md-offset-1 col-md-10">						
						<div class='product_released_at pull-right'>預計<%= @product.released_at.strftime("%Y-%m-%d") %>起陸續出貨</div> 
					</div>			
					<div class="hidden-md hidden-lg col-xs-12 text-center">
						<div class='product_released_at'>預計<%= @product.released_at.strftime("%Y-%m-%d") %>起陸續出貨</div> 
					</div>				
				</div>	
				<%else%>
					<%if @product.shipping_time != 0%>
					<div class="row" style="margin-top: 20px;">								
						<div class="hidden-xs hidden-sm col-md-offset-1 col-md-10">						
							<div class='product_shipping_time_container pull-right'>
								<%=render partial: "products/shipping_time", locals: { product: @product}%>
							</div> 
						</div>			
						<div class="hidden-md hidden-lg col-xs-12 text-center">
							<div class='product_shipping_time_container'>
								<%=render partial: "products/shipping_time", locals: { product: @product}%>
							</div> 
						</div>				
					</div>	
					<%end%>					
				<%end%>
			<%else%>
				<%if @product.shipping_time != 0%>
				<div class="row" style="margin-top: 20px;">								
					<div class="hidden-xs hidden-sm col-md-offset-1 col-md-10">						
						<div class='product_shipping_time_container pull-right'>
							<%=render partial: "products/shipping_time", locals: { product: @product}%>
						</div> 
					</div>			
					<div class="hidden-md hidden-lg col-xs-12 text-center">
						<div class='product_shipping_time_container'>
							<%=render partial: "products/shipping_time", locals: { product: @product}%>
						</div> 
					</div>				
				</div>	
				<%end%>						
			<%end%>								
			<div class="row" style="margin-top: 20px;">								
				<div class="hidden-xs hidden-sm col-sm-11">								  				      
					<%if inventory == 0%>
						<button type="button" class="cart_unavailable btn btn-default pull-right" autocomplete="off" disabled="disabled">已搶購完</button>			
					<%else%>
						<%if user_signed_in?%>
							<%=image_tag 'cart_icon.png', class: 'cart_icon_product_992', style: 'height: 35px; position: absolute; right: 62.5px; top: 5px; z-index: -1' %>			  													  																													
							<button type="button" class="add_to_cart add_to_cart_action btn btn-success pull-right" autocomplete="off">加入購物車</button>			
						<%else%>
							<%= form_tag  '/carts/addCart', method: 'get', class: 'add_to_cart_form' do %>				  	
							  	<%= submit_tag '加入購物車',  class: "add_to_cart btn btn-success pull-right" %>
							<% end %>							
						<%end%>
					<%end%>						
				  		<div style="display: inline-block; margin-right: 15px; margin-top: 3px; color: #B5841B" class="text-center pull-right">				  			
					  		<div>					
					  		<%=image_tag 'coupons_icon.png', class: 'coupons_icon_product', style: 'height: 40px;' %>			  													  												
							<div style="margin-top: -30px"><span style="font-size: 130%;" class="coupons_est"></span><span style="font-size: 80%;">元</span></div>
							</div>	
						</div>	
					  	<div class="pull-right" style="color: #B5841B; font-size: 18px; margin-top: 13px; margin-right: 10px;">
					  		最多獲得回饋金			  				
					  	</div>							
				</div>					
				<div class="hidden-md hidden-lg col-xs-6">			  	
				  	<div class="pull-right" style="color: #B5841B" class="text-center">				  			
				  		<%=image_tag 'coupons_icon.png', class: 'coupons_icon_product', style: 'height: 50px;' %>			  													  												
						<div style="margin-top: -40px"><span style="font-size: 24px;" class="coupons_est"></span><span style="font-size: 100%;">元</span></div>
					</div>	
					<div class="pull-right" style="color: #B5841B; font-size: 16px; margin-top: 13px; margin-right: 10px;">
					回饋金約			  				
					</div>
				</div>	
				<div class="hidden-md hidden-lg col-xs-6">			  																	
					<%if inventory == 0%>
						<button type="button" class="cart_unavailable btn btn-default" autocomplete="off" disabled="disabled">已搶購完</button>			
					<%else%>
						<%if user_signed_in?%>
							<%=image_tag 'cart_icon.png', class: 'cart_icon_product', style: 'height: 35px; position: absolute; left: 10%; top: 5px; z-index: -1' %>			  													  																												
							<button type="button" class="add_to_cart add_to_cart_action btn btn-success" autocomplete="off">加入購物車</button>			
						<%else%>
							<%= form_tag  '/carts/addCart', method: 'get', class: 'add_to_cart_form' do %>				  	
							  	<%= submit_tag '加入購物車',  class: "add_to_cart btn btn-success" %>
							<% end %>							
						<%end%>					
					<%end%>	
				</div>					
			</div>		
		</div>
	</div>	
	<div class="row" style="font-size: 16px;">
		<div class="col-md-7 col-lg-offset-1 col-lg-6" style="margin-top: 40px; margin-bottom: 40px;">
			<div class="row" style="margin-bottom: 50px;">		
				<div class="col-sm-offset-1 col-sm-10">
					<div class="section_title">關於<%= @product.name %></div>
				</div>					
			</div>
			<div class="row" style="margin-bottom: 20px;">		
				<div class="col-sm-offset-1 col-sm-10">
					<div class="section_sub_title">基本規格</div>
				</div>					
			</div>	
			<div class="row" style="">		
				<div class="col-sm-offset-1 col-sm-10">
					<div class="table-responsive">					
						<table class="table	product_spec">
							<tr>
								<th>產地</th>
								<td>
									<%=@product.company.county %><%=@product.company.district%>
								</td>
								<th>甜度</th>
								<td class="text-center">
									<%unless @product.sweet_degree.blank?%><%=image_tag 'sweet_degree/'+@product.sweet_degree.to_s+'.png', class: 'product_sweet_degree', style: '' %><%else%>尚未提供<%end%>
								</td>								
							</tr>					
							<tr>
								<th>內容量</th>
								<td>
									每箱 <%if @product.product_boxings.first.quantity%><%= "%g" % @product.product_boxings.first.quantity %><%end%><%if @product.unit%><%= Hash[unitOptions].rassoc(@product.unit).first %><%end%><%if @product.unit == GLOBAL_VAR['UNIT_CATTY'] or @product.unit == GLOBAL_VAR['UNIT_KG'] %><small> ±10%</small><%end%> 
								</td>	
								<th>檢驗標章</th>
								<td class="text-center">
									<%if @product.GAP_c%><%=image_tag 'gap.png', class: '', style: 'height: 55px; width: 55px;'  %><%end%>		      
									<%if @product.TAP_c%><%=image_tag 'tap.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>		      		      
									<%if @product.OTAP_c%><%=image_tag 'otap.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>		      		      
									<%if @product.UTAP_c%><%=image_tag 'utap.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>	
									<%if @product.pesticide_qualified_c%><%=image_tag 'pesticide_qualified.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>	
									<%if @product.pesticide_zero_c%><%=image_tag 'pesticide_zero.png', class: '', style: 'height: 50px; width: 50px;'  %><%end%>							
									<%if !@product.GAP_c and !@product.TAP_c and !@product.OTAP_c and
										 !@product.UTAP_c and !@product.pesticide_qualified_c and 
										 !@product.pesticide_zero_c%>尚未提供<%end%>
								</td>															
							</tr>
							<tr>
								<th>平均售價</th>
								<td>
									<%=number_with_delimiter( (priceWithShipments( @product.product_boxings.first.product_pricings.first )/@product.product_boxings.first.quantity).round(1), delimiter: ',')%> <span style="font-size: 80%">元/<%= Hash[unitOptions].rassoc(@product.unit).first %>(含運)
								</td>	
								<th>禮盒包裝</th>
								<td class="text-center">
									<%if @product.product_boxings.first.gift_wrapping_available_c%>提供<%else%>未提供<%end%> 
								</td>																							
							</tr>										
							<tr>
								<th>保存方式</th>
								<td colspan="3"><%= @product.preservation %></td>
							</tr>		
						</table>				
					</div>
				</div>								
			</div>				
			<div class="row" style="margin-bottom: 20px; margin-top: 30px;">		
				<div class="col-sm-offset-1 col-sm-10">
					<div class="section_sub_title">商品介紹</div>
				</div>					
			</div>						
			<div class="row">		
				<div class="col-sm-offset-1 col-sm-10">
				<%= simple_format( @product.description, {class: 'product_description'}, wrapper_tag: "div")%>												
				</div>								
			</div>	
			<div class="row">		
				<div class="col-sm-offset-1 col-sm-10" style="margin-top: 40px;">
					<div style="border-top: 1px solid #a8bb7f;"></div>
				</div>					
			</div>											
			<%= render partial: "products/product_images" %>	
			<div class="row">		
				<div class="col-sm-offset-1 col-sm-10" style="margin-top: 40px;">
					<div style="border-top: 1px solid #a8bb7f;"></div>
				</div>					
			</div>					
			<div class="row" style="margin-top: 40px; margin-bottom: 40px;">		
				<div class="col-sm-offset-1 col-sm-10">			
					<div class="section_title">留言</div>	
				</div>					
			</div>										
			<%= render partial: "comments/show", locals: { product: @product} %>								
		</div>
		<div class="col-md-5 col-lg-4" style="margin-top: 40px; margin-bottom: 40px;">
			<div class="row" style="margin-bottom: 50px;">		
				<div class="col-lg-11">
					<div class="section_title">顧客評價</div>
				</div>					
			</div>		
			<div class="row" style="margin-bottom: 20px;">		
				<div class="col-lg-12">
					<span class="section_sub_title">好吃評價</span><span class="review_score_from"> 自 <%=@product.created_at.strftime("%Y 年 %m 月 %d 日") %> 累積至今</span>
				</div>					
			</div>								
			<%= render partial: "products/review_score", locals: { product: @product} %>			
			<div class="row" style="margin-top: 50px; margin-bottom: 20px;">		
				<div class="col-lg-11">
					<span class="section_sub_title">最新評價</span>
				</div>					
			</div>			
			<%= render partial: "products/review_feedback", locals: { product: @product} %>									
			<div class="row" style="margin-top: 50px; margin-bottom: 20px;">		
				<div class="col-lg-11">
					<span class="section_sub_title">出貨速度評價</span>
				</div>					
			</div>	
			<div class="row shipment_review_container" style="margin-top: 15px;">		
				<div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">								
					<%=image_tag 'delivery_statis_'+deliveryStatisticsColor(product: @product)+'.png'%>					
				</div>					
			</div>	
			<div class="row">		
				<div class="col-lg-11" style="margin-top: 40px;">
					<div style="border-top: 1px solid #a8bb7f;"></div>
				</div>					
			</div>				
			<div class="row" style="margin-bottom: 40px; margin-top: 50px;">		
				<div class="col-lg-11">
					<div class="section_title">金流去向</div>
				</div>					
			</div>
			<%= render partial: "products/cash_flow" %>							
		</div>		
	</div>			
	<div class="row">
		<div class="col-md-12 col-lg-offset-1 col-lg-10">		
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">					
			<div class="col-lg-offset-1 col-lg-10"><div style="border-top: 1px solid #a8bb7f;"></div></div>
			</div>						
		</div>		
	</div>	
	<div class="row" style="margin-top: 40px;">
		<div class="col-md-12 col-lg-offset-1 col-lg-10">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px">		
				<div class="col-lg-offset-1 col-lg-10">
					<div class="section_title">推薦產品</div>
				</div>					
			</div>
			<%= render partial: "products/recommendation" %>											
		</div>
	</div>				    	
</div>				



<script>
var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter", duration: "200%"}});
function move (what, progress) {
    var to = progress * 25;
    TweenMax.to(what, 1, {y: '-'+to + "%", overwrite: 5, force3D: true});
}
new ScrollMagic.Scene({triggerElement: "#parallax1"})
		.on("progress", function (e) {
        	move ("#parallax1 > div", e.progress);
        }).addTo(controller);	
new ScrollMagic.Scene({triggerElement: ".product_excellent"})
		.addTo(controller)
		.on('start', function(e){
			$('.product_excellent_no').each(function () {
			  var $this = $(this);
			  jQuery({ Counter: 0 }).animate({ Counter: $this.attr("data-count") }, {
			    duration: 1000,
			    easing: 'swing',
			    step: function () {
			      $this.text(Math.floor(this.Counter));
			    },
			  	complete: function() {
			  		$this.html($this.attr("data-count"));
			  	}		    
			  });
			});					
		});	
// add cart
$('.add_to_cart_action').click(function() {
	//var $btn = $(this).button('加入中...')	
	var request = $.ajax({
		url: "/carts/addCart",
		type: "GET",
		data: { id: <%=@product.product_boxings.first.id%>, quantity: $('#quantity').val() },
		dataType: "json"
	});
	request.done(function( message ) {
		if(message.alert_class != 'success')
			toastr[message.alert_class](message.message)
	    //$btn.button('reset')		
	        
	    if( $(window).width() > 1065)
	    	var cart = $('.menu_cart_icon');
	    else
	    	var cart = $('.navbar-toggle');
	    	
	    if( $(window).width() >= 992)
	    	var imgtodrag =  $('.cart_icon_product_992')   	
	   	else		    	
	    	var imgtodrag =  $('.cart_icon_product')
	    
	    if (imgtodrag) {
            var imgclone = imgtodrag.clone().offset({
                top: imgtodrag.offset().top,
                left: imgtodrag.offset().left
            }).css({
                	'opacity': '0.5',
                    'position': 'absolute',
                    'height': '150px',
                    'width': '150px',
                    'z-index': '10000'
            }).appendTo($('body')).animate({
                'top': cart.offset().top + 10,
                'left': cart.offset().left + 10,
                'width': 75,
                'height': 75
            }, 1000);
	    	
	        imgclone.animate({
                'width': 0,
                'height': 0
            }, function () {
                $(this).detach()
            });
	      }
	    
	    
	    
	    showCarts();
 		//$('.cart-dropdown-menu').dropdown('toggle');	    
	});
	request.fail(function( jqXHR, textStatus ) {
	});	

});
$(".add_to_cart_form").submit( function(eventObj) {
      $('<input />').attr('type', 'hidden')
          .attr('name', "id")
          .attr('value', <%=@product.product_boxings.first.id%> )
          .appendTo('.add_to_cart_form');
      $('<input />').attr('type', 'hidden')
          .attr('name', "quantity")
          .attr('value', $('#quantity').val() )
          .appendTo('.add_to_cart_form');          
      return true;
});
//total price
var pricing =  []
var cash_flow_layer = 600;
var shipping_rates = <%= shippingRates(cold_chain: @product.cold_chain, size: @product.product_boxings.first.size)%>;
var discount = <%= @product.discount %>
<%@product.product_boxings.first.product_pricings.order('quantity desc').each do |p| %>
	<% unless p.quantity.blank? %>
		pricing.push({ price: <%= p.price.to_i %>, quantity: <%= p.quantity %>  })
	<% end %>
<%end%>
countTotalPrice($('#quantity').val())
function countTotalPrice(q){	
	$.each(pricing, function( index, value ) {
		if(q >= value.quantity)	
		{		
			total_price = q*Math.ceil((value.price+shipping_rates)*discount)
			total_shipping_rates = q*shipping_rates
			total_cash_flow = Math.round(total_price*<%=GLOBAL_VAR['CASH_FLOW_FEE']%> )
			total_coupon = Math.round(total_price*<%=GLOBAL_VAR['COUPON_FEE']%> )
			total_administration = Math.round(total_price*<%=GLOBAL_VAR['ADMINISTRATION_FEE']%>  )
			total_farmer_get = total_price - total_shipping_rates - total_administration - total_coupon - total_cash_flow 
			
			$('.total_price').html( total_price ); $('.total_quantity').html(q); 
			$('.total_farmer_get').html( total_farmer_get );	
			$('.total_shipping_rates').html( total_shipping_rates ); 							
			$('.total_cash_flow').html( total_cash_flow  );	
			$('.total_administration').html( total_administration  );			
			$('.total_coupon').html( total_coupon );
			$('.coupons_est').html( total_coupon );

			$('.farmer_get_layer').css({"height": cash_flow_layer*0.7*(total_farmer_get/total_price)*0.65})
			$('.farmer_get_inner').css({"height": cash_flow_layer*0.7*(total_farmer_get/total_price)*0.65})
			$('.farmer_get_layer').animate({"height": cash_flow_layer*0.7*(total_farmer_get/total_price)}, 1000)
			$('.farmer_get_inner').animate({"height": cash_flow_layer*0.7*(total_farmer_get/total_price)}, 1000)
			$('.shipping_rates_layer').animate({"height": cash_flow_layer*(total_shipping_rates/total_price)})
			$('.shipping_rates_inner').animate({"height": cash_flow_layer*(total_shipping_rates/total_price)})
			$('.cash_flow_layer').animate({"height": cash_flow_layer*(total_cash_flow/total_price)})
			$('.cash_flow_inner').animate({"height": cash_flow_layer*(total_cash_flow/total_price)})
			$('.administration_layer').animate({"height": cash_flow_layer*(total_administration/total_price)})
			$('.administration_inner').animate({"height": cash_flow_layer*(total_administration/total_price)})										
			$('.coupon_layer').animate({"height": cash_flow_layer*(total_coupon/total_price)})
			$('.coupon_inner').animate({"height": cash_flow_layer*(total_coupon/total_price)})						
			
			return false;
		}	
	});		
}
$('#quantity').change(function(){
   countTotalPrice($('#quantity').val())
});	


//cbp
	var cbpAnimatedHeader = (function() {
	var docElem = document.documentElement,
		header = document.querySelector( '.menu' ),
		didScroll = false,
		changeHeaderOn = 300;
	function init() {
		window.addEventListener( 'scroll', function( event ) {
			if( !didScroll ) {
				didScroll = true;
				setTimeout( scrollPage, 250 );
			}
		}, false );
	}
	function scrollPage() {
		var sy = scrollY();
		if ( sy >= changeHeaderOn ) {
			classie.remove( header, 'navbar-shrink' );
		}
		else {
			classie.add( header, 'navbar-shrink' );
		}
		didScroll = false;
	}
	function scrollY() {
		return window.pageYOffset || docElem.scrollTop;
	}
	init();
//classie
	( function( window ) {	
	'use strict';	
	// class helper functions from bonzo https://github.com/ded/bonzo	
	function classReg( className ) {
	  return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
	}
	// classList support for class management
	// altho to be fair, the api sucks because it won't accept multiple classes at once
	var hasClass, addClass, removeClass;	
	if ( 'classList' in document.documentElement ) {
	  hasClass = function( elem, c ) {
	    return elem.classList.contains( c );
	  };
	  addClass = function( elem, c ) {
	    elem.classList.add( c );
	  };
	  removeClass = function( elem, c ) {
	    elem.classList.remove( c );
	  };
	}
	else {
	  hasClass = function( elem, c ) {
	    return classReg( c ).test( elem.className );
	  };
	  addClass = function( elem, c ) {
	    if ( !hasClass( elem, c ) ) {
	      elem.className = elem.className + ' ' + c;
	    }
	  };
	  removeClass = function( elem, c ) {
	    elem.className = elem.className.replace( classReg( c ), ' ' );
	  };
	}	
	function toggleClass( elem, c ) {
	  var fn = hasClass( elem, c ) ? removeClass : addClass;
	  fn( elem, c );
	}	
	var classie = {
	  // full names
	  hasClass: hasClass,
	  addClass: addClass,
	  removeClass: removeClass,
	  toggleClass: toggleClass,
	  // short names
	  has: hasClass,
	  add: addClass,
	  remove: removeClass,
	  toggle: toggleClass
	};	
	// transport
	if ( typeof define === 'function' && define.amd ) {
	  // AMD
	  define( classie );
	} else {
	  // browser global
	  window.classie = classie;
	}
})( window );
})();
</script>
