<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @product.inventory %>
</p>

<p>
  <strong>Delete c:</strong>
  <%= @product.delete_c %>
</p>

<p>
  <strong>Available c:</strong>
  <%= @product.available_c %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company %>
</p>
<%@product.product_boxings.first.product_pricings.each do |p| %>
	<%if p.quantity == 1%>
		每箱 <%= p.price.to_i  %>元
	<%else%>
		<%= p.quantity %>箱以上 <%= p.price.to_i%>元		
	<%end%>
	<br>
<%end%>
</p>
<p>

<span class="total_price"></span>元

<div class="container" >
	<div class="form-group">
		<div class="col-sm-2">	
			<%= select_tag  :quantity, options_for_select( (1..50).step(1).to_a), class: "form-control" %>				
		</div>	   
		<div class="col-sm-1">
			<button type="button" class="add_to_cart btn btn-primary" autocomplete="off">加入購物車</button>			
		</div>				
	</div>	 
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<script>
$('.add_to_cart').click(function() {
	var $btn = $(this).button('loading')	
	var request = $.ajax({
		url: "/carts/addCart",
		type: "POST",
		data: { id: <%=@product.product_boxings.first.id%>, quantity: $('#quantity').val() },
		dataType: "json"
	});
	request.done(function( message ) {
		if(message.alert_class != 'success')
			addAlert(message.alert_class, message.message)
	    $btn.button('reset')		
	    showCarts();
 		//$('.cart-dropdown-menu').dropdown('toggle');	    
	});
	request.fail(function( jqXHR, textStatus ) {
	});	

});

//total price
var pricing =  []
<%@product.product_boxings.first.product_pricings.order('quantity desc').each do |p| %>
	pricing.push({ price: <%= p.price.to_i %>, quantity: <%= p.quantity %>  })
<%end%>
countTotalPrice($('#quantity').val())
function countTotalPrice(q){	
	$.each(pricing, function( index, value ) {
		if(q >= value.quantity)	
		{
			$('.total_price').html(q*value.price)
			 return false;
		}	
	});		
}
$('#quantity').change(function(){
   countTotalPrice($('#quantity').val())
});	
</script>
<%= render partial: "comments/show", locals: { product: @product} %>