<div class="container main_frontend">
	<ol class="breadcrumb">
	  <li><a href="#">首頁</a></li>
	  <li><a href="#">合作農場</a></li>
	  <li>
	  	<a href="/companies/<%=@product.company.id %>">
	  		<%unless @product.company.county.blank?%>
	  		<%= image_tag Hash[countyImageOptions].rassoc(@product.company.county).first, height: '70' %> 
	  		<%else%>
	  		<%= image_tag Hash[countyImageOptions].rassoc('aaa').first, height: '70' %> 	  		
	  		<%end%>
	  		<%= @product.company.name %>
	  	</a>
	  </li>
	  <li class="active"><%= @product.name %></li>	
	</ol>
<p>
  <strong>農夫大頭:</strong>
 <%= image_tag @product.company.user.avatar.url, class: 'img-circle' %>
</p>

<p>
  <strong>農場描述:</strong>
  <%= @product.company.description %>
</p>


<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

基本規格
<ul>
<li>產地 <%= @product.company.county%><%= @product.company.district%></li>
<li>保存方式 <%= @product.preservation%></li>
</ul>
<%@product.product_boxings.first.product_pricings.each do |p| %>
	<%if p.quantity == 1%>	
		<%= p.price.to_i+GLOBAL_VAR['SHIPPING_RATES'] %>元(含運) <%= "%g" % @product.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(@product.unit).first %>/箱
	<%else%>
		<%= p.quantity %>箱以上 每箱<%= p.price.to_i+GLOBAL_VAR['SHIPPING_RATES'] %>元		
	<%end%>
	<br>
<%end%>
＊企業團體優惠，請聯絡客服人員
</p>


<p>

<span class="total_price"></span>元<br>
您選擇<span class="total_quantity"></span>箱，共<span class="total_price"></span>元，金流估計如下<br>
<br>
農夫所得<span class="total_farmer_get"></span>元
<br>
物流費用<span class="total_shipping_rates"></span>元
<br>
金流費用<span class="total_cash_flow"></span>元
<br>
行政費用<span class="total_administration"></span>元
<br>
回饋金<span class="total_coupon"></span>元
<br>
<abbr title=""><small>(最後數據會依實際付款金額不同而改變)</small></abbr>





	<div class="form-group">
		<div class="col-sm-2">	
			<%= select_tag  :quantity, options_for_select( (1..50).step(1).to_a), class: "form-control" %>				
		</div>	   
		<div class="col-sm-1">
			<button type="button" class="add_to_cart btn btn-primary" autocomplete="off">加入購物車</button>			
		</div>				
	</div>	 
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<script>
$('.add_to_cart').click(function() {
	var $btn = $(this).button('loading')	
	var request = $.ajax({
		url: "/carts/addCart",
		type: "POST",
		data: { id: <%=@product.product_boxings.first.id%>, quantity: $('#quantity').val() },
		dataType: "json"
	});
	request.done(function( message ) {
		if(message.alert_class != 'success')
			addAlert(message.alert_class, message.message)
	    $btn.button('reset')		
	    showCarts();
 		//$('.cart-dropdown-menu').dropdown('toggle');	    
	});
	request.fail(function( jqXHR, textStatus ) {
	});	

});

//total price
var pricing =  []
<%@product.product_boxings.first.product_pricings.order('quantity desc').each do |p| %>
	pricing.push({ price: <%= p.price.to_i %>, quantity: <%= p.quantity %>  })
<%end%>
countTotalPrice($('#quantity').val())
function countTotalPrice(q){	
	$.each(pricing, function( index, value ) {
		if(q >= value.quantity)	
		{
			
			total_price = q*value.price+q*<%=GLOBAL_VAR['SHIPPING_RATES']%>
			total_shipping_rates = q*<%=GLOBAL_VAR['SHIPPING_RATES']%>
			total_cash_flow = (q*value.price+q*<%=GLOBAL_VAR['SHIPPING_RATES']%>)*0.028
			total_coupon = (q*value.price+q*<%=GLOBAL_VAR['SHIPPING_RATES']%>)*0.04
			total_farmer_get = q*value.price -(q*value.price+<%=GLOBAL_VAR['SHIPPING_RATES']%>)*0.098
			
			$('.total_price').html( total_price ); $('.total_quantity').html(q); 
			$('.total_farmer_get').html( Math.ceil( total_farmer_get ) );	
			$('.total_shipping_rates').html( Math.ceil( total_shipping_rates ) ); 							
			$('.total_cash_flow').html( Math.ceil( total_cash_flow ) );	
			$('.total_administration').html(total_price - Math.ceil( total_farmer_get ) - Math.ceil( total_shipping_rates ) - Math.ceil( total_cash_flow ) -  Math.ceil( total_coupon ));			
			$('.total_coupon').html( Math.ceil( total_coupon ) );
				
			return false;
		}	
	});		
}
$('#quantity').change(function(){
   countTotalPrice($('#quantity').val())
});	
</script>
<%= render partial: "comments/show", locals: { product: @product} %>