<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @product.inventory %>
</p>

<p>
  <strong>Delete c:</strong>
  <%= @product.delete_c %>
</p>

<p>
  <strong>Available c:</strong>
  <%= @product.available_c %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
