

<p>
  <strong>農夫大頭:</strong>
 <%= image_tag @product.company.user.avatar.url, class: 'img-circle' %>
</p>

<p>
  <strong>農場描述:</strong>
  <%= @product.company.description %>
</p>


<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

基本規格
<ul>
<li>產地 <%= @product.company.county%><%= @product.company.district%></li>
<li>保存方式 <%= @product.preservation%></li>
</ul>
<%@product.product_boxings.first.product_pricings.each do |p| %>
	<%if p.quantity == 1%>	
		<%= @product.product_boxings.first.quantity %><%= Hash[unitOptions].rassoc(@product.unit).first %>/箱   <%= p.price.to_i  %>元
	<%else%>
		<%= p.quantity %>箱以上 每箱<%= p.price.to_i%>元		
	<%end%>
	<br>
<%end%>
＊企業團體優惠，請聯絡客服人員
</p>


<p>

<span class="total_price"></span>元<br>
您選擇<span class="total_box"></span>箱，共<span class="total_price"></span>元，您所獲得的回饋金為<span class="total_coupon"></span>元，金流去向如下




<div class="container" >
	<div class="form-group">
		<div class="col-sm-2">	
			<%= select_tag  :quantity, options_for_select( (1..50).step(1).to_a), class: "form-control" %>				
		</div>	   
		<div class="col-sm-1">
			<button type="button" class="add_to_cart btn btn-primary" autocomplete="off">加入購物車</button>			
		</div>				
	</div>	 
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<script>
$('.add_to_cart').click(function() {
	var $btn = $(this).button('loading')	
	var request = $.ajax({
		url: "/carts/addCart",
		type: "POST",
		data: { id: <%=@product.product_boxings.first.id%>, quantity: $('#quantity').val() },
		dataType: "json"
	});
	request.done(function( message ) {
		if(message.alert_class != 'success')
			addAlert(message.alert_class, message.message)
	    $btn.button('reset')		
	    showCarts();
 		//$('.cart-dropdown-menu').dropdown('toggle');	    
	});
	request.fail(function( jqXHR, textStatus ) {
	});	

});

//total price
var pricing =  []
<%@product.product_boxings.first.product_pricings.order('quantity desc').each do |p| %>
	pricing.push({ price: <%= p.price.to_i %>, quantity: <%= p.quantity %>  })
<%end%>
countTotalPrice($('#quantity').val())
function countTotalPrice(q){	
	$.each(pricing, function( index, value ) {
		if(q >= value.quantity)	
		{
			$('.total_price').html(q*value.price); $('.total_box').html(q); $('.total_coupon').html(q*value.price*0.04)			
			 return false;
		}	
	});		
}
$('#quantity').change(function(){
   countTotalPrice($('#quantity').val())
});	
</script>
<%= render partial: "comments/show", locals: { product: @product} %>