<% content_for :title do %>
    <title><%= @product.name %> | <%=@product.company.name%> | 小農1號線上水果平台</title>  
<% end %>
<% content_for :show_fb do %>
    <meta property="og:url" content="<%=Rails.configuration.smallfarmer01_host%>/products/<%=@product.id%>" />
    <meta property="og:type" content="website" />  	
  	<meta property="og:title" content="<%= @product.name %><%if @product.product_boxings.first.quantity%><%= "%g" % @product.product_boxings.first.quantity %><%end%><%if @product.unit%><%= Hash[unitOptions].rassoc(@product.unit).first %><%end%> <%= priceWithShippingRates( product_boxing: @product.product_boxings.first, quantity: @product.product_boxings.first.product_pricings.first.quantity) %>元 | <%=@product.company.name%> | 小農1號線上水果平台" />
  	<meta property="og:description" content="<%= @product.description%>" />
	<meta property="og:image" content="<%if @product.cover%><%=Rails.configuration.smallfarmer01_host%><%= @product.cover.url()%><%end%>" />
	<meta name="description" content="<%= @product.description%>" />
<% end %>
<% inventory = 0 %>
<%if @product.inventory%>
	<% inventory = @product.inventory - Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ? and invoices.allpay_expired_at > ? ', @product.product_boxings.first.id, false, Time.zone.now ).sum(:quantity) %>		
<%end%>	
<div class="container-fluid" itemscope itemtype="http://schema.org/Product">
	<div class="row" style="">
		<div id="parallax1" class="product_cover_parallax_parent">
			<div style="background-image: url('<%=@product.cover.url%>'); background-size: cover; background-position: center center;"></div>
		</div>	
	</div>		
</div>	
<div class="container" itemscope itemtype="http://schema.org/Product" style="margin-bottom: 50px;">	
	<ol class="breadcrumb hidden-xs" style="margin-top: 0px;">
	  <li><%= link_to '首頁', root_url %></li>
	  <li><%= link_to '各地小農', controller: 'main', action: 'farms'%></li>
	  <li>
	  	<a href="/companies/<%=@product.company.id %>">
	  		<%unless @product.company.county.blank?%>
	  		<%= image_tag Hash[countyImageOptions].rassoc(@product.company.county).first, height: '70' %> 
	  		<%else%>
	  		<%= image_tag Hash[countyImageOptions].rassoc('南海諸島').first, height: '70' %> 	  		
	  		<%end%>
	  		<%= @product.company.name %>
	  	</a>
	  </li>
	  <li class="active"><%= @product.name %></li>		  
	</ol>			
	<div class="row">		
		<div class="hidden-xs col-sm-12">	
			<div class="product_farm_words"> 
            <div class="avatar_circle product_farm_words_avatar" style="  background-image: url(<%=@product.company.user.avatar.url%>);">
            </div>			
			<%= link_to @product.company do%>
				<div class="product_farm_words_text">	
					<%= truncate( @product.company.words, length: 120, omission: '... more') %>
				</div>
			<%end%>
			</div>
		</div>			
		<div class="hidden-sm hidden-md hidden-lg col-xs-12 product_farm_words text-center">		
			<div>
            	<div class="avatar_circle product_farm_words_avatar" style="background-image: url(<%=@product.company.user.avatar.url%>);" itemprop="image" >
            	</div>					
				<%= link_to @product.company do%>				
					<div class="col-xs-12 product_farm_words_text">	
						<%= truncate( @product.company.words, length: 120, omission: '... more') %>
					</div>
				<%end%>				
			</div>
		</div>	
	</div>	
	<div class="row product_carousel_add_to_cart_container">
		<div class="col-md-7">		
			<%= render partial: "products/product_carousel" %>								
		</div>
		<div class="col-md-5">
			<div class="row" style="margin-top: 20px;">			
		      <div class="col-xs-offset-0 col-xs-8 col-md-offset-1 col-md-8 ">        
		        <div class="" style="">
		        	<div class="product_name text-left"><%= @product.name %></div>	      
		      	</div>
		      </div>	
		      <div class="col-xs-4 col-md-3 text-right" style="margin-top: 20px;">
				<div class="fb-share-button" data-href="<%=Rails.configuration.smallfarmer01_host%>/products/<%=@product.id%>" data-layout="button_count"></div>		      
		      </div>      		      		      
		    </div>	
		    <!--
			<div class="row">
		      <div class="col-xs-offset-0 col-xs-8 col-md-offset-1 col-md-8 product_excellent text-left">
		        	<span class="product_excellent_no" data-count='<%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_score = ? and review_at IS NOT NULL', @product.id, GLOBAL_VAR['ORDER_REVIEW_DELICIOUS']).count+Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and review_score = ? and review_at IS NOT NULL ', @product.id, GLOBAL_VAR['ORDER_REVIEW_TASTY']).count %>'>0</span>
		        	<span class="product_excellent_text"> 人說好吃</span>
		        	<span><%= Order.joins(product_boxing: :product, invoice: {} ).where('products.id = ? and invoices.confirmed_c = ? and review_at IS NULL', @product.id, true).count%>人未評</span>
		      </div>					
		      <div class="col-xs-4 col-md-3 text-right" style="margin-top: 20px;">
				<div class="fb-share-button" data-href="<%=Rails.configuration.smallfarmer01_host%>/products/<%=@product.id%>" data-layout="button_count"></div>		      
		      </div>
		    </div>
		    -->			    	
		    
			<% unpaid = 0 %>  
			<% @product.product_boxings.each do |p_b| %>  
			    <% unpaid_quantity = Order.joins(product_boxing: {}, invoice: {} ).where('product_boxings.id = ? and invoices.confirmed_c = ? and invoices.allpay_expired_at > ? ', p_b.id, false, Time.zone.now ).sum(:quantity) %>        
			    <% if unpaid_quantity != 0 %> 
			    	<% unpaid = unpaid + unpaid_quantity*p_b.quantity %> 
			    <% end %> 
			<% end %>  		    
			<% inventory = @product.inventory %>
			<% sold_out = true%>							
			<div class="row product_price" style="margin-top: 10px;">
				<div class="col-md-offset-1 col-md-11 text-left">選擇包裝</div>									
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="col-md-offset-1 col-md-11">
					<div class="btn-group product_btn_group" data-toggle="buttons">
						<%@product.product_boxings.where(deleted_c: false).each do |p_b| %>
							<%if p_b.quantity <= (inventory - unpaid)%>
							<% sold_out = false%>
			                <label class="btn btn-default product_orange_btn <%if @product.discount!=1%>discount<%end%>">
			                    <input type="radio" name="product_boxing" autocomplete="off" value="<%=p_b.id%>" /> 
			                    <%if p_b.quantity%><%= "%g" % p_b.quantity %><%end%><%if @product.unit%><%= Hash[unitOptions].rassoc(@product.unit).first %><%end%> 		              	                
				                <%if @product.discount!=1%>
									<small><s><%= p_b.product_pricings.where(quantity: 1).first.price.to_i + shippingRates(cold_chain: @product.cold_chain, box_size: p_b.size, quantity: 1) %></s></small> <span class="text-danger"><%= priceWithShippingRates( product_boxing: p_b, quantity: 1 ) %>元</span>
								<%else%>
									<span><%= priceWithShippingRates( product_boxing: p_b, quantity: 1 ) %>元</span>								
								<%end%>		                
			                </label> 
			                <%end%>						
						<%end%>
		           	</div>
	           	</div>
			</div>								
			<div class="row product_price" style="margin-top: 10px;">
				<div class="col-md-offset-1 col-md-11">	
					 <% select_max = sold_out ? 0 : 30%>		
					<%= select_tag  :quantity, options_for_select( (1..select_max).map {|i| ['數量:  '+i.to_s+'箱', i] }   ), class: "form-control", style: 'height: 30px; padding: 3px 12px' %>				
				</div>	  
			</div>						
			<div class="row" style="margin-top: 22px;">	
				<div class="col-md-offset-1 col-md-11 text-center">
					<div style="border-top: 1px solid #E7E7E7;"></div>								
					<div class="product_promote">
					<span class="bargain_quantity"></span>箱以上，每箱 <span style="font-size: 120%; color: #FF5600"><span class="bargain_price"></span>元</span>
					</div>
				</div>								
			</div>						
			<%if @product.released_at%>
				<%if @product.released_at > Time.zone.now %>
				<div class="row" style="margin-top: 20px;">								
					<div class="col-md-offset-1 col-md-11">						
						<div class='product_released_at'>[預購商品] <%= @product.released_at.strftime("%Y-%m-%d") %>起陸續出貨</div> 
					</div>							
				</div>	
				<%else%>
					<%if @product.shipping_time != 0%>
					<div class="row" style="margin-top: 20px;">								
						<div class="col-md-offset-1 col-md-11">						
							<div class='product_shipping_time_container'>
								<%=render partial: "products/shipping_time", locals: { product: @product}%>
							</div> 
						</div>						
					</div>	
					<%end%>					
				<%end%>
			<%else%>
				<%if @product.shipping_time != 0%>
				<div class="row" style="margin-top: 20px;">								
					<div class="col-md-offset-1 col-md-11">						
						<div class='product_shipping_time_container'>
							<%=render partial: "products/shipping_time", locals: { product: @product}%>
						</div> 
					</div>						
				</div>	
				<%end%>						
			<%end%>								
			<div class="row" style="margin-top: 20px;">								
				<div class="col-md-offset-1 col-md-11">													  				      
					<%if sold_out%>
						<a class="cart_unavailable btn light_gray_btn center-block" disabled="disabled">已搶購完</a>			
					<%else%>
						<%if user_signed_in?%>
								<%=image_tag 'cart_icon.png', class: 'cart_icon_product', style: 'height: 30px; position: absolute; right: 50%; top: 5px; z-index: -1' %>	
								<a class="add_to_cart add_to_cart_action btn orange_btn center-block">加入購物車</a>			
						<%else%>
							<%= form_tag  '/carts/addCart', method: 'get', class: 'add_to_cart_form' do %>				  	
							  	<a class="add_to_cart btn orange_btn center-block", onclick='$(".add_to_cart_form").submit();'>加入購物車</a>	
							<% end %>							
						<%end%>
					<%end%>		
					<!--				
				  		<div style="display: inline-block; margin-right: 15px; margin-top: 3px; color: #B5841B" class="text-center pull-right">				  			
					  		<div>					
					  		<%=image_tag 'coupons_icon.png', class: 'coupons_icon_product', style: 'height: 40px;' %>			  													  												
							<div style="margin-top: -30px"><span style="font-size: 130%;" class="coupons_est"></span><span style="font-size: 80%;">元</span></div>
							</div>	
						</div>	
					  	<div class="pull-right" style="color: #B5841B; font-size: 18px; margin-top: 13px; margin-right: 10px;">
					  		最多獲得回饋金			  				
					  	</div>	
					 --> 							
				</div>	
				<!--				
				<div class="hidden-md hidden-lg col-xs-6">			  	
				  	<div class="pull-right" style="color: #B5841B" class="text-center">				  			
				  		<%=image_tag 'coupons_icon.png', class: 'coupons_icon_product', style: 'height: 50px;' %>			  													  												
						<div style="margin-top: -40px"><span style="font-size: 24px;" class="coupons_est"></span><span style="font-size: 100%;">元</span></div>
					</div>	
					<div class="pull-right" style="color: #B5841B; font-size: 16px; margin-top: 13px; margin-right: 10px;">
					回饋金約			  				
					</div>
				</div>	-->				
			</div>		
		</div>
	</div>	
	<div class="row" style="font-size: 16px;">
		<div class="col-md-7" style="margin-top: 40px; margin-bottom: 40px;">
			<div class="row" style="margin-bottom: 50px;">		
				<div class="col-sm-10">
					<div class="section_title">關於<%= @product.name %></div>
				</div>					
			</div>
			<div class="row" style="margin-bottom: 20px;">		
				<div class="col-sm-10">
					<div class="section_sub_title">基本規格</div>
				</div>					
			</div>	
			<%= render partial: "products/product_details" %>							
			<div class="row" style="margin-bottom: 20px; margin-top: 30px;">		
				<div class="col-sm-10">
					<div class="section_sub_title">商品介紹</div>
				</div>					
			</div>						
			<div class="row">		
				<div class="col-sm-10">
				<%= simple_format( @product.description, {class: 'product_description', itemprop: "description"}, wrapper_tag: "div")%>												
				</div>								
			</div>	
			<div class="row">		
				<div class="col-sm-12" style="margin-top: 40px;">
					<div style="border-top: 1px solid #e7e7e7;"></div>
				</div>					
			</div>											
			<%= render partial: "products/product_images" %>	
			<div class="row">		
				<div class="col-sm-12" style="margin-top: 40px;">
					<div style="border-top: 1px solid #e7e7e7;"></div>
				</div>					
			</div>					
			<div class="row" style="margin-top: 40px; margin-bottom: 40px;">		
				<div class="col-sm-12">			
					<div class="section_title">留言</div>	
				</div>					
			</div>										
			<%= render partial: "comments/show", locals: { product: @product} %>								
		</div>
		<div class="col-md-5" style="margin-top: 40px; margin-bottom: 40px;">
			<div class="row" style="margin-bottom: 50px;">		
				<div class="col-md-offset-1 col-md-11">
					<div class="section_title">顧客評價</div>
				</div>					
			</div>		
			<div class="row" style="margin-bottom: 20px;">		
				<div class="col-md-offset-1 col-md-11">
					<span class="section_sub_title">好吃評價</span><span class="review_score_from"> 自 <%=@product.created_at.strftime("%Y 年 %m 月 %d 日") %> 累積至今</span>
				</div>					
			</div>								
			<%= render partial: "products/review_score", locals: { product: @product} %>			
			<div class="row" style="margin-top: 50px; margin-bottom: 20px;">		
				<div class="col-md-offset-1 col-md-11">
					<span class="section_sub_title">最新評價</span>
				</div>					
			</div>			
			<%= render partial: "products/review_feedback", locals: { product: @product} %>									
			<div class="row" style="margin-top: 50px; margin-bottom: 20px;">		
				<div class="col-md-offset-1 col-md-11">
					<span class="section_sub_title">出貨速度評價</span>
				</div>					
			</div>	
			<div class="row shipment_review_container" style="margin-top: 15px;">		
				<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-10">								
					<%=image_tag 'delivery_statis_'+deliveryStatisticsColor(product: @product)+'.png'%>					
				</div>					
			</div>	
			<!--	
			<div class="row">		
				<div class="col-lg-11" style="margin-top: 40px;">
					<div style="border-top: 1px solid #e7e7e7;"></div>
				</div>					
			</div>				
			<div class="row" style="margin-bottom: 40px; margin-top: 50px;">		
				<div class="col-lg-11">
					<div class="section_title">金流去向</div>
				</div>					
			</div>
			<%= render partial: "products/cash_flow" %>				
			-->			
		</div>		
	</div>			
	<div class="row">
		<div class="col-xs-12" style="margin-bottom: 20px; margin-top: 40px;">		
			<div style="border-top: 1px solid #e7e7e7;"></div>
		</div>		
	</div>	
	<div class="row" style="margin-bottom: 20px; margin-top: 40px">		
		<div class="col-xs-12">
			<div class="section_title">推薦產品</div>
		</div>					
	</div>
	<%= render partial: "products/recommendation" %>											
</div>				
<%= render 'show_script' %>