<div class="container-fluid">
	<div class="row">
        <div class="col-sm-3 col-lg-2 sidebar">
          <%=link_to current_user.companies.first do%>
		  <svg width="160" height="100" class="center-block">
			  <defs>
				 <clipPath id="clipPolygon">
      				<path d="M80,0 L160,60 L160,160 L0,160 L0,60z" />
				 </clipPath>
			  </defs>
			  <image clip-path="url(#clipPolygon)" xlink:href="<%=current_user.companies.first.cover.url%>" width="160px" height="130px"  />
		  </svg>    		      
          <div class="sidebar_info_title"><%=current_user.companies.first.name%></div>      
          <%end%>
          <ul class="description-sidebar hidden-xs">         	
	          <li>
	          	<div class='description-sidebar-container'>
				<div style="display:table-cell; padding-right: 8px;" class="glyphicon glyphicon-earphone" aria-hidden="true"></div> 	      		
	      		<%if current_user.companies.first.phone_no.blank?%>
	      		--
	          	<%else%>
	          	<%= current_user.companies.first.phone_no.gsub(/^\+886/, '0') %>		          	
	          	<%end%>
	          	</div>
	          </li>    
	          <li>
	          	<div class='description-sidebar-container'>	          
	          	<div style="display:table-cell; padding-right: 8px;" class="glyphicon glyphicon-home" aria-hidden="true"></div> 
	          	<%if current_user.companies.first.postal%>  
	          	<div style="display:table-cell;">
	          		  <%= current_user.companies.first.postal %>
	          		  <%= current_user.companies.first.county %><%= current_user.companies.first.district %><%= current_user.companies.first.address %>
	          	</div>    		
	          	<%else%>
	          	--
	          	<%end%>
	          	</div>
	          </li> 	          	
          </ul>      
          <div class="sidebar_info_more hidden-xs">
          	<%if current_user.companies.first.description%>
			<%= truncate( current_user.companies.first.description, length: 122, omission: '...') %>          	
          	<%else%>
          	--
          	<%end%>
          </div>                  	
          <ul class="nav nav-sidebar">
			<li <%= active( controller: '/companies', action: 'edit', id: current_user.companies.first.id)%>><%= link_to "農場資訊", edit_company_path(current_user.companies.first) %></li>
          </ul>        	    
        </div>
        <div class="col-sm-9 col-lg-10 main_backend">
			<ul class="nav nav-tabs main_backend-tabs">
			  <li <%= active( controller: 'orders', action: 'index' )%> ><%= link_to "管理出貨", controller: 'orders', action: 'index', called_smallfarmer_c: 'false'%></li>
			  <li <%= active( controller: '/products')%>><%= link_to "管理水果", products_url %></li>			
			</ul>      
			<div class="main_backend-tab-content">  	
			<%= yield %>
    		</div>
    	</div>
	</div>
</div>
