<head>
  <% if content_for? :title %>
  	<%= yield :title %>
  <%else%>
  <title>小農1號，從源頭找回安心</title>  
  <%end%>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">	  
  <% if content_for? :show_fb %>
    <%= yield :show_fb %>
  <% else %>  
  	<meta name="image" content="<%= image_url 'logo_600x600_text.jpg'%>" />
  	<meta name="thumbail" content="<%= image_url 'logo_600x600_text.jpg'%>" />
  	<meta property="og:image" content="<%= image_url 'logo_600x600_text.jpg'%>" />  
  <% end %>  
	<meta name="description" content="台灣唯一第三方農產品交易平台。每位小農都可擁有專屬的個人線上通路，將安心好吃的產地農產品，用合理的價格，交給消費者。" />  
  <%= favicon_link_tag 'logo.png' %>
  <%= favicon_link_tag 'logo_180x180.jpg', rel: 'apple-touch-icon' %> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
  
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','//connect.facebook.net/en_US/fbevents.js');
	fbq('init', '932378513503449');
	fbq('track', "PageView");
	
	fbq('track', 'ViewContent');
	fbq('track', 'AddToWishlist');
	fbq('track', 'AddPaymentInfo');
	fbq('track', 'Lead');
	
	fbq('track', 'Search');
	fbq('track', 'AddToCart');
	fbq('track', 'InitiateCheckout');		
	fbq('track', 'CompleteRegistration');		
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=932378513503449&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->	
</head>