<nav class="navbar navbar-default navbar-fixed-top menu">
	<div class="container-fluid">
    	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
 		  <%=link_to root_url, class: 'navbar-brand' do%>
			小農1號
		  <%end%>         
        </div>
        <div id="navbar" class="navbar-collapse collapse">    
          <ul class="nav navbar-nav hidden-xs">
            <li><a href="#" style="font-size: 17px; color: #536132; ">本站水果</a></li>
            <li><a href="#about" style="font-size: 17px; color: #536132; ">合作農場</a></li>
          </ul>          	            	   	
          <form class="navbar-form navbar-left">
            <input type="text" class="form-control rounded" placeholder="搜尋水果、農場&hellip;">
    		<button type="submit" class="btn btn-default hidden-xs" style="border: none; background: none; color: #536132;"><span class="glyphicon glyphicon-search"></span></button>
    	  </form>  	      	      	
          <ul class="nav navbar-nav navbar-right">
			<%if user_signed_in?%>          	
	            <li><a href="/coupons/index" class="menu_right">
					<%= image_tag 'coupons_icon.png', class: '', style: '' %>	            	
			        <span class='mobile_menu_label'>回饋金</span>	            	
	            	<span class="menu_coupons"><%=coupons %></span>	            	
	            	</a>
	            </li>
	           	<li><a class="dropdown-toggle menu_right" onmouseover="showCarts();" href="#" data-toggle="dropdown" aria-expanded="false">
						<%= image_tag 'cart_icon.png', class: '', style: '' %>	            	
		            	<span class='mobile_menu_label'>購物車<span class="caret"></span></span>
						<span class="badge badge-danger carts_badge"><%=carts%></span>		            	
		            	<span class="sr-only">Toggle Dropdown</span>
		            </a>
		            <div class="dropdown-menu cart-dropdown-menu" role="menu">
		            	<ul style="margin: 0; padding: 0; list-style: none; color: #000000" class="cart_lists">
		            	</ul>
		            	<div class='cart_label_container'>
		            	<span class="cart_label">總計</span><span class="cart_total">1000</span>元
		            	</div>
						<%= form_tag('/orders/checkout') do -%>
						<button class="btn btn-default checkout_btn center-block" type="submit">結帳</button>
						<% end -%>		            	
		            </div>	                 
	          	</li>
	            <li><a href="#" class="menu_right">
					<%= image_tag 'notification_icon.png', class: '', style: '' %>	            	
		            <span class='mobile_menu_label'>訊息中心</span>	            	
	            	<span class="badge badge-danger">3</span>
	            	</a>
	            </li>
				<li><a href="#" class="dropdown-toggle menu_right" data-toggle="dropdown" aria-expanded="false" >					
					<%= image_tag current_user.avatar.url, class: 'img-circle', style: '' %>
		            <span class='mobile_menu_label'><%=current_user.last_name+' '+current_user.first_name%><span class="caret"></span></span>					
					<span class="sr-only">Toggle Dropdown</span>
					</a>
					<ul class="dropdown-menu manage_lists" role="menu">
						<li><%= link_to "管理農場", edit_company_path(current_user.companies.first) %></li>						
						<li><%= link_to "個人管理", edit_user_path(current_user) %></li>
						<li><%= link_to '登出', destroy_user_session_path, :method => :delete %></li>
					</ul>			
				</li>     
			<%else%>	
				<li><%= link_to "註冊", new_user_registration_path %></li>
				<li><%= link_to "登入", new_user_session_path %></li>
			<%end%>					       
          </ul>
        </div>
	</div>
</nav>

<script>
function showCarts(){
	var request = $.ajax({
		url: "/carts/showCarts",
		type: "GET",
		data: {},
		dataType: "json"
	});
	request.done(function( message ) {
		$(".cart_lists").empty();
		var q = 0; var total_price = 0;
		$.each(  message , function( i, l ){					
			$(".cart_lists").append('<li><a href="/products/'+l.id+'">'+
			'<img  class="cart_image img-circle" src="'+l.image_url+'"><div class="cart_content">'+
			l.name+
			'<div style="margin-top: 7px;"><span class="cart_label"></span>'+l.quantity+'箱</div>'+
			'<div><span class="cart_label"></span>'+l.price+'元</div></div></a></li>')
			q = q + l.quantity	
			total_price  = total_price + l.price
	 	});
	 	$('.cart_total').html(total_price);
	 	if(q!=0)
	 		$('.carts_badge').html(q);
	 	else
	 		$('.carts_badge').html('');	
	});
	request.fail(function( jqXHR, textStatus ) {
	});		
}
</script>