<div class="container-fluid">
	<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
		  <%= image_tag current_user.avatar.url, class: 'img-circle sidebar_user_img center-block'  %>        	
          <div class="sidebar_info_title"><%=current_user.last_name%> <%=current_user.first_name%></div>      
          <ul class="description-sidebar">
	          <li>
	      		<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
	          	<%= current_user.email%>
	          </li>          	
	          <li>
	      		<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
	          </li>    
          </ul>
          <ul class="nav nav-sidebar">
			<li <%= active( controller: 'invoices', action: 'index' )%> ><%= link_to "管理訂單", controller: 'invoices', action: 'index'%></li>
			<li <%= active( controller: 'coupons', action: 'index' )%>><%= link_to "回饋金", controller: 'coupons', action: 'index'%></li>
			<li <%= active( controller: 'users', action: 'edit', id: current_user)%>><%= link_to "個人資訊", edit_user_path(current_user) %></li>			
			<li <%= active( controller: 'registrations', action: 'edit')%>><%= link_to "更改密碼", edit_user_registration_path %></li>          
          	<li><%= link_to '登出', destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main_backend" style="border-left: solid 1px #526031;">
			<%= yield %>
    	</div>
	</div>
</div>