<!DOCTYPE html>
<html>
<%=render "layouts/header" %>
<body data-spy="scroll" data-target=".navbar-second" data-offset="10">
<%=render "layouts/menu" %>
<%= yield %>
<%=render "layouts/footer" %>
<%=render "layouts/script" %> 
</body>
</html>