<!DOCTYPE html>
<html>
<head>
  <title>小農1號</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">	  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render "layouts/menu" %>
<%= yield %>

<script>  	
var alert_class = {success: 'alert-success', error: 'alert-danger', alert: 'alert-warning', notice: 'alert-info'}; 
function addAlert(type, message) {
	var $div_alert = $("<div>", {class: "alert alert-dismissible fade in "+alert_class[type]});
	$div_alert.append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>')
	$div_alert.append(message)
	$div_alert.fadeTo(4000, 500).slideUp(500, function(){
		$div_alert.alert('close');
	});	
	$('body').prepend($div_alert);
}
<% flash.each do |type, message| %>
	addAlert('<%=type%>', '<%=message%>')
<% end %>
</script>
</body>
</html>
