<!DOCTYPE html>
<html>
<%=render "layouts/header" %>
<body>
<%=render "layouts/menu" %>
<%= yield %>
<script>  	
	<% flash.each do |type, message| %>
		toastr["<%=type%>"]('<%=message%>')	
	<% end %>
</script>	 
</body>
</html>