<!DOCTYPE html>
<html>
<head>
  <title>小農1號</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">	  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each_with_index do |(type, message), i| %>
  <div class="alert <%= alert_class_for(type) %> flash_<%=i%> alert-dismissible fade in">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= message.html_safe %>
  </div>
<% end %>
<%=render "layouts/menu" %>
<div class="main">
	<%= yield %>
</div>
<script>
<% flash.each_with_index do |(type, message), i| %>
	$(".flash_<%=i%>").fadeTo(4000, 500).slideUp(500, function(){
    	$(".flash_<%=i%>").alert('close');
    }); 
<% end %>
</script>
</body>
</html>
