<!DOCTYPE html>
<html>
<%=render "layouts/header" %>
<body>
<%=render "layouts/menu" %>
<%=render "layouts/company_menu" %>
<%=render "layouts/footer" %>
<%=render "layouts/script" %> 	
</body>
</html>