<!DOCTYPE html>
<html>
<%=render "layouts/header" %>
<body>
<nav class="navbar navbar-default navbar-fixed-top menu">
	<div class="container-fluid">
    	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
 		  <%=link_to root_url, class: 'navbar-brand' do%>
			<%=image_tag 'smallfarmer01.png', style: 'height: 30px; margin-top: -5px;' %>
		  <%end%>        
        </div>
        <div id="navbar" class="navbar-collapse collapse">   
          <ul class="nav navbar-nav hidden-xs">
            <li><%= link_to '訂單列表', {controller: 'management', action: 'invoices', paid_c: true}, style: "font-size: 17px; color: #536132;" %></li>
            <li><%= link_to '出貨單列表', {controller: 'management', action: 'orders', called_smallfarmer_c: false, called_logistics_c: false}, style: "font-size: 17px; color: #536132;" %></li>            
            <li><%= link_to '帳單列表', {controller: 'management', action: 'bills'}, style: "font-size: 17px; color: #536132;" %></li>                        
            <li><%= link_to '回饋金列表', {controller: 'management', action: 'coupons'}, style: "font-size: 17px; color: #536132;" %></li>                                    
            <li><%= link_to '農場列表', {controller: 'management', action: 'companies', activated_c: true}, style: "font-size: 17px; color: #536132;" %></li>
            <li><%= link_to '商品列表', {controller: 'management', action: 'products'}, style: "font-size: 17px; color: #536132;" %></li>            
            <li><%= link_to '使用者列表', {controller: 'management', action: 'users'}, style: "font-size: 17px; color: #536132;" %></li>          
          </ul>        	 	      	      	
          <ul class="nav navbar-nav navbar-right">
			<%if user_signed_in?%>          	
				<li><a href="/invoices/index" class="menu_right">					
					<%= image_tag current_user.avatar.url, class: 'img-circle', style: '' %>
		            <span class='mobile_menu_label'><%if current_user.last_name%><%=current_user.last_name+' '+current_user.first_name%><%end%></span>					
					</a>			
				</li>      
			<%else%>	
				<li><%= link_to "註冊", new_user_registration_path %></li>
				<li><%= link_to "登入", new_user_session_path %></li>
			<%end%>					       
          </ul>
        </div>
	</div>
</nav>	
<div class="container-fluid main_frontend">
	<div class="row">
        <div class="col-sm-12">
			<%= yield %>
    	</div>
	</div>
</div>
<%=render "layouts/script" %> 
</body>